<h2 class="p-3 text-3xl text-center">
	<a href="/h">
		Pargo 🐟
	</a>
</h2>
<main class="flex flex-col grow w-full max-w-xl gap-4 p-2 mx-auto">
	{{ block "busqueda_input" . }}
	<div>
		<input class="form-control"
			hx-get="/buscar"
			hx-push-url="true"
			type="search"
			name="q"
			placeholder="Buscar..."
			>
	</div>
	{{ end }}
	
	<h2 class="opacity-75 flex items-end">
		<span class="grow font-bold text-xl">
			Resultados
		</span>
		<small class="text-xs font-normal">
			{{ len .Resultados }} coincidencias para '{{ .Busqueda }}'
		</small>
	</h2>

	{{ range .Resultados -}}
	<a class="border-cyan-800 flex hover:bg-cyan-700 transition-colors border rounded-md shadow-md"
		hx-boost="true"
		hx-push-url="true"
		href="/h/{{ .HistoriaID }}"
		>
		<span class="p-2 grow truncate">
			{{ .Subrallado }}
		</span>
		<div class="min-w-8 px-2 leading-none text-xs bg-cyan-800 flex items-center justify-center rounded-r-md">
			{{- if or (eq .Origen "tit") (eq .Origen "obj") (eq .Origen "des") }}H
			{{- else if or (eq .Origen "tar") (eq .Origen "imp") }}T
			{{- else if eq .Origen "reg" }}R
			{{- else if eq .Origen "via" }}V
			{{- else }}{{ .Origen }}
			{{- end -}}
		</div>
	</a>
	{{ end }}
	
</main>
