{{ with .Agregado -}}
<header class="relative flex items-center w-full bg-cyan-950 shadow-lg">
	<div class="p-1">
		<img
			data-proyecto-id="{{ .Proyecto.ProyectoID }}"
			src="{{ if .Proyecto.Imagen }}/imagenes/{{ .Proyecto.Imagen }}{{ else }}/assets/img/Elegantthemes-Softies-Tools.256.png{{ end }}"
			alt="Portada del proyecto"
			class="w-24 rounded-md">
	</div>
	<div class="w-full p-2">
		<h2 class="text-2xl font-medium">
			<a href="/proyectos/{{ .Proyecto.ProyectoID }}">
				{{ enfatizar .Proyecto.Titulo }}
			</a>
		</h2>
		<h3 class="flex items-center gap-1 py-1">
			<span class="px-2 py-1 font-mono text-sm bg-black bg-opacity-40 rounded-md"><i class="fa-solid fa-person"></i></span>
			<span class="text-xl">{{ .Persona.Nombre }}</span>
		</h3>
	</div>
	<span class="absolute right-2 top-2">
		<a href="/personas/{{ .Persona.PersonaID }}" class="px-2 py-1 transition-opacity bg-red-800 rounded-md opacity-75 hover:opacity-100"><i class="fa-solid fa-xmark"></i></a>
	</span>
</header>


<main
	hx-get="/historias/{{ .Historia.HistoriaID }}"
	hx-target="this" hx-select="main" hx-swap="outerHTML"
	hx-trigger="reloadHistoria"
	class="grow w-full max-w-5xl p-2 mx-auto">

	<div class="flex flex-wrap justify-end gap-x-4 gap-y-2">
		<!--* PERSONA  -->
		<h4 class="grow">
			<span class="opacity-50">Como</span>
			<a href="/personas/{{ .Persona.PersonaID }}" class="text-lg lowercase transition-colors hover:text-cyan-600">{{ .Persona.Nombre }}</a>
			<span class="opacity-50">quiero...</span>
		</h4>
		<!--* PRIORIDAD -->
		<div>
			<select
				hx-patch="/historias/{{ .Historia.HistoriaID }}/prioridad"
				hx-swap="none"
				name="value"
				class="form-control">
				<option value="0" {{ if eq .Historia.Prioridad 0 }}selected{{ end }}>🚫 Won't</option>
				<option value="1" {{ if eq .Historia.Prioridad 1 }}selected{{ end }}>😶‍🌫️ Could</option>
				<option value="2" {{ if eq .Historia.Prioridad 2 }}selected{{ end }}>🤔 Should</option>
				<option value="3" {{ if eq .Historia.Prioridad 3 }}selected{{ end }}>🤩 Must</option>
			</select>
		</div>
		<!--* COMPLETADA -->
		<div>
			<select
				hx-patch="/historias/{{ .Historia.HistoriaID }}/completada"
				hx-swap="none"
				name="value"
				class="form-control">
				<option value="0">Pendiente</option>
				<option value="1" {{- if .Historia.Completada }} selected{{ end }}>✅ Completada</option>
			</select>
		</div>
	</div>

	<!--* ANCESTROS *-->
	{{ if .Ancestros }}
	<div class="pl-4">
		{{ range $i, $v := .Ancestros }}
		<ul class="pl-2 list-disc">
			<li class="pt-1">
				<a href="/historias/{{ .HistoriaID }}" title="Ir al ancestro"
					class="text-cyan-600 whitespace-pre-line transition-colors hover:text-cyan-400">
					{{- enfatizar .Titulo -}}...
				</a>
		{{ end }}
		{{ range .Ancestros -}}
			</li>
		</ul>
		{{ end }}
	</div>
	{{ end }}

	<!--* TÍTULO -->
	<div class="mt-2 mb-1">
		<textarea
			hx-patch="/historias/{{ .Historia.HistoriaID }}/titulo"
			hx-swap="none"
			name="value"
			placeholder="Hacer algo de valor..."
			rows="1"
			enterkeyhint="done"
			class="w-full px-2 py-1 text-2xl font-medium text-white bg-transparent border-b border-cyan-800 outline-none focus:border-blue-400">
			{{- .Historia.Titulo -}}
		</textarea>
	</div>

	<!--* CONTEXTO -->
	<div class="mb-4">
		<textarea
			hx-patch="/historias/{{ .Historia.HistoriaID }}/objetivo"
			hx-swap="none" 
			hx-trigger="change, keyup changed delay:60s"
			name="value"
			placeholder="Descripción del contexto..."
			rows="1"
			enterkeyhint="done"
			class="w-full px-2 py-1 text-base font-medium bg-transparent border-b border-cyan-800 outline-none max-h-96 focus:border-blue-400 text-white/75 focus:text-white placeholder:text-slate-600">
			{{- .Historia.Objetivo -}}
		</textarea>
	</div>

	<!--* VIAJE DE USUARIO *-->
	<h3 class="mb-2 text-xl text-cyan-600">Viaje de usuario</h3>
	<ol tipo="sort_tramos" class="mb-6">
		{{ range .Tramos -}}
		<li tipo="sort_tramo" class="flex flex-col items-start">
			<div class="flex w-full gap-1 p-1 group">
				<div tipo="sort_handle" class="hidden transition-opacity opacity-0 cursor-pointer md:block group-hover:opacity-100">
					⣿
				</div>
				<div>
					<span class="px-2 py-1 mr-1 font-mono text-xs rounded-md opacity-50 bg-black/50 whitespace-nowrap">
						{{ .Posicion }}
					</span>
				</div>
				<textarea
					id="input_Tramo{{ .Posicion }}"
					hx-patch="/historias/{{ .HistoriaID }}/viaje/{{ .Posicion }}"
					hx-target="main" hx-select="main" hx-swap="outerHTML"
					name="texto"
					rows="1"
					enterkeyhint="done"
					class="inline-block w-full text-white bg-transparent border-b border-transparent outline-none read-only:border-transparent invalid:border-red-500 invalid:focus:border-red-500 placeholder:text-slate-600 read-only:focus:border-transparent focus:border-blue-400">
					{{- .Texto -}}
				</textarea>
				<div class="flex gap-2">
					{{ if not .Imagen -}}
					<button
						type="button"
						onclick="showTramoImgModal('{{ .HistoriaID }}','{{ .Posicion }}','{{ .Texto }}','{{ .Imagen }}')"
						title="Definir imagen"
						class="ml-1 transition-opacity opacity-0 cursor-pointer group-hover:opacity-80 focus:opacity-80">
						<i class="fa-solid fa-image"></i>
					</button>
					{{ end }}
					<button
						type="button"
						onclick="showMoverTramo('{{ .HistoriaID }}','{{ .Posicion }}','{{ .Texto }}')"
						title="Mover tarea"
						class="ml-1 transition-opacity opacity-0 cursor-pointer group-hover:opacity-80 focus:opacity-80">
						<i class="fa-solid fa-person-walking"></i>
					</button>
				</div>
			</div>
			{{ if .Imagen -}}
			<div class="relative mb-2 ml-12 border border-cyan-800 rounded-md shadow-lg">
				<img
					src="/imagenes/{{ .Imagen }}"
					onclick="showTramoImgModal('{{ .HistoriaID }}','{{ .Posicion }}','{{ .Texto }}','{{ .Imagen }}')"
					class="rounded-md cursor-pointer max-w-40 max-h-40">
			</div>
			{{ end }}
		</li>
		{{ end }}
		
		<!-- Agregar tramo... -->
		<li class="flex items-center gap-1 p-1">
			<div class="hidden opacity-0 md:block">⣿</div>
			<div>
				<span class="px-2 py-1 mr-1 font-mono text-xs rounded-md opacity-50 bg-black/50 whitespace-nowrap">
					{{ suma (len .Tramos) 1 }}
				</span>
			</div>
			<textarea
				id="input_AddTramo"
				hx-post="/historias/{{ .Historia.HistoriaID }}/viaje"
				hx-target="main" hx-select="main" hx-swap="outerHTML"
				hx-trigger="keyup[key=='Enter']"
				name="texto" 
				rows="1"
				enterkeyhint="done"
				placeholder="Agregar un tramo al viaje"
				class="inline-block w-full bg-transparent border-b border-transparent outline-none text-white/50 focus:text-white read-only:border-transparent invalid:border-red-500 invalid:focus:border-red-500 placeholder:text-slate-600 read-only:focus:border-transparent focus:border-blue-400"></textarea>
		</li>
	</ol>

	<!--* IMAGEN DEL TRAMO -->
	<dialog id="TramoImgModal" class="text-white bg-cyan-900 border-4 border-cyan-800 rounded-md">
		<div class="flex flex-col max-w-3xl max-h-[90vh]"><!-- Para hacer scrollable manteniendo header -->
			<header class="flex items-center gap-2 p-2 bg-cyan-800">
				<h2 class="grow text-xl">
					Imagen para tramo del viaje
				</h2>
				<button
					type="button"
					onclick="this.closest('dialog').close()" 
					title="Cerrar"
					class="inline-block float-right px-2 text-2xl rounded-md hover:opacity-75">
					<i class="fa-solid fa-xmark"></i>
				</button>
			</header>
			<div class="flex flex-col grow gap-2 p-2 overflow-y-auto">
				<p><!-- Datos puestos con JS --></p>
				<img src="" class="mx-auto border border-cyan-800 rounded-md shadow-lg">
				<form 
					id="formSubirImagen"
					hx-post="/imagenes"
					hx-encoding="multipart/form-data"
					class="py-2 text-center">
					<input type="hidden" name="historia_id">
					<input type="hidden" name="posicion">
					<input
						type="file"
						name="imagen"
						accept="image/png, image/jpeg"
						required
						onchange="showTramoImagePreview(this)"
						class="form-control">
				</form>
				<div class="flex flex-row-reverse flex-wrap justify-center gap-x-4 gap-y-2">
					<button
						type="submit"
						form="formSubirImagen"
						tipo="btn_subir_imagen"
						class="grow p-2 text-lg font-semibold transition-colors bg-cyan-700 rounded shadow-md hover:bg-cyan-600">
						Guardar
					</button>
					<button
						tipo="cancelar"
						onclick="this.closest('dialog').close()" 
						class="inline-block px-6 py-2 text-slate-100 transition-colors bg-gray-600 rounded shadow-md hover:bg-gray-500">
						Cancelar
					</button>
					<button
						tipo="eliminar_img"
						type="button"
						onclick="this.closest('dialog').close()" 
						hx-confirm="¿Eliminar esta imagen?"
						hx-trigger="click"
						title="Quitar imagen"
						class="px-6 py-2 font-semibold text-red-400 transition-colors rounded shadow-md hover:bg-red-500 hover:text-white">
						Quitar imagen
					</button>
				</div>
			</div>
		</div>
	</dialog>
	<script>
		function showTramoImgModal(historiaID, posicion, texto, imagen) {
			let dialog = document.getElementById("TramoImgModal")
			let btnEliminarImg = dialog.querySelector("button[tipo='eliminar_img']")
			dialog.querySelector("p").textContent = posicion + ". " + texto
			dialog.querySelector("input[name='historia_id']").value = historiaID
			dialog.querySelector("input[name='posicion']").value = posicion
			dialog.querySelector("input[type='file']").value = ""
			dialog.querySelector("button[type='submit']").textContent = imagen ? "Remplazar" : "Subir imagen"
			
			if (imagen != "") {
				dialog.querySelector("img").src = "/imagenes/" + imagen
				dialog.querySelector("img").classList.remove("hidden")
				btnEliminarImg.setAttribute("hx-delete", "/imagenes/" + historiaID + "/" + posicion)
				btnEliminarImg.classList.remove("hidden")
				dialog.querySelector("button[tipo='cancelar']").classList.add('hidden')
			} else {
				dialog.querySelector("img").src = ""
				dialog.querySelector("img").classList.add("hidden")
				btnEliminarImg.removeAttribute("hx-delete")
				btnEliminarImg.classList.add("hidden")
				dialog.querySelector("button[tipo='cancelar']").classList.remove('hidden')
			}
			htmx.process(btnEliminarImg)
			dialog.showModal()
			// console.log(`showTramoImgModal(${historiaID}, ${posicion}, ${texto}, ${imagen}`)
		}
		function showTramoImagePreview() {
			let dialog = document.getElementById("TramoImgModal")
			const [file] = dialog.querySelector("input[type='file']").files
			if (file) {
				// console.log('Archivo: ' + file.name);
				dialog.querySelector("img").src = URL.createObjectURL(file)
				dialog.querySelector("img").classList.remove("hidden")
				dialog.querySelector("button[tipo='eliminar_img']").classList.add('hidden')
				dialog.querySelector("button[tipo='cancelar']").classList.remove("hidden")
				dialog.querySelector("button[type='submit']").focus()
			}
		}
	</script>

	<!--* DESCENDIENTES *-->
	<h3 class="mb-2 text-xl text-cyan-600">Descendientes</h3>
	<ul tipo="sort_descendientes" class="mb-6">
		{{ range .Descendientes }}
		<li tipo="sort_descendiente" class="">
			<div class="flex gap-1 p-1 group">
				<div tipo="sort_handle" class="hidden transition-opacity opacity-0 cursor-pointer md:block group-hover:opacity-100">
					⣿
					<form tipo="sort_form" hx-post="/reordenar-historia" hx-trigger="reordenarEnd">
						<input type="hidden" name="historia_id" value="{{ .Historia.HistoriaID }}">
						<input type="hidden" name="old_pos" value="{{ .Historia.Posicion }}">
						<input type="hidden" name="new_pos">
					</form>
				</div>
				<button
					tipo="descendiente_bullet"
					type="button"
					onclick="showMenuHistoria({{ .Historia.HistoriaID }})"
					class="inline-block w-5 text-center">
					{{- if .Historia.Completada }}<i class="text-green-600 fa-solid fa-circle-check"></i>
					{{- else if eq .Historia.Prioridad 3 }}<i class="text-orange-600 fa-solid fa-angles-up"></i>
					{{- else if eq .Historia.Prioridad 2 }}<i class="text-orange-400 fa-solid fa-chevron-up"></i>
					{{- else if eq .Historia.Prioridad 1 }}<i class="text-orange-200 fa-solid fa-minus"></i>
					{{- else }}<i class="text-slate-400 fa-solid fa-ban"></i>
					{{- end }}
				</button>
				<div class="grow">
					<a href="/historias/{{ .Historia.HistoriaID }}" class="text-cyan-400 whitespace-pre-line hover:text-cyan-300">
						{{- enfatizar .Historia.Titulo -}}
					</a>
				</div>
			</div>

			<!--* DESC NIVEL DOS  -->
			{{ if .Descendientes -}}
			<ul class="">
				{{ range .Descendientes }}
				<li class="flex gap-1 p-1 group">
					<div class="pl-8">
						<button
							tipo="descendiente_bullet"
							type="button"
							onclick="showMenuHistoria({{ .Historia.HistoriaID }})"
							class="inline-block w-5 text-center">
							{{- if .Historia.Completada }}<i class="text-green-600 fa-solid fa-circle-check"></i>
							{{- else if eq .Historia.Prioridad 3 }}<i class="text-orange-600 fa-solid fa-angles-up"></i>
							{{- else if eq .Historia.Prioridad 2 }}<i class="text-orange-400 fa-solid fa-chevron-up"></i>
							{{- else if eq .Historia.Prioridad 1 }}<i class="text-orange-200 fa-solid fa-minus"></i>
							{{- else }}<i class="text-slate-400 fa-solid fa-ban"></i>
							{{- end }}
						</button>
					</div>
					<div class="grow">
						<a href="/historias/{{ .Historia.HistoriaID }}" class="font-light text-cyan-400 whitespace-pre-line hover:text-cyan-300">
							{{- enfatizar .Historia.Titulo -}}
						</a>
					</div>
				</li>
				{{ end }}
			</ul>
		{{ end }}
		</li>
		{{ end }}
		
		<li class="">
			<div class="flex gap-1 p-1 group">
				<div class="hidden opacity-0 md:block">⣿</div>
				<span class="inline-block w-5 text-center">
					<i class="w-5 text-sm text-slate-400 fa-solid fa-arrow-right"></i>
				</span>
				<textarea
					hx-post="/historias/{{ .Historia.HistoriaID }}"
					hx-target="main" hx-select="main" hx-swap="outerHTML"
					hx-trigger="keyup[key=='Enter']"
					name="titulo" 
					rows="1"
					enterkeyhint="done"
					placeholder="Agregar historia"
					class="inline-block w-full bg-transparent border-b border-transparent outline-none text-white/50 focus:text-white read-only:border-transparent invalid:border-red-500 invalid:focus:border-red-500 placeholder:text-slate-600 read-only:focus:border-transparent focus:border-blue-400"></textarea>
			</div>
		</li>
	</ul>

	<!-- Poner ctxMenu fuera de sortable para que no cuente doble el newIndex -->
	{{ range .Descendientes -}}
		{{ template "ctxMenuHistoria" . -}}
		{{ range .Descendientes -}}
			{{ template "ctxMenuHistoria" . -}}
		{{ end }}
	{{ end }}

	<!--* REGLAS DE NEGOCIO -->
	<h3 class="mb-2 text-xl text-cyan-600">Reglas</h3>
	<ol tipo="sort_reglas" class="mb-6">
		{{ range .Reglas -}}
		<li tipo="sort_regla" class="flex gap-1 p-1 group">
			<div tipo="sort_handle" title="Posición {{ .Posicion }}" class="hidden transition-opacity opacity-0 cursor-pointer md:block group-hover:opacity-100">
				⣿
				<form tipo="sort_form" hx-post="/reordenar-regla" hx-trigger="reordenarEnd">
					<input type="hidden" name="historia_id" value="{{ .HistoriaID }}">
					<input type="hidden" name="old_pos" value="{{ .Posicion }}">
					<input type="hidden" name="new_pos">
				</form>
			</div>
			<div class="pr-2">
				<i class="text-sm text-slate-400 fa-solid fa-arrow-right"></i>
			</div>
			<textarea
				id="input_Regla{{ .Posicion }}"
				hx-patch="/historias/{{ .HistoriaID }}/reglas/{{ .Posicion }}"
				hx-target="main" hx-select="main" hx-swap="outerHTML"
				name="texto"
				rows="1"
				enterkeyhint="done"
				class="inline-block w-full text-white bg-transparent border-b border-transparent outline-none read-only:border-transparent invalid:border-red-500 invalid:focus:border-red-500 placeholder:text-slate-600 read-only:focus:border-transparent focus:border-blue-400">
				{{- .Texto -}}
			</textarea>
			<button
				type="button"
				hx-delete="/historias/{{ .HistoriaID }}/reglas/{{ .Posicion }}"
				hx-target="main" hx-select="main" hx-swap="outerHTML"
				hx-confirm="¿Eliminar regla? {{ .Texto }}"
				title="Quitar regla"
				class="hidden ml-2 transition opacity-0 cursor-pointer md:block group-hover:opacity-80 focus:opacity-80 hover:text-red-600">
				<i class="fa-solid fa-trash"></i>
			</button>
		</li>
		{{ end }}
		<li class="flex items-center gap-1 p-1">
			<div class="hidden opacity-0 md:block">⣿</div>
			<div class="pr-2">
				<i class="text-sm text-slate-400 fa-solid fa-arrow-right"></i>
			</div>
			<textarea
				id="input_AddRegla"
				hx-post="/historias/{{ .Historia.HistoriaID }}/reglas"
				hx-target="main" hx-select="main" hx-swap="outerHTML"
				hx-trigger="keyup[key=='Enter']"
				name="texto"
				rows="1"
				enterkeyhint="done"
				placeholder="Agregar regla"
				class="inline-block w-full bg-transparent border-b border-transparent outline-none text-white/50 focus:text-white read-only:border-transparent invalid:border-red-500 invalid:focus:border-red-500 placeholder:text-slate-600 read-only:focus:border-transparent focus:border-blue-400"></textarea>
		</li>
	</ol>

	<!--* TAREAS -->
	<div class="flex flex-wrap items-baseline gap-4 mb-2 text-cyan-600">
		<h3 id="tareas" class="grow text-xl">
			<a href="#tareas">Tareas</a>
		</h3>
		{{- if .TiempoEstimado -}}
		<span class="text-sm opacity-75" title="Tiempo estimado {{ .TiempoEstimadoString }}">
			<i class="fa-solid fa-hourglass-start"></i> Estimado
			{{ .TiempoEstimadoString }}
		</span>
		{{- end -}}
		{{- if .TiempoReal -}}
		<span class="text-sm opacity-75" title="Tiempo transcurrido {{ .TiempoRealString }}">
			<i class="fa-solid fa-stopwatch"></i> Transcurrido
			{{ .TiempoRealString }}
		</span>
		{{- end -}}
	</div>
	<ol class="mb-6">
		{{ range .Tareas }}
		<li id="{{ .TareaID }}"
			tipo="sort_regla"
			class="flex gap-1 p-1 group">
			<div tipo="sort_handle" class="hidden transition-opacity opacity-0 cursor-pointer md:block group-hover:opacity-100">
				⣿
				<form tipo="sort_form" hx-post="/reordenar-tarea" hx-trigger="reordenarEnd">
					<input type="hidden" name="historia_id" value="{{ .HistoriaID }}">
					<input type="hidden" name="new_pos">
				</form>
			</div>
			<div>
				<span class="inline-block w-6 text-center">
					{{- if .Finalizada }}<i class="text-green-600 fa-regular fa-square-check"></i>
					{{ else if .EnCurso }}<i class="text-green-600 fa-regular fa-square"></i>
					{{ else if .EnPausa }}<i class="text-orange-600 fa-regular fa-square"></i>
					{{ else }}<i class="text-slate-400 fa-regular fa-square"></i>
					{{ end -}}
				</span>
			</div>
			<p class="">
				{{ if not .Tipo.EsIndefinido -}}
				<span class="px-2 py-1 text-xs font-semibold leading-none text-cyan-600 bg-cyan-950 rounded-md">
					{{- .Tipo.Etiqueta -}}
				</span>
				{{ end }}

				<span onclick="document.getElementById('edit{{ .TareaID }}').showModal()" class="cursor-pointer {{ if .Finalizada }} opacity-50 line-through {{ end }}">
					{{ .Descripcion }}
				</span>

				{{- if .EnCurso -}}
				<span class="mx-2 opacity-50">
					<img src="/assets/img/spinner.svg" alt="En progreso" class="inline-block w-8">
				</span>
				{{- end -}}

				<span class="float-right sm:hidden">
					{{- if .TiempoEstimado -}}
					<span class="pl-4 text-sm opacity-75 whitespace-nowrap" title="Tiempo estimado {{ .TiempoEstimadoString }}">
						<i class="fa-solid fa-hourglass-start"></i>
						{{ .TiempoEstimadoString }}
					</span>
					{{- end -}}
					{{- if .TiempoReal -}}
					<span class="pl-4 text-sm opacity-75 whitespace-nowrap" title="Tiempo transcurrido {{ .TiempoRealString }}">
						<i class="fa-solid fa-stopwatch"></i>
						{{ .TiempoRealString }}
					</span>
					{{- end -}}
				</span>

				{{ if and .Impedimentos (not .Finalizada) -}}
				<br>
				<i class="text-sm text-orange-300">
					{{ .Impedimentos }}	
				</i>
				{{- end }}
			</p>
			<div class="items-start hidden gap-2 md:flex">
				{{ if .NoIniciada -}}
				<button type="button" hx-post="/tareas/{{ .TareaID }}/iniciar" title="Iniciar tarea"
					class="inline-block px-2 text-lg text-slate-100 transition-opacity shadow-md opacity-0 group-hover:opacity-80 focus:opacity-100">
					<i class="fa-solid fa-play"></i>
				</button>
				{{ else if .EnCurso -}}
				<button type="button" hx-post="/tareas/{{ .TareaID }}/pausar" title="Pausar tarea"
					class="inline-block px-2 text-lg text-slate-100 transition-opacity shadow-md opacity-0 group-hover:opacity-80 focus:opacity-100">
					<i class="fa-solid fa-pause"></i>
				</button>
				<button type="button" hx-post="/tareas/{{ .TareaID }}/terminar" title="Marcar como finalizada"
					class="inline-block px-2 text-lg text-slate-100 transition-opacity shadow-md opacity-0 group-hover:opacity-80 focus:opacity-100">
					<i class="fa-solid fa-square-check"></i>
				</button>
				{{ else if .EnPausa -}}
				<button type="button" hx-post="/tareas/{{ .TareaID }}/iniciar" title="Iniciar tarea"
					class="inline-block px-2 text-lg text-slate-100 transition-opacity shadow-md opacity-0 group-hover:opacity-80 focus:opacity-100">
					<i class="fa-solid fa-play"></i>
				</button>
				{{ else if .Finalizada -}}
				<button type="button" hx-post="/tareas/{{ .TareaID }}/iniciar"title="Iniciar tarea"
					class="inline-block px-2 text-lg text-slate-100 transition-opacity shadow-md opacity-0 group-hover:opacity-80 focus:opacity-100">
					<i class="fa-solid fa-play"></i>
				</button>
				{{ end }}
			</div>
			<div class="grow hidden text-right sm:block">
				{{- if .TiempoEstimado -}}
				<button
					onclick="showIntervalos('{{ .TareaID }}')"
					title="Tiempo estimado {{ .TiempoEstimadoString }}"
					class="pl-4 text-sm opacity-75 whitespace-nowrap">
					<i class="fa-solid fa-hourglass-start"></i>
					{{ .TiempoEstimadoString }}
				</button>
				{{- end -}}
				{{- if .TiempoReal -}}
				<button
					onclick="showIntervalos('{{ .TareaID }}')"
					title="Tiempo transcurrido {{ .TiempoRealString }}"
					class="pl-4 text-sm opacity-75 whitespace-nowrap">
					<i class="fa-solid fa-stopwatch"></i>
					{{ .TiempoRealString }}
				</button>
				{{- end -}}
			</div>
		</li>
		{{ end }}
		<li class="flex items-center gap-1 p-1">
			<div class="hidden opacity-0 md:block">⣿</div>
			<div>
				<span class="inline-block w-6 text-center">
					<i class="text-slate-400 fa-regular fa-square"></i>
				</span>
			</div>
			<input type="text"
				id="input_AddTarea"
				name="descripcion" 
				hx-post="/historias/{{ .Historia.HistoriaID }}/tareas"
				hx-target="main" hx-select="main" hx-swap="outerHTML"
				hx-trigger="keyup[key=='Enter']"
				hx-validate="true"
				hx-on:htmx:validation:validate="if(this.value == '') { this.setCustomValidity('Introduzca un valor'); this.reportValidity(); this.addEventListener('input',function fn(){ console.log('input'); this.setCustomValidity(''); this.removeEventListener('input',fn); }); }"
				hx-include="closest li"
				placeholder="Agregar tarea"
				class="inline-block w-full text-white bg-transparent border-b border-cyan-800 outline-none invalid:border-red-500 invalid:focus:border-red-500 placeholder:text-slate-600 focus:border-blue-400"
			>
			<input type="text"
				name="tiempo_estimado"
				hx-post="/historias/{{ .Historia.HistoriaID }}/tareas"
				hx-target="main" hx-select="main" hx-swap="outerHTML"
				hx-trigger="keyup[key=='Enter']"
				hx-validate="true"
				hx-include="closest li"
				placeholder="⏱ Estimado"
				class="inline-block text-white bg-transparent border-b border-cyan-800 outline-none invalid:border-red-500 invalid:focus:border-red-500 placeholder:text-slate-600 focus:border-blue-400"
			>
		</li>
	</ol>
	<!-- Editar tareas -->
	{{ range .Tareas -}}
	<dialog id="edit{{ .TareaID }}" class="text-white bg-cyan-900 border-4 border-cyan-800 rounded-md">
		<header class="flex items-center gap-2 p-2 bg-cyan-800">
			<h2 class="grow text-xl">
				Tarea
			</h2>
			<button
				type="button"
				onclick="this.closest('dialog').close()"
				title="Cerrar"
				class="inline-block float-right px-2 text-2xl rounded-md hover:opacity-75">
				<i class="fa-solid fa-xmark"></i>
			</button>
		</header>
		<form hx-patch="/tareas/{{ .TareaID }}" class="flex flex-col gap-2 p-2">
			<div class="pt-2">
				{{ if .NoIniciada -}}
				<button type="button" hx-post="/tareas/{{ .TareaID }}/iniciar" title="Iniciar tarea"
					class="inline-block w-full px-4 py-2 text-lg text-slate-100 transition-colors rounded shadow-md bg-cyan-700/70 hover:bg-cyan-700">
					<i class="mr-1 fa-solid fa-play"></i>
					Iniciar
				</button>
				{{ else if .EnCurso -}}
				<div class="grid grid-cols-1 gap-3 md:grid-cols-2">
					<button type="button" hx-post="/tareas/{{ .TareaID }}/pausar" title="Pausar tarea"
						class="inline-block w-full px-4 py-2 text-lg text-slate-100 transition-colors rounded shadow-md bg-cyan-700/70 hover:bg-cyan-700">
						<i class="mr-1 fa-solid fa-pause"></i>
						Pausar
					</button>
					<button type="button" hx-post="/tareas/{{ .TareaID }}/terminar" title="Marcar como finalizada"
						class="inline-block w-full px-4 py-2 text-lg text-slate-100 transition-colors rounded shadow-md bg-cyan-700/70 hover:bg-cyan-700">
						<i class="mr-1 fa-solid fa-square-check"></i>
						Finalizar
					</button>
				</div>
				{{ else if .EnPausa -}}
				<button type="button" hx-post="/tareas/{{ .TareaID }}/iniciar" title="Iniciar tarea"
					class="inline-block w-full px-4 py-2 text-lg text-slate-100 transition-colors rounded shadow-md bg-cyan-700/70 hover:bg-cyan-700">
					<i class="mr-1 fa-solid fa-play"></i>
					Continuar
				</button>
				{{ else if .Finalizada -}}
				<button type="button" hx-post="/tareas/{{ .TareaID }}/iniciar"title="Iniciar tarea"
					class="inline-block w-full px-4 py-2 text-lg text-slate-100 transition-colors rounded shadow-md bg-cyan-700/70 hover:bg-cyan-700">
					<i class="mr-1 fa-solid fa-play"></i>
					Volver a iniciar
				</button>
				{{ end }}
			</div>
			<div>
				<label for="upd{{ .TareaID }}_04">Descripción</label>
				<textarea
					id="upd{{ .TareaID }}_04"
					name="descripcion"
					rows="2"
					onkeyup="if (event.key == 'Enter' && !event.ctrlKey) { clickSubmit(this.form) }"
					placeholder="La tarea consiste en..."
					class="form-control">
					{{- .Descripcion -}}
				</textarea>
			</div>
			<div>
				<label for="upd{{ .TareaID }}_03">Tipo de tarea</label>
				<select id="upd{{ .TareaID }}_03" name="tipo" class="form-control">
					{{ $tipo := .Tipo }}
					{{ range $.ListaTipoTarea -}}
					<option value="{{ .String }}" {{ if eq $tipo.String .String }}selected{{ end }}>{{ .Etiqueta }}</option>
					{{ end }}
				</select>
			</div>
			<div>
				<label for="upd{{ .TareaID }}_05">Impedimentos</label>
				<textarea
					id="upd{{ .TareaID }}_05"
					name="impedimentos"
					onkeyup="if (event.key == 'Enter' && !event.ctrlKey) { clickSubmit(this.form) }"
					placeholder="Consideraciones o detalles por resolver"
					class="form-control">
					{{- .Impedimentos -}}
				</textarea>
			</div>
			<div>
				<label for="upd{{ .TareaID }}_06">Tiempo estimado (min)</label>
				<input
					id="upd{{ .TareaID }}_06"
					type="text"
					name="tiempo_estimado"
					value="{{ if .TiempoEstimado }}{{ .TiempoEstimado }}{{ end }}"
					placeholder="mm ó hh:mm"
					class="form-control">
			</div>

			<input type="hidden" name="tarea_id" value="{{ .TareaID }}">
			<input type="hidden" name="historia_id" value="{{ .HistoriaID }}">
			<!-- <div class="grid grid-cols-2 gap-2">
				<div>
					<label for="upd{{ .TareaID }}_01">TareaID</label>
					<input
						id="upd{{ .TareaID }}_01"
						type="text"
						name="tarea_id"
						value="{{ .TareaID }}"
						readonly
						class="form-control">
				</div>
				<div>
					<label for="upd{{ .TareaID }}_02">HistoriaID</label>
					<input
						id="upd{{ .TareaID }}_02"
						type="text"
						name="historia_id"
						value="{{ .HistoriaID }}"
						readonly
						class="form-control">
				</div>
			</div> -->
			<div class="pt-2">
				<button
					type="submit"
					onclick="this.closest('dialog').close()"
					class="inline-block w-full px-6 py-2 font-medium text-slate-100 transition-colors bg-blue-700 rounded shadow-md hover:bg-blue-600">
					Guardar cambios
				</button>
			</div>
			<div class="grid grid-cols-1 gap-3 pt-2 md:grid-cols-2">
				<button
					type="button"
					hx-delete="/tareas/{{ .TareaID }}"
					onclick="this.closest('dialog').close()"
					class="inline-block w-full px-6 py-2 font-medium text-red-500 transition-colors border-2 border-red-500 rounded shadow-md hover:text-slate-100 hover:bg-red-800 hover:border-transparent">
					Eliminar
				</button>
				<button
					type="button"
					onclick="this.closest('dialog').close(); showMoverTarea('{{ .TareaID }}', '{{ .Descripcion }}')"
					class="inline-block w-full px-6 py-2 font-medium text-cyan-400 transition-colors border-2 border-cyan-600 rounded shadow-md hover:text-slate-100 hover:bg-cyan-700 hover:border-transparent">
					Mover
				</button>
			</div>

		</form>
	</dialog>
	{{ end }}

</main>
{{ end }}

<!-- Administrar intervalos -->
<dialog id="modalIntervalos" class="text-white bg-cyan-900 border-4 border-cyan-800 rounded-md">
	<div hx-target="this" hx-swap="innerHTML" hx-trigger="cargarIntervalos">
		Cargando...
	</div>
</dialog>
<script>
	function showIntervalos(tareaID) {
		let dialog = document.getElementById("modalIntervalos")
		dialog.showModal()
		let contenido = dialog.querySelector("div") 
		contenido.setAttribute("hx-get", "/tareas/" + tareaID)
		htmx.process(contenido)
		contenido.dispatchEvent(new Event("cargarIntervalos"))
	}
</script>

<!-- ======================================================== -->
{{ define "ctxMenuHistoria" -}}
	<dialog id="ctxMenuHistoria{{ .Historia.HistoriaID }}" tipo="ctxMenuHistoria"
		class="absolute p-0 m-0 text-slate-300 bg-cyan-900 border border-slate-300 rounded shadow-md">
		<form class="grid grid-cols-2 gap-1 p-2 text-sm">

			<div class="col-span-2 px-1 text-xs opacity-50">Prioridad</div>
			<button
				type="button"
				hx-post="/historias/{{ .Historia.HistoriaID }}/priorizar/3" 
				class="block w-full p-1 pr-2 text-left transition-colors rounded hover:shadow-md hover:bg-cyan-700 {{ if eq .Historia.Prioridad 3 }}font-bold{{ end }}">
				<span class="inline-block w-5 text-center">
					<i class="text-orange-600 fa-solid fa-angles-up"></i>
				</span>
				Must
			</button>
			<button
				type="button"
				hx-post="/historias/{{ .Historia.HistoriaID }}/priorizar/2" 
				class="block w-full p-1 pr-2 text-left transition-colors rounded hover:shadow-md hover:bg-cyan-700 {{ if eq .Historia.Prioridad 2 }}font-bold{{ end }}">
				<span class="inline-block w-5 text-center">
					<i class="text-orange-400 fa-solid fa-chevron-up"></i>
				</span>
				Should
			</button>
			<button
				type="button"
				hx-post="/historias/{{ .Historia.HistoriaID }}/priorizar/1" 
				class="block w-full p-1 pr-2 text-left transition-colors rounded hover:shadow-md hover:bg-cyan-700 {{ if eq .Historia.Prioridad 1 }}font-bold{{ end }}">
				<span class="inline-block w-5 text-center">
					<i class="text-orange-200 fa-solid fa-minus"></i>
				</span>
				Would
			</button>
			<button
				type="button"
				hx-post="/historias/{{ .Historia.HistoriaID }}/priorizar/0" 
				class="block w-full p-1 pr-2 text-left transition-colors rounded hover:shadow-md hover:bg-cyan-700 {{ if eq .Historia.Prioridad 0 }}font-bold{{ end }}">
				<span class="inline-block w-5 text-center">
					<i class="text-slate-400 fa-solid fa-ban"></i>
				</span>
				Won't
			</button>

			<div class="col-span-2 px-1 text-xs opacity-50">Estatus</div>
			<button
				type="button"
				hx-post="/historias/{{ .Historia.HistoriaID }}/marcar/0"
				class="block w-full p-1 pr-2 text-left transition-colors rounded hover:shadow-md hover:bg-cyan-700 {{ if not .Historia.Completada }}font-bold{{ end }}">
				<span class="inline-block w-5 text-center">
					<i class="text-orange-600 fa-regular fa-circle"></i>
				</span>
				Falta
			</button>
			<button
				type="button"
				hx-post="/historias/{{ .Historia.HistoriaID }}/marcar/1"
				class="block w-full p-1 pr-2 text-left transition-colors rounded hover:shadow-md hover:bg-cyan-700 {{ if .Historia.Completada }}font-bold{{ end }}">
				<span class="inline-block w-5 text-center">
					<i class="text-green-600 fa-solid fa-circle-check"></i>
				</span>
				Lista
			</button>

			<div class="col-span-2 px-1 text-xs opacity-50">Acciones</div>
			<!-- <button
				type="button"
				hx-get="/tablero/{{ .Historia.HistoriaID }}"
				class="block w-full p-1 pr-2 text-left transition-colors rounded hover:shadow-md hover:bg-cyan-700">
				<span class="inline-block w-5 text-center">
					<i class="fa-regular fa-clipboard"></i>
				</span>
				Tablero
			</button>
			<button
				type="button"
				hx-get="/historias/{{ .Historia.HistoriaID }}"
				class="block w-full p-1 pr-2 text-left transition-colors rounded hover:shadow-md hover:bg-cyan-700">
				<span class="inline-block w-5 text-center">
					<i class="fa-solid fa-pen"></i>
				</span>
				Abrir
			</button> -->
			<button
				type="button"
				hx-delete="/historias/{{ .Historia.HistoriaID }}"
				hx-confirm="¿Eliminar historia? {{ .Historia.Titulo }}"
				class="block w-full p-1 pr-2 text-left transition-colors rounded hover:shadow-md hover:bg-cyan-700">
				<span class="inline-block w-5 text-center">
					<i class="text-red-500 fa-solid fa-trash"></i>
				</span>
				Eliminar
			</button>
			<button
				type="button"
				onclick="showMoverHistoria('{{ .Historia.HistoriaID }}', '{{ .Historia.Titulo }}')"
				class="block w-full p-1 pr-2 text-left transition-colors rounded hover:shadow-md hover:bg-cyan-700">
				<span class="inline-block w-5 text-center">
					<i class="text-cyan-500 fa-solid fa-person-walking"></i>
				</span>
				Mover
			</button>
		</form>
	</dialog>
{{ end -}}
<script>
	document.querySelectorAll("dialog[tipo='ctxMenuHistoria']").forEach((menu) => {
		menu.addEventListener('click', (event) => menu.close());
		// menu.querySelector("div").addEventListener('click', (event) => event.stopPropagation());
	});
	
	function showMenuHistoria(historiaID) {
		menu = document.getElementById('ctxMenuHistoria' + historiaID);
		let menuW = menu.offsetWidth // Dimensiones del menú
		let menuH = menu.offsetHeight
		let winW = window.innerWidth // Dimensiones de la ventana
		let winH = window.innerHeight
		let x = event.clientX // Coordenadas dentro de la ventana
		let y = event.clientY
		if (x + menuW > winW) { x = winW - menuW } // Que no salga de la ventana
		if (y + menuH > winH) { y = winH - menuH }
		menu.style.left = `${x}px`
		menu.style.top = `${y}px`
		menu.showModal();
	}
</script>

<!-- ======================================================== -->
<script>
	function showMoverTramo(historiaID, posicion, descripcion) {
		let mov = document.getElementById('moverTramo');
		mov.showModal();
		mov.querySelector('input[name=historia_id]').value = historiaID;
		mov.querySelector('input[name=posicion]').value = posicion;
		mov.querySelector('p').innerText = descripcion;
		document.getElementById('navTreeTramo').dispatchEvent(new Event('navTreeTramoShown'));
		console.log(`showMoverTramo(${historiaID},${posicion})`);
	}

	function showMoverHistoria(historiaID, descripcion) {
		let mov = document.getElementById('moverHistoria');
		mov.showModal();
		mov.querySelector('input[name=historia_id]').value = historiaID;
		mov.querySelector('p').innerText = descripcion;
		document.getElementById('navTreeHistoria').dispatchEvent(new Event('navTreeHistoriaShown'));
		console.log(`showMoverHistoria(${historiaID})`);
	}

	function showMoverTarea(tareaID, descripcion) {
		let mov = document.getElementById('moverTarea');
		mov.showModal();
		mov.querySelector('input[name=tarea_id]').value = tareaID;
		mov.querySelector('p').innerText = descripcion;
		document.getElementById('navTreeTarea').dispatchEvent(new Event('navTreeTareaShown'));
		console.log(`showMoverTarea(${tareaID})`);
	}
</script>

<dialog id="moverTramo" class="text-white bg-cyan-900 border-4 border-cyan-800 rounded-md">
	<header class="flex items-center gap-2 p-2 bg-cyan-800">
		<h2 class="grow text-xl">
			Mover tramo
		</h2>
		<button
			type="button"
			onclick="this.closest('dialog').close()"
			title="Cerrar"
			class="inline-block float-right px-2 text-2xl rounded-md hover:opacity-75">
			<i class="fa-solid fa-xmark"></i>
		</button>
	</header>
	<form class="flex flex-col gap-2 p-2">
		<p class="mb-2 italic">Nombre de la tramo</p>
		<input type="hidden" name="historia_id" required>
		<input type="hidden" name="posicion" required>
		<div
			id="navTreeTramo"
			hx-get="/nav/hist/{{ .Agregado.Historia.HistoriaID }}"
			hx-target="#navTreeTramo" hx-swap="innerHTML"
			hx-trigger="navTreeTramoShown"
			class="flex flex-col gap-1 sm:w-96">
			<!-- nav_tree -->
		</div>
		<button
			hx-post="/mover/tramo"
			hx-target="main" hx-select="main" hx-swap="outerHTML"
			type="submit"
			onclick="this.closest('dialog').close()"
			class="inline-block w-full px-6 py-2 font-medium text-slate-100 transition-colors bg-blue-700 rounded shadow-md hover:bg-blue-600">
			Mover
		</button>
	</form>
</dialog>

<dialog id="moverTarea" class="text-white bg-cyan-900 border-4 border-cyan-800 rounded-md">
	<header class="flex items-center gap-2 p-2 bg-cyan-800">
		<h2 class="grow text-xl">
			Mover tarea
		</h2>
		<button
			type="button"
			onclick="this.closest('dialog').close()"
			title="Cerrar"
			class="inline-block float-right px-2 text-2xl rounded-md hover:opacity-75">
			<i class="fa-solid fa-xmark"></i>
		</button>
	</header>
	<form class="flex flex-col gap-2 p-2">
		<p class="mb-2 italic">Nombre de la tarea</p>
		<input type="hidden" name="tarea_id" required>
		<div
			id="navTreeTarea"
			hx-get="/nav/hist/{{ .Agregado.Historia.HistoriaID }}"
			hx-target="#navTreeTarea" hx-swap="innerHTML"
			hx-trigger="navTreeTareaShown"
			class="flex flex-col gap-1 sm:w-96">
			<!-- nav_tree -->
		</div>
		<button
			hx-post="/mover/tarea"
			hx-target="main" hx-select="main" hx-swap="outerHTML"
			type="submit"
			onclick="this.closest('dialog').close()"
			class="inline-block w-full px-6 py-2 font-medium text-slate-100 transition-colors bg-blue-700 rounded shadow-md hover:bg-blue-600">
			Mover
		</button>
	</form>
</dialog>

<dialog id="moverHistoria" class="text-white bg-cyan-900 border-4 border-cyan-800 rounded-md">
	<header class="flex items-center gap-2 p-2 bg-cyan-800">
		<h2 class="grow text-xl">
			Mover historia
		</h2>
		<button
			type="button"
			onclick="this.closest('dialog').close()"
			title="Cerrar"
			class="inline-block float-right px-2 text-2xl rounded-md hover:opacity-75">
			<i class="fa-solid fa-xmark"></i>
		</button>
	</header>
	<form class="flex flex-col gap-2 p-2">
		<p class="mb-2 italic text-orange-400">Historia a mover</p>
		<input type="hidden" name="historia_id" required>
		<div
			id="navTreeHistoria"
			hx-get="/nav/hist/{{ .Agregado.Historia.HistoriaID }}"
			hx-target="#navTreeHistoria" hx-swap="innerHTML"
			hx-trigger="navTreeHistoriaShown"
			class="flex flex-col gap-1 sm:w-96">
			<!-- nav_tree -->
		</div>
		<button
			hx-post="/mover/historia"
			hx-target="main" hx-select="main" hx-swap="outerHTML"
			type="submit"
			onclick="this.closest('dialog').close()"
			class="inline-block w-full px-6 py-2 font-medium text-slate-100 transition-colors bg-blue-700 rounded shadow-md hover:bg-blue-600">
			Mover
		</button>
	</form>
</dialog>


<div id="msgStack" class="hidden">
	<!-- Mensajes respuesta del servidor -->
</div>

<!-- ======================================================== -->
<script>	
	// Recargar historia cuando se recibe la respuesta del servidor en msgStack.
	document.getElementById("msgStack").addEventListener("htmx:afterSwap", (event) => {
		document.querySelector("main").dispatchEvent(new Event("reloadHistoria"));
	})
	
	function handleResponse(response) {
		response.text().then((msg) => {
			if (response.status >= 200 && response.status < 300) {
				console.log(msg)
			} else {
				alert(msg)
			}
			document.querySelector("main").dispatchEvent(new Event("reloadHistoria"))
		})
	}

	let historiaID = {{ .Agregado.Historia.HistoriaID }};

	// ================================================================ //
	// ========== WEBSOCKET =========================================== //

	var uri = 'ws:'; if (window.location.protocol === 'https:') { uri = 'wss:'; }; uri += '//' + window.location.host + '/historias/{{ .Agregado.Historia.HistoriaID }}/ws';
	const ws = new WebSocket(uri)
	let wsID = 0
	ws.onopen = function() {
		// console.log('Connected to ' + uri);
	}
	ws.onclose = function(event) {
		console.log("WebSocket closed:", event);
	};
	ws.onerror = function(error) {
		console.log("WebSocket error:", error);
	};
	ws.onmessage = function(event) {
		let data = JSON.parse(event.data)
		if (data.id > 0 && wsID == 0) {
			wsID = data.id
			// console.log("WebsocketID: " + wsID)

		} else if (data.reload) {
			document.querySelector("main").dispatchEvent(new Event("reloadHistoria"))
			// console.log("Recargar historia")
			
		} else {
			// console.log("Mensaje recibido: ", data)
		}
	};
	// Send wsID with non GET requests
	document.body.addEventListener('htmx:configRequest', function(event) {
		if (event.detail.verb != 'get'){
			event.detail.headers['X-SocketID'] = wsID;
			// console.log("Send wsID: " + wsID + " " + event.detail.verb)
		}
	});

	// ================================================================ //
	// ================================================================ //
	htmx.onLoad(function(content) {

		// initContextMenu(content);

		// Reordenar tramos
		var sortableTramos = new Sortable(document.querySelector("[tipo='sort_tramos']"), {
			group: "sort_tramos", animation: 150, swapThreshold: 0.50,
			draggable: "[tipo='sort_tramo']",
			handle: "[tipo='sort_handle']",
			ghostClass: "opacity-50",
			onEnd: function(event) {
				// if (event.oldIndex == event.newIndex){ return }
				let formData = new FormData();
				formData.append("historia_id", historiaID);
				formData.append("old_pos", event.oldIndex + 1);
				formData.append("new_pos", event.newIndex + 1);
				let headers = new Headers();
				headers.append('X-SocketID', wsID);
				fetch('/reordenar-tramo', { method: 'POST', body: formData, headers: headers }).then(response => handleResponse(response));
			},
		});

		// Reordenar reglas
		var sortableReglas = new Sortable(document.querySelector("[tipo='sort_reglas']"), {
			group: "sort_reglas", animation: 150, swapThreshold: 0.50,
			draggable: "[tipo='sort_regla']",
			handle: "[tipo='sort_handle']",
			ghostClass: "opacity-50",
			onEnd: function (event) {
				if (event.oldIndex == event.newIndex){ return }
				event.item.querySelector("input[name='new_pos']").value = event.newIndex + 1;
				event.item.querySelector("form[tipo='sort_form']").dispatchEvent(new Event("reordenarEnd"));
          	},
		});

		// Reordenar descendientes
		var sortableDescend = new Sortable(document.querySelector("[tipo='sort_descendientes']"), {
			group: "sort_descendientes", animation: 150, swapThreshold: 0.50,
			draggable: "[tipo='sort_descendiente']",
			handle: "[tipo='sort_handle']",
			ghostClass: "opacity-50",
			onEnd: function (event) {
				if (event.oldIndex == event.newIndex){ return }
				event.item.querySelector("input[name='new_pos']").value = event.newIndex + 1;
				event.item.querySelector("form[tipo='sort_form']").dispatchEvent(new Event("reordenarEnd"));
          	},
		});
	});
</script>