{{ define "select_hist_recursiva" -}}
	<ul class="px-4">
		<li>
			<input id="{{ .Historia.HistoriaID }}" type="radio" name="nuevo_padre_id" value="{{ .Historia.HistoriaID }}">
			<label for="{{ .Historia.HistoriaID }}">{{ .Historia.Titulo }}</label>
		</li>
		{{ if .Historias -}}
		<li>
			{{ range .Historias }}{{ template "select_hist_recursiva" . }}{{ end }}
		</li>
		{{- end }}
	</ul>
{{ end }}

<header class="flex flex-wrap items-center px-4 py-2 font-bold bg-cyan-900 shadow-md gap-x-4">
	<h3 class="text-xl">Mover a nuevo padre</h3>
	<p>
		<span class="text-indigo-400">Padre actual</span>
		<span class="ml-4 text-red-500">Historia(s) a mover</span>
	</p>
</header>
<form id="formMoverHistoria" action="/historias/{{ .Historia.HistoriaID }}/mover" method="POST" class="flex flex-col items-start flex-grow p-4 overflow-y-auto">
	<ul class="px-4 grow">
		{{ range .Arboles -}}{{ range .Personas }}
		<li class="pt-4">
			<input id="{{ .Persona.PersonaID }}" type="radio" name="nuevo_padre_id" value="{{ .Persona.PersonaID }}">
			<label for="{{ .Persona.PersonaID }}" class="text-lg"><i class="fa-solid fa-person"></i> {{ .Persona.Nombre }}</label>
		</li>
		{{ if .Historias }}
		<li>
			{{ range .Historias }}{{ template "select_hist_recursiva" . }}{{ end }}
		</li>
		{{- end }}{{- end }}
		{{- end }}
	</ul>
</form>
<footer class="flex justify-center gap-4 p-4 bg-cyan-900 shadow-md">
	<a href="/lista/{{ .Historia.PadreID }}#{{ .Historia.HistoriaID }}" class="inline-block px-6 py-2 font-medium text-slate-100 transition-colors bg-gray-700 rounded shadow-md hover:bg-gray-600">
		Salir
	</a>
	<button type="submit" form="formMoverHistoria" class="inline-block px-6 py-2 font-medium text-slate-100 transition-colors bg-blue-700 rounded shadow-md hover:bg-blue-600">
		Cambiar padre
	</button>
</footer>

<script>

	let padre = document.getElementById("{{ .Historia.PadreID }}");
	padre.checked = true;
	padre.parentNode.classList.add("text-indigo-400");
	padre.parentNode.classList.add("font-bold");
	padre.style.scrollMargin = "60px";
	padre.scrollIntoView()
	
	let historia = document.getElementById("{{ .Historia.HistoriaID }}");
	historia.disabled = true; // no permitir mover hacia sí mismo.
	historia.parentNode.classList.add("text-red-500");
	historia.parentNode.classList.add("font-bold");
	historia.parentNode.nextElementSibling.querySelectorAll("input").forEach(element => {
		element.parentNode.classList.add("text-red-500");
		element.disabled = true; // no permitir mover hacia descendiente propio.
	});

</script>