{{ with .Agregado -}}
<header class="relative flex items-center w-full bg-cyan-950 shadow-lg">
	<div class="">
		<img src="{{ if .Proyecto.Imagen }}/imagenes/{{ .Proyecto.Imagen }}{{ else }}/assets/img/pargo_96.png{{ end }}" alt="Portada del proyecto" class="w-24">
	</div>
	<div class="w-full p-2">
		<h2 class="text-2xl font-medium">
			<a href="/proyectos/{{ .Proyecto.ProyectoID }}">
				{{ .Proyecto.Titulo }}
			</a>
		</h2>
		<h3 class="flex items-center gap-1 py-1">
			<span class="px-2 py-1 font-mono text-sm bg-black bg-opacity-40 rounded-md"><i class="fa-solid fa-person"></i></span>
			<a href="/personas/{{ .Persona.PersonaID }}" class="text-xl">{{ .Persona.Nombre }}</a>
		</h3>
		<p class="opacity-50">
			{{ .Persona.Descripcion }}
		</p>
	</div>
	<span class="absolute right-2 top-2">
		<a href="/" class="px-2 py-1 bg-red-800 rounded-md opacity-75 hover:opacity-100"><i class="fa-solid fa-xmark"></i></a>
	</span>
</header>


<main class="flex-grow w-full max-w-5xl p-2 mx-auto"
	hx-get="/historias/{{ .Historia.HistoriaID }}"
	hx-target="this" hx-select="main" hx-swap="outerHTML"
	hx-trigger="reloadHistoria"
	>

	<div class="flex flex-wrap justify-end mb-2 gap-x-4 gap-y-2">
		<!--* PERSONA  -->
		<h4 class="flex-grow">
			<span class="opacity-50">Como</span>
			<span class="text-lg lowercase">{{ .Persona.Nombre }}</span>
			<span class="opacity-50">quiero...</span>
		</h4>
		<!--* PRIORIDAD -->
		<div>
			<select class="form-control"
			hx-patch="/historias/{{ .Historia.HistoriaID }}/prioridad" 
			hx-swap="none" 
			name="value" 
			id="txt_hist_prioridad"
			>
				<option value="0" {{ if eq .Historia.Prioridad 0 }}selected{{ end }}>🚫 Won't</option>
				<option value="1" {{ if eq .Historia.Prioridad 1 }}selected{{ end }}>😶‍🌫️ Could</option>
				<option value="2" {{ if eq .Historia.Prioridad 2 }}selected{{ end }}>🤔 Should</option>
				<option value="3" {{ if eq .Historia.Prioridad 3 }}selected{{ end }}>🤩 Must</option>
			</select>
		</div>
		<!--* COMPLETADA -->
		<div>
			<select hx-patch="/historias/{{ .Historia.HistoriaID }}/completada" hx-swap="none" name="value" class="form-control" id="txt_hist_estatus">
				<option value="0">Pendiente</option>
				<option value="1" {{ if .Historia.Completada }}selected{{ end }}>✅ Completada</option>
			</select>
		</div>
	</div>

	<!--* TÍTULO -->
	<div class="mb-4">
		<textarea 
			hx-patch="/historias/{{ .Historia.HistoriaID }}/titulo"
			hx-swap="none" 
			hx-trigger="change, keyup changed delay:2s"
			name="value"
			id="txt_hist_nombre" 
			type="text"
			rows="1"
			class="w-full px-2 py-1 text-2xl font-medium text-white bg-transparent border-b border-cyan-800 outline-none focus:border-blue-400"
		>{{ .Historia.Titulo }}</textarea>
	</div>

	<!--* CONTEXTO -->
	<div class="mb-4">
		<textarea class="w-full px-2 py-1 text-base font-medium bg-transparent border-b border-cyan-800 outline-none max-h-96 focus:border-blue-400 placeholder:text-slate-600"
			hx-patch="/historias/{{ .Historia.HistoriaID }}/objetivo"
			hx-swap="none" 
			hx-trigger="change, keyup changed delay:2s"
			cols="30" rows="1"
			id="txt_hist_empatia"
			name="value" 
			placeholder="Descripción del contexto..." 
		>{{ .Historia.Objetivo }}</textarea>
	</div>

	<!--* VIAJE DE USUARIO *-->
	<h3 class="mb-2 text-xl text-cyan-600">Viaje de usuario</h3>
	<ol tipo="sort_tramos" class="mb-6">
		{{ range .Tramos -}}
		<li tipo="sort_tramo" class="flex gap-1 p-1 group">
			<div tipo="sort_handle" class="hidden transition-opacity opacity-0 cursor-pointer md:block group-hover:opacity-100">
				⣿
			</div>
			<div>
				<span class="px-2 py-1 mr-1 font-mono text-xs rounded-md opacity-50 bg-black/50 whitespace-nowrap">
					{{ .Posicion }}
				</span>
			</div>
			<!-- <p class="grow">{{ .Texto }}</p> -->
			<input
				ondblclick="if (!this.hasAttribute('readonly')){ return }; console.log('editable_activar'); this.removeAttribute('readonly');"
				oncontextmenu="if (!this.hasAttribute('readonly')){ return }; console.log('editable_activar'); this.removeAttribute('readonly');"
				onblur="if (this.hasAttribute('readonly')){ return }; console.log('editable_exit'); this.setAttribute('readonly', true);"
				onchange="console.log('editable_changed'); this.blur();"
				hx-patch="/historias/{{ .HistoriaID }}/viaje/{{ .Posicion }}" 
				hx-target="main" hx-select="main" hx-swap="outerHTML"
				readonly
				type="text"
				name="texto" 
				value="{{ .Texto }}"
				class="inline-block w-full text-white bg-transparent border-b border-transparent outline-none read-only:border-transparent invalid:border-red-500 invalid:focus:border-red-500 placeholder:text-slate-600 read-only:focus:border-transparent focus:border-blue-400"
			>
			<button type="button" class="hidden ml-1 transition-opacity opacity-0 cursor-pointer md:block group-hover:opacity-80"
				onclick="showSubirImagen({{ .HistoriaID }}, {{ .Posicion }})"
				title="Definir imagen">🏞
			</button>
			<button type="button" class="hidden ml-1 transition-opacity opacity-0 cursor-pointer md:block group-hover:opacity-80"
				hx-delete="/historias/{{ .HistoriaID }}/viaje/{{ .Posicion }}" 
				hx-target="main" hx-select="main" hx-swap="outerHTML"
				hx-confirm="¿Eliminar tramo de viaje? {{ .Texto }}" 
				title="Quitar este tramo">❌
			</button>
		</li>
		{{ end }}
		<li class="flex items-center gap-1 p-1">
			<div class="hidden opacity-0 md:block">⣿</div>
			<div>
				<span class="px-2 py-1 mr-1 font-mono text-xs rounded-md opacity-50 bg-black/50 whitespace-nowrap">
					{{ suma (len .Tramos) 1 }}
				</span>
			</div>
			<input type="text" 
				name="texto" 
				hx-post="/historias/{{ .Historia.HistoriaID }}/viaje"
				hx-target="main" hx-select="main" hx-swap="outerHTML"
				hx-trigger="keyup[key=='Enter']"
				hx-validate="true"
				hx-on:htmx:validation:validate="if(this.value == '') { this.setCustomValidity('Introduzca un valor'); this.reportValidity(); this.addEventListener('input',function fn(){ console.log('input'); this.setCustomValidity(''); this.removeEventListener('input',fn); }); }"
				placeholder="Agregar un tramo al viaje"
				class="inline-block w-full text-white bg-transparent border-b border-cyan-800 outline-none invalid:border-red-500 invalid:focus:border-red-500 placeholder:text-slate-600 focus:border-blue-400"
			>
		</li>
	</ol>
	<div class="flex flex-wrap items-start gap-4 mb-6">
		{{ range .Tramos }}{{ if .Imagen -}}
		<div>
			<div class="relative">
				<div class="absolute flex items-center justify-center w-full h-full gap-3 rounded-md opacity-5 hover:opacity-100 bg-black/60">
					<a href="/imagenes/{{ .Imagen }}" class="">🏞</a>
					<button type="button" hx-delete="/imagenes/{{ .HistoriaID }}/{{ .Posicion }}" title="Eliminar imagen" hx-confirm="¿Eliminar esta imagen?" class="">❌</button>
				</div>
				<img src="/imagenes/{{ .Imagen }}" class="max-w-xs rounded-md max-h-96">
			</div>
			<p class="text-sm italic text-center opacity-50">{{ .Posicion }}. {{ .Texto }}</p>
		</div>
		{{ end }}{{ end }}
	</div>

	<!--* ANCESTROS *-->
	{{ if .Ancestros }}
	<h3 class="mb-2 text-xl text-cyan-600">Ancestros</h3>
	{{ range .Ancestros }}
	<ul class="pl-6 list-[revert]">
		<li class="p-1">
			{{ .Titulo }}
			<a href="/historias/{{ .HistoriaID }}" class="float-right opacity-10 hover:opacity-100">👁️</a>
			{{ end }}
			{{ range .Ancestros -}}
		</li>
	</ul>
	{{ end }}
	{{ end }}

	<!--* DESCENDIENTES *-->
	<h3 class="mb-2 text-xl text-cyan-600">Descendientes</h3>
	<ul class="mb-6 pl-6 list-[revert]">
		{{ range .Descendientes }}
		<li class="p-1">
			{{ .Historia.Titulo }}
			<a href="/historias/{{ .Historia.HistoriaID }}" class="float-right opacity-10 hover:opacity-100">👁️</a>

			<ul class="pl-5 list-[revert]">
				{{ range .Descendientes }}
				<li class="p-1">
					{{ .Historia.Titulo }}
				</li>
				{{ end }}
			</ul>
		</li>
		{{ end }}
		<li class="">
			<input class="w-full px-2 py-1 text-white bg-transparent border-b border-cyan-800 outline-none focus:border-blue-400 placeholder:text-slate-600"
				type="text"
				name="titulo"
				hx-post="/historias/{{ .Historia.HistoriaID }}"
				hx-target="#msgStack"
				hx-validate="true"
				hx-on:htmx:validation:validate="console.log('validate'); this.reportValidity();"
				onchange="console.log('change'); if(this.value == '') { this.setCustomValidity('Introduzca un valor'); } else { this.setCustomValidity(''); }"
				placeholder="Agregar historia"
			>
		</li>
	</ul>

	<!--* REGLAS DE NEGOCIO -->
	<h3 class="mb-2 text-xl text-cyan-600">Reglas</h3>
	<ol class="mb-6">
		{{ range .Reglas -}}
		<li class="flex gap-1 p-1 group">
			<div tipo="carril_handle" class="hidden transition-opacity opacity-0 cursor-pointer md:block group-hover:opacity-100">
				⣿
			</div>
			<div>
				<span class="px-2 py-1 mr-1 font-mono text-xs rounded-md opacity-50 bg-black/50 whitespace-nowrap">
					{{ .Posicion }}
				</span>
			</div>
			<p class="whitespace-pre-line grow"
				onclick="let inp = this.nextElementSibling; inp.classList.remove('hidden'); inp.classList.add('inline-block'); inp.focus(); inp.addEventListener('keydown',hdlTextAreaEnter); this.classList.add('hidden');"
				>{{ .Texto }}</p>
			<textarea
				onblur="this.classList.remove('inline-block'); this.classList.add('hidden'); this.previousElementSibling.textContent = this.value; this.previousElementSibling.classList.remove('hidden');"
				hx-patch="/historias/{{ .HistoriaID }}/reglas/{{ .Posicion }}" 
				hx-target="main" hx-select="main" hx-swap="outerHTML"
				rows="1"
				name="texto"
				class="hidden w-full text-white outline-none bg-black/50 placeholder:text-slate-600"
				>{{ .Texto }}</textarea>
			<button type="button" class="hidden ml-1 transition-opacity opacity-0 cursor-pointer md:block group-hover:opacity-80"
				hx-delete="/historias/{{ .HistoriaID }}/reglas/{{ .Posicion }}" 
				hx-target="main" hx-select="main" hx-swap="outerHTML"
				hx-confirm="¿Eliminar regla? {{ .Texto }}" 
				title="Quitar regla"
				>❌</button>
		</li>
		{{ end }}
		<li class="flex items-center gap-1 p-1">
			<div class="hidden opacity-0 md:block">⣿</div>
			<div>
				<span class="px-2 py-1 mr-1 font-mono text-xs rounded-md opacity-50 bg-black/50 whitespace-nowrap">
					{{ suma (len .Reglas) 1 }}
				</span>
			</div>
			<input type="text" 
				name="texto" 
				hx-post="/historias/{{ .Historia.HistoriaID }}/reglas"
				hx-target="main" hx-select="main" hx-swap="outerHTML"
				hx-trigger="keyup[key=='Enter']"
				hx-validate="true"
				hx-on:htmx:validation:validate="if(this.value == '') { this.setCustomValidity('Introduzca un valor'); this.reportValidity(); this.addEventListener('input',function fn(){ console.log('input'); this.setCustomValidity(''); this.removeEventListener('input',fn); }); }"
				placeholder="Agregar regla"
				class="inline-block w-full text-white bg-transparent border-b border-cyan-800 outline-none invalid:border-red-500 invalid:focus:border-red-500 placeholder:text-slate-600 focus:border-blue-400"
			>
		</li>
	</ol>

	<!--* TAREAS -->
	<h3 class="mb-2 text-xl text-cyan-600">Tareas</h3>
	<ol class="mb-6">
		{{ range .Tareas }}
		<li class="p-1">
			<span tipo="carril_handle" class="px-2 py-1 mr-1 font-mono text-xs bg-black bg-opacity-40 rounded-md opacity-50 cursor-pointer whitespace-nowrap">⣿</span>
			<span class="inline-block w-6 text-center">
				{{ if .Finalizada }}✅{{ else if .EnCurso }}⏳{{ else if .EnPausa }}⏱{{ else }}▢{{ end }}
			</span>
			{{ .Descripcion }}
		</li>
		{{ end }}
		<li class="flex items-center p-1">
			<span tipo="carril_handle" class="px-2 py-1 mr-1 font-mono text-xs bg-black bg-opacity-40 rounded-md opacity-50 cursor-pointer whitespace-nowrap">⣿</span>
			<input type="text" name="descripcion" hx-post="/historias/{{ .Historia.HistoriaID }}/tareas" placeholder="Agregar tarea" class="inline-block w-full px-2 py-1 text-white bg-transparent border-b border-cyan-800 outline-none placeholder:text-slate-600 focus:border-blue-400">
		</li>
	</ol>

</main>
{{ end }}

<dialog id="subirImagen" class="p-3 rounded-lg">
	<header class="flex flex-wrap items-center gap-3 pb-2">
		<h2 class="flex-grow w-full text-xl text-center sm:w-auto sm:text-left">Subir imagen</h2>
		<button type="button" class="w-10 py-1 text-xl text-slate-200 bg-slate-600 rounded-lg" onclick="this.parentNode.parentNode.close()" title="Cerrar"><i class="fa-solid fa-xmark"></i></button>
	</header>
	<form class="mb-4">
		<p class="text-center">
			Subir captura de pantalla para este tramo del viaje de usuario.
		</p>
		<img id="imagePreview" src="" class="hidden object-cover mx-auto my-4 rounded-lg shadow-lg aspect-square w-60">
		<div class="py-4 text-center">
			<input id="imgInputFile" type="file" name="imagen" accept="image/png, image/jpeg" capture="user" required onchange="showImagen(this)">
		</div>
		<input type="hidden" name="historia_id">
		<input type="hidden" name="posicion">
		<div id="botonesGuardarFoto" class="flex-wrap justify-center hidden gap-4 pt-4">
			<button onclick="subirImagen.close()" class="inline-block px-6 py-2 font-medium text-slate-100 transition-colors bg-gray-600 rounded shadow-md hover:bg-gray-500">Cancelar</button>
			<button id="btnSubirImagen" type="button" hx-post="/imagenes" hx-encoding="multipart/form-data" class="inline-block px-6 py-2 font-medium text-slate-100 transition-colors bg-blue-700 rounded shadow-md hover:bg-blue-600">Guardar</button>
		</div>
	</form>
	<script>
		function showSubirImagen(historiaID, posicion){
			let setImagen = document.getElementById("subirImagen")
			setImagen.querySelector("input[name='historia_id']").value = historiaID
			setImagen.querySelector("input[name='posicion']").value = posicion
			setImagen.showModal()
		}
		function showImagen() {
			const [file] = document.getElementById("imgInputFile").files
			if (file) {
				console.log('Archivo: ' + file.name);
				document.getElementById("botonesGuardarFoto").classList.remove("hidden")
				document.getElementById("botonesGuardarFoto").classList.add("flex")
				document.getElementById("imagePreview").classList.remove("hidden")
				document.getElementById("imagePreview").classList.add("block")
				document.getElementById("imagePreview").src = URL.createObjectURL(file)
			}
		}
	</script>
</dialog>

<div id="msgStack" class="hidden">
	<!-- Mensajes respuesta del servidor -->
</div>

<!-- ======================================================== -->
<script src="/assets/js/Sortable.min.js"></script>

<script>	

	document.getElementById("msgStack").addEventListener("htmx:afterSwap", (event) => {
		document.querySelector("[tipo='carriles_container']").dispatchEvent(new Event("historiasActualizadas"))
		dialogHistoria.close()
	})

	// Guardar con Enter; new line con Ctrl+Enter; cancelar con Esc;
	function hdlTextAreaEnter(event) {
		if (event.key === 'Enter') {
			if (event.ctrlKey) {
				event.target.value += '\n';
				autosizeTextarea(event.target);
				event.preventDefault();
			} else {
				event.preventDefault();
				event.target.blur();
			}
		} else if (event.key === 'Escape') {
			event.target.value = event.target.defaultValue;
			event.target.blur();
		}
	}

	// ================================================================ //
	// ========== SORTABLE ============================================ //

	function handleResponse(response) {
		response.text().then((msg) => {
			if (response.status >= 200 && response.status < 300) {
				console.log(msg)
			} else {
				alert(msg)
			}
			document.querySelector("main").dispatchEvent(new Event("reloadHistoria"))
		})
	}

	let historiaID = {{ .Agregado.Historia.HistoriaID }};

	function reordenarTramo(historiaID, oldPos, newPos) {
		console.debug(`reordenarTramo(id:${historiaID}, old:${oldPos}, new:${newPos})`)
		if (historiaID == null) {
			return console.error("No se puede reordenar sin historiaID")
		}
		let formData = new FormData();
		formData.append("historia_id", historiaID);
		formData.append("old_pos", oldPos);
		formData.append("new_pos", newPos);
		fetch('/reordenar-tramo', { method: 'POST', body: formData }).then(response => handleResponse(response));
	}

	function prepSortableTramos(){
		console.log("Preparando sortable tramos")
		var sortableTramos = new Sortable(document.querySelector("[tipo='sort_tramos']"), {
			group: "sort_tramos", animation: 150, swapThreshold: 0.50,
			draggable: "[tipo='sort_tramo']",
			handle: "[tipo='sort_handle']",
			onStart: function(event) {
				event.item.classList.add("opacity-50")
			},
			onEnd: function(event) {
				event.item.classList.remove("opacity-50")
				if (event.oldIndex != event.newIndex){
					return reordenarTramo(historiaID, event.oldIndex+1, event.newIndex+1)
				}
			},
		});
	}

	



	// ================================================================ //
	// ========== WEBSOCKET =========================================== //

	var uri = 'ws:'; if (window.location.protocol === 'https:') { uri = 'wss:'; }; uri += '//' + window.location.host + '/historias/{{ .Agregado.Historia.HistoriaID }}/ws';
	const ws = new WebSocket(uri)
	let wsID = 0
	ws.onopen = function() {
		// console.log('Connected to ' + uri);
	}
	ws.onclose = function(event) {
		console.log("WebSocket closed:", event);
	};
	ws.onerror = function(error) {
		console.log("WebSocket error:", error);
	};
	ws.onmessage = function(event) {
		let data = JSON.parse(event.data)
		if (data.id > 0 && wsID == 0) {
			wsID = data.id
			// console.log("WebsocketID: " + wsID)

		} else if (data.reload) {
			document.querySelector("main").dispatchEvent(new Event("reloadHistoria"))
			// console.log("Recargar historia")
			
		} else {
			// console.log("Mensaje recibido: ", data)
		}
	};
	// Send wsID with non GET requests
	document.body.addEventListener('htmx:configRequest', function(event) {
		if (event.detail.verb != 'get'){
			event.detail.headers['X-SocketID'] = wsID;
			// console.log("Send wsID: " + wsID + " " + event.detail.verb)
		}
	});

	// ================================================================ //
	// ================================================================ //
	function onLoad(content) {
		prepSortableTramos()
	}

</script>