{{ with .Historia -}}
<script>
	let historiaID = {{ .HistoriaID -}};
</script>
<header class="relative flex items-center w-full bg-cyan-950 shadow-lg">
	<div class="p-1">
		<img class="w-24 rounded-md"
			alt="Portada del proyecto"
			data-proyecto-id="{{ .Proyecto.ProyectoID }}"
			src="{{ if .Proyecto.Imagen }}/imagenes/{{ .Proyecto.Imagen }}{{ else }}/assets/img/Elegantthemes-Softies-Tools.256.png{{ end }}"
			>
	</div>
	<div class="w-full p-2">
		<h2 class="text-2xl font-medium">
			<a href="/h/{{ .Proyecto.ProyectoID }}">
				{{ enfatizar .Proyecto.Titulo }}
			</a>
		</h2>
		<h3 class="flex items-center gap-1 py-1">
			<span class="px-2 py-1 font-mono text-sm bg-black bg-opacity-40 rounded-md">
				<i class="fa-solid fa-person"></i>
			</span>
			<a class="text-xl"
				href="/h/{{ .Persona.PersonaID }}">
				{{ .Persona.Nombre }}
			</a>
		</h3>
	</div>
	<span class="absolute right-2 top-2">
		<a class="px-2 py-1 transition-opacity bg-red-800 rounded-md opacity-75 hover:opacity-100"
			href="/"
			>
			<i class="fa-solid fa-xmark"></i>
		</a>
	</span>
</header>

<main class="grow w-full max-w-5xl p-2 mx-auto"
	hx-get="/h/{{ .HistoriaID }}"
	hx-select="main"
	hx-swap="outerHTML"
	hx-target="this"
	hx-trigger="reloadHistoria"
	>

	<div class="flex flex-wrap justify-end gap-x-4 gap-y-2">
		<!--* PERSONA  -->
		<h4 class="grow">
			<a class="mx-1 rounded-md opacity-75 hover:opacity-100"
				href="/h/{{ .Persona.PersonaID }}/doc#{{ .HistoriaID }}"
				title="Documentación"
				>
				<i class="fa-solid fa-book"></i>
			</a>
			<span class="opacity-50">
				Como
			</span>
			<a class="text-lg lowercase transition-colors hover:text-cyan-600"
				href="/h/{{ .Persona.PersonaID }}"
				{{ if not .Ancestros }}tipo="ancestro_directo"{{ end }}
				>
				{{- .Persona.Nombre -}}
			</a>
			<span class="opacity-50">
				quiero...
			</span>
		</h4>
		<!--* INSERTAR PADRE  -->
		<div>
			<button class="mx-1 rounded-md opacity-75 hover:opacity-100"
				hx-post="/h/{{ .HistoriaID }}/padre"
				hx-prompt="Insertar historia padre con el título..."
				type="button"
				title="Insertar historia padre"
				>
				<i class="fa-solid fa-tree"></i>
			</button>
		</div>
		<!--* PRIORIDAD -->
		<div>
			<select class="form-control"
				hx-patch="/h/{{ .HistoriaID }}/prioridad"
				hx-swap="none"
				name="prioridad"
				>
				<option value="0" {{ if .EsPrioridadWont }}selected{{ end }}>
					🚫 Won't
				</option>
				<option value="1" {{ if .EsPrioridadCould }}selected{{ end }}>
					😶‍🌫️ Could
				</option>
				<option value="2" {{ if .EsPrioridadShould }}selected{{ end }}>
					🤔 Should
				</option>
				<option value="3" {{ if .EsPrioridadMust }}selected{{ end }}>
					🤩 Must
				</option>
			</select>
		</div>
		<!--* COMPLETADA -->
		<div>
			<select class="form-control"
				hx-patch="/h/{{ .HistoriaID }}/completada"
				hx-swap="none"
				name="completada"
				>
				<option value="0">
					Pendiente
				</option>
				<option value="1" {{- if .Completada }}selected{{ end }}>
					✅ Completada
				</option>
			</select>
		</div>
		<div class="flex items-center gap-1">
			<input class="form-control max-w-32"
				hx-askfor="reloadProgreso"
				hx-patch="/h/{{ .HistoriaID }}/presupuesto"
				hx-swap="none"
				type="number"
				max="30"
				min="0"
				name="presupuesto"
				placeholder="Presupuesto"
				value="{{ if .SegundosPresupuesto }}{{ div .SegundosPresupuesto 3600 }}{{ end }}"
				>
			Hrs.
		</div>
	</div>

	<!--* ANCESTROS *-->
	{{ if .Ancestros }}
	<div class="pl-4">
		{{ range $i, $v := .Ancestros }}
		<ul class="pl-2 list-disc">
			<li class="pt-1">
				<a class="text-cyan-600 whitespace-pre-line transition-colors hover:text-cyan-400"
					href="/h/{{ .NodoID }}"
					title="Ir al ancestro"
					{{ if eq (suma $i 1) (len $.Historia.Ancestros) }}tipo="ancestro_directo"{{ end }}
					>
					{{- enfatizar .Titulo -}}...
				</a>
				{{ end }}
				{{ range .Ancestros -}}
			</li>
		</ul>
		{{ end }}
	</div>
	{{ end }}

	<!--* TÍTULO -->
	<div class="mt-2 mb-1">
		<textarea class="w-full px-2 py-1 text-2xl font-medium text-white bg-transparent border-b border-cyan-800 resize-none outline-hidden focus:border-blue-400"
			data-nodo-id="{{ .HistoriaID }}"
			hx-patch="/h/{{ .HistoriaID }}/titulo"
			hx-swap="none"
			enterkeyhint="enter"
			name="titulo"
			placeholder="Hacer algo de valor..."
			rows="1"
			title="Título de la historia"
			>
			{{- .Titulo -}}
		</textarea>
	</div>

	<!--* CONTEXTO -->
	<div class="mb-4">
		<textarea class="w-full px-2 py-1 text-base font-medium bg-transparent border-b border-cyan-800 outline-hidden focus:border-blue-400 text-white/75 placeholder:text-slate-600"
			hx-patch="/h/{{ .HistoriaID }}/objetivo"
			hx-swap="none"
			hx-trigger="change, keyup changed delay:60s"
			enterkeyhint="enter"
			name="objetivo"
			placeholder="Porque me sirve para..."
			rows="1"
			title="Objetivo empático de la historia"
			>
			{{- .Objetivo -}}
		</textarea>
	</div>

	<!--* DESCENDIENTES *-->
	<!-- <h3 class="mb-2 text-xl text-cyan-600">
		Descendientes
	</h3> -->
	<ul id="descendientesList" tipo="sort_descendientes" class="mb-6"
		hx-select="#descendientesList"
		hx-target="#descendientesList"
		hx-select-oob="#descendientesMenus"
		>
		{{ range .Historias }}
		<li tipo="sort_descendiente" class="">
			<div class="flex gap-1 p-1 group">
				<div tipo="sort_handle" class="hidden transition-opacity opacity-0 cursor-pointer md:block group-hover:opacity-100">
					⣿
					<form tipo="sort_form"
						hx-post="/reordenar-historia"
						hx-trigger="reordenarEnd"
						>
						<input
							type="hidden"
							name="historia_id"
							value="{{ .HistoriaID }}"
							>
						<input
							type="hidden"
							name="old_pos"
							value="{{ .Posicion }}"
							>
						<input
							type="hidden"
							name="new_pos"
							>
					</form>
				</div>
				<button tipo="descendiente_bullet" class="inline-block w-5 text-center"
					type="button"
					onclick="showMenuHistoria(event, {{ .HistoriaID }})"
					>
					{{- if .Completada }}
					<i class="text-green-600 fa-solid fa-circle-check"></i>
					{{- else if .EsPrioridadMust }}
					<i class="text-orange-600 fa-solid fa-angles-up"></i>
					{{- else if .EsPrioridadShould }}
					<i class="text-orange-400 fa-solid fa-chevron-up"></i>
					{{- else if .EsPrioridadCould }}
					<i class="text-orange-200 fa-solid fa-minus"></i>
					{{- else }}
					<i class="text-slate-400 fa-solid fa-ban"></i>
					{{- end }}
				</button>
				<div class="grow">
					<a class="text-cyan-400 whitespace-pre-line hover:text-cyan-300"
						href="/h/{{ .HistoriaID }}"
						>
						{{- enfatizar .Titulo -}}
					</a>
					<span class="float-right text-sm opacity-75">
						{{ if .SegundosPresupuestoMust }}PM:{{ segundosToString .SegundosPresupuestoMust }}{{ end }}
						{{ if .SegundosEstimadoMust }}EM:{{ segundosToString .SegundosEstimadoMust }}{{ end }}
						{{ if .SegundosEstimado }}Es:{{ segundosToString .SegundosEstimado }}{{ end }}
						{{ if .SegundosPresupuesto }}Pr:{{ segundosToString .SegundosPresupuesto }}{{ end }}
					</span>
				</div>
			</div>

			<!--* DESC NIVEL DOS  -->
			{{ if .Descendientes -}}
			<ul class="">
				{{ range .Descendientes }}
				<li class="flex gap-1 p-1 group">
					<div class="pl-8">
						<button tipo="descendiente_bullet" class="inline-block w-5 text-center"
							type="button"
							onclick="showMenuHistoria(event, {{ .HistoriaID }})"
							>
							{{- if .Completada }}
							<i class="text-green-600 fa-solid fa-circle-check"></i>
							{{- else if .EsPrioridadMust }}
							<i class="text-orange-600 fa-solid fa-angles-up"></i>
							{{- else if .EsPrioridadShould }}
							<i class="text-orange-400 fa-solid fa-chevron-up"></i>
							{{- else if .EsPrioridadCould }}
							<i class="text-orange-200 fa-solid fa-minus"></i>
							{{- else }}
							<i class="text-slate-400 fa-solid fa-ban"></i>
							{{- end }}
						</button>
					</div>
					<div class="grow">
						<a class="font-light text-cyan-400 whitespace-pre-line hover:text-cyan-300"
							href="/h/{{ .HistoriaID }}"
							>
							{{- enfatizar .Titulo -}}
						</a>
						<span class="float-right text-xs opacity-50">
							{{ if .SegundosPresupuesto }}{{ segundosToString .SegundosPresupuesto }}{{ end }}
						</span>
					</div>
				</li>
				{{ end }}
			</ul>
			{{ end }}
		</li>
		{{ end }}

		<li class="">
			<div class="flex gap-1 p-1 group">
				<div class="hidden opacity-0 md:block">
					⣿
				</div>
				<span class="inline-block w-5 text-center">
					<i class="w-5 text-sm text-slate-400 fa-solid fa-arrow-right"></i>
				</span>
				<textarea class="inline-block w-full bg-transparent border-b border-transparent outline-hidden text-white/50 focus:text-white read-only:border-transparent invalid:border-red-500 invalid:focus:border-red-500 placeholder:text-slate-600 read-only:focus:border-transparent focus:border-blue-400"
					hx-post="/h/{{ .HistoriaID }}/historia"
					hx-trigger="keyup[key=='Enter']"
					enterkeyhint="enter"
					name="titulo"
					placeholder="Agregar historia descendiente"
					rows="1"
					></textarea>
			</div>
		</li>
	</ul>

	<!-- Menú contextextual de descendientes -->
	<div id="descendientesMenus"
		hx-askfor="/h/{{ .HistoriaID }}"
		hx-select="#descendientesList"
		hx-target="#descendientesList"
		hx-select-oob="#descendientesMenus"
		>
		{{ range .Descendientes -}}
			{{ template "ctxMenuHistoria" . -}}
			{{ range .Descendientes -}}
				{{ template "ctxMenuHistoria" . -}}
			{{ end }}
		{{ end }}
	</div>

	<!--* RELACIONADAS *-->
	<h3 class="mb-2 text-xl text-cyan-600 group">
		Relacionadas
		<button class="ml-2 text-base transition-opacity opacity-0 group-hover:opacity-100 focus:opacity-100 hover:text-cyan-300"
			type="button"
			onclick="showAddReferencia()"
			title="Agregar historia relacionada"
			>
			<i class="fa-solid fa-square-plus"></i>
		</button>
	</h3>
	<ul id="relacionadasList" class="mb-6">
		{{ range .Relacionadas -}}
		<li class="flex gap-1 p-1 group">
			<div class="pr-2 md:pl-4">
				<i class="text-xs text-slate-400 fa-solid fa-circle"></i>
			</div>
			<div class="grow">
				<a class="text-cyan-400 whitespace-pre-line hover:text-cyan-300"
					href="/h/{{ .HistoriaID }}"
					>
					{{- enfatizar .Titulo -}}
				</a>
			</div>
			<button class="hidden ml-2 transition opacity-0 cursor-pointer md:block group-hover:opacity-80 focus:opacity-80 hover:text-red-600"
				hx-delete="/h/{{ $.Historia.HistoriaID }}/referencias/{{ .HistoriaID }}"
				hx-select="#relacionadasList"
				hx-target="#relacionadasList"
				type="button"
				title="Quitar historia relacionada"
				>
				<i class="fa-solid fa-trash"></i>
			</button>
		</li>
		{{ end }}
	</ul>

	<!--* AVANCE  -->
	<div id="progreso"
		hx-get="/h/{{ .HistoriaID }}"
		hx-select="#progreso"
		hx-target="#progreso"
		hx-swap="outerHTML"
		hx-trigger="reloadProgreso from:body"
		>
		{{ if or .SegundosPresupuesto .SegundosEstimado .SegundosUtilizado }}
		<div class="flex items-center justify-between gap-4 mb-4">
			<h3 class="text-xl text-cyan-600">
				<a href="#progreso">
					Recursos
				</a>
			</h3>
			<div class="flex items-center gap-1">
				<input class="form-control max-w-32"
					hx-askfor="reloadProgreso"
					hx-patch="/h/{{ .HistoriaID }}/presupuesto"
					hx-swap="none"
					type="number"
					max="30"
					min="0"
					name="presupuesto"
					placeholder="Presupuesto"
					value="{{ if .SegundosPresupuesto }}{{ div .SegundosPresupuesto 3600 }}{{ end }}"
					>
				Hrs.
			</div>
		</div>
		<!-- Tarjetas avance -->
		<div class="flex flex-wrap justify-around gap-4 mb-4 text-4xl">
			<div class="flex flex-col items-center justify-center p-4 px-6 bg-cyan-800 rounded-lg shadow-md">
				<span class="text-3xl font-bold text-white">
					{{ .AvancePorcentual }}%
				</span>
				<span class="text-sm text-cyan-200">
					Avance
				</span>
			</div>
			<div class="flex flex-col items-center justify-center p-4 px-6 bg-cyan-800 rounded-lg shadow-md">
				<span class="text-3xl font-bold text-white">
					{{ segundosToString .SegundosPresupuesto }}
				</span>
				<span class="text-sm text-cyan-200">
					Presupuesto
				</span>
			</div>
			<div class="flex flex-col items-center justify-center p-4 px-6 bg-cyan-800 rounded-lg shadow-md">
				<span class="text-3xl font-bold text-white">
					{{ segundosToString .SegundosEstimado }}
				</span>
				<span class="text-sm text-cyan-200">
					Estimación
				</span>
			</div>
			<div class="flex flex-col items-center justify-center p-4 px-6 bg-cyan-800 rounded-lg shadow-md">
				<span class="text-3xl font-bold {{ if gt .SegundosUtilizado (suma .SegundosPresupuesto 3600) }} text-red-400 {{ else if gt .SegundosUtilizado .SegundosPresupuesto }} text-orange-400 {{ else }} text-white {{ end }}">
					{{ segundosToString .SegundosUtilizado }}
				</span>
				<span class="text-sm text-cyan-200">
					Utilizado
				</span>
			</div>
		</div>
		<!-- Gráfico avance -->
		{{ if not $.OldGrafico }}
		<div class="mb-4 text-2xl sm:text-lg">
			{{ $px := .AvanceRelativoMil -}}
			<svg xmlns="http://www.w3.org/2000/svg" viewbox="-10 -10 1020 115" style="background-color: transparent;">
				<style>
					#tEtiquetas {
						font-weight: 600;
						fill: lightgray;
					}
					#rUtilizado {
						fill: var(--color-cyan-800);
					}
					#rExpectativa {
						stroke: var(--color-green-600);
					}
				</style>
				{{ if $px.Utilizado -}}
				<rect id="rUtilizado"
					x="0"
					y="0"
					width="{{ $px.Utilizado }}"
					height="80"
					fill="darkcyan"
					rx="12" ry="12"
					>
					<title>Utilizado</title>
				</rect>
				{{ end -}}
				{{ if $px.Estimado -}}
				<line id="rEstimado"
					x1="{{ $px.Estimado }}"
					y1="0"
					x2="{{ $px.Estimado }}"
					y2="80"
					stroke-width="4"
					stroke-dasharray="6"
					stroke="lightgray"
				/>
				{{ end -}}
				<rect id="rPresupuesto"
					x="0"
					y="0"
					width="{{ $px.Presupuesto }}"
					height="80"
					fill="transparent"
					stroke="lightgray"
					stroke-width="4"
					rx="12" ry="12"
					>
					<title>Presupuesto</title>
				</rect>
				{{ if and $px.Expectativa (lt .AvancePorcentual 99.0) }}
				<line id="rExpectativa"
					x1="{{ $px.Expectativa }}"
					y1="10"
					x2="{{ $px.Expectativa }}"
					y2="70"
					stroke-width="4"
					stroke="green"
				/>
				{{ else if (ge .AvancePorcentual 99.0)}}
				<rect id="rExpectativa"
					x="0"
					y="0"
					width="{{ $px.Expectativa }}"
					height="80"
					fill="transparent"
					stroke="green"
					stroke-width="4"
					rx="12" ry="12"
					>
					<title>Presupuesto</title>
				</rect>
				{{ end -}}
				<g id="tEtiquetas">
					<text id="lUtilizado"
						x="{{ $px.Utilizado }}"
						y="48"
						{{ if and (gt $px.Utilizado 400) (or (gt $px.Utilizado 900) (gt (resta $px.Utilizado $px.Estimado) 100)) -}}
						text-anchor="end" style="transform: translate(-6px, 0);"
						{{ else -}}
						text-anchor="start" style="transform: translate(6px, 0);"
						{{ end -}}
						>
						{{ segundosToString .SegundosUtilizado }}
					</text>
					<text id="lEstimado"
						x="{{ $px.Estimado }}"
						y="68"
						{{ if and (gt $px.Estimado 100) (or (gt $px.Estimado 900) (gt $px.Utilizado $px.Estimado)) -}}
						text-anchor="end" style="transform: translate(-6px, 0);"
						{{ else -}}
						text-anchor="start" style="transform: translate(6px, 0);"
						{{ end -}}
						>
						{{ segundosToString .SegundosEstimado }}
					</text>
					<text id="lExpectativa"
						x="{{ $px.Expectativa }}"
						y="24"
						{{ if gt $px.Expectativa 800 -}}
						text-anchor="end" style="transform: translate(-6px, 0);"
						{{ else -}}
						text-anchor="start" style="transform: translate(6px, 0);"
						{{ end -}}
						>
						{{ .AvancePorcentual }}%
					</text>
				</g>
				<g id="tSeparadores">
					{{ range $px.Separadores -}}
					{{ if not .EsUltimo -}}
					<line
						x1="{{ .Posicion }}"
						y1="80"
						x2="{{ .Posicion }}"
						y2="108"
						stroke="lightgray"
						stroke-width="2"
					/>
					{{ end }}
					<text
						x="{{ resta .Posicion 5 }}"
						y="105"
						text-anchor="end"
						fill="lightgray"
						{{ if .EsPresupuesto -}}
						style="font-weight: 600;"
						{{ end -}}
						>
						{{ .Hora }}h
					</text>
					{{ end }}
				</g>
			</svg>
		</div>
		{{ else }}
		<script defer src="/assets/js/chart.js"></script>
		<div class="w-full h-24 px-4 mb-6 bg-transparent">
			<canvas id="chartAvanceHistoria"></canvas>
		</div>
		<script>
		function showChartAvance() {
			new Chart(document.getElementById('chartAvanceHistoria'), {
				type: 'bar',
				data: {
					labels: [''],
					datasets: [
						{
							// MARCA DE TIEMPO ESTIMADO
							data: [{{ .HorasEstimado }}],
							label: 'Estimado',
							categoryPercentage: 1,
							backgroundColor: 'transparent',
							borderWidth: {top: 0, right: 2, bottom: 0, left: 0},
							borderColor: 'gray',
						},
						{
							// MARCA DE EXPECTATIVA SEGÚN AVANCE Y PRESUPUESTO
							data: [{{ .HorasExpectativaAvancePresupuesto }}],
							label: 'Avance obtenido',
							categoryPercentage: 1,
							backgroundColor: 'transparent',
							borderWidth: {top: 0, right: 3, bottom: 0, left: 0},
							borderColor: 'lime',
						},
						{
							// RECUADRO DE PRESUPUESTO
							data: [{{ .HorasPresupuesto }}],
							label: 'Presupuesto',
							categoryPercentage: 1,
							backgroundColor: 'transparent',
							borderWidth: {top: 2, right: 5, bottom: 2, left: 0},
							borderColor: 'lightblue',
						},
						{
							// RELLENO UTILIZADO
							data: [{{ .HorasUtilizado }}],
							label: 'Utilizado',
							backgroundColor: '#155e75',
							categoryPercentage: 1,
						},
					]
				},
				options: {
					indexAxis: 'y',
					barThickness: 30,
					elements: {
						bar: {
						}
					},
					responsive: true,
					maintainAspectRatio: false,
					scales: {
						y: {
							stacked: true,
							ticks: {
								color: 'white'
							},
							grid: {
								display: false,
							},
							border: {
								color: 'white',
								width: 2,
							},
						},
						x: {
							beginAtZero: true,
							grid: {
								drawOnChartArea: false,
								color: 'white',
								lineWidth: 2,
							},
							border: {
								display: false,
							},
							ticks: {
								color: 'white',
								callback: function(value, index, ticks) {
									return this.getLabelForValue(value) + " h";
								},
							},
						}
					},
					plugins: {
						legend: {
							display: false,
							position: 'top',
							labels: {
								color: 'white',
								boxWidth: 20,
							}
						},
						title: {
							display: false,
						},
						tooltip: {
							enabled: false,
						},
					}
				},
			});
		}
		document.addEventListener("DOMContentLoaded", showChartAvance);
		</script>
		{{ end }}
		{{ end }}
	</div>

	<!--* REGLAS DE NEGOCIO -->
	<ol id="reglasDeNegocio" tipo="sort_reglas" class="mb-6">
		{{ range .Reglas -}}
		<li tipo="sort_regla" class="flex gap-1 p-1 group">
			<div tipo="sort_handle" class="hidden transition-opacity opacity-0 cursor-pointer md:block group-hover:opacity-100"
				title="Posición {{ .Posicion }}"
				>
				⣿
				<form tipo="sort_form"
					hx-post="/reordenar-regla"
					hx-select="#reglasDeNegocio"
					hx-target="#reglasDeNegocio"
					hx-trigger="reordenarEnd"
					>
					<input
						type="hidden"
						name="historia_id"
						value="{{ .HistoriaID }}"
						>
					<input
						type="hidden"
						name="old_pos"
						value="{{ .Posicion }}"
						>
					<input
						type="hidden"
						name="new_pos"
						>
				</form>
			</div>
			<button class="pr-2"
				hx-patch="/h/{{ .ReglaID }}/marcar"
				hx-select="#reglasDeNegocio"
				hx-target="#reglasDeNegocio"
				type="button"
				>
				{{ if eq .Estatus 2 }}
				<i class="text-sm text-green-500 fa-solid fa-arrow-right"></i>
				{{ else if eq .Estatus 1 }}
				<i class="text-sm text-orange-500 fa-solid fa-arrow-right"></i>
				{{ else if eq .Estatus 0 }}
				<i class="text-sm text-slate-400 fa-solid fa-arrow-right"></i>
				{{ else }}
				<i class="text-sm text-slate-400 fa-solid fa-question-circle"></i>
				{{ end }}
			</button>
			<textarea id="input_Regla{{ .Posicion }}" class="inline-block w-full text-white bg-transparent border-b border-transparent outline-hidden read-only:border-transparent invalid:border-red-500 invalid:focus:border-red-500 placeholder:text-slate-600 read-only:focus:border-transparent focus:border-blue-400"
				hx-patch="/h/{{ .ReglaID }}/texto"
				hx-select="#reglasDeNegocio"
				hx-target="#reglasDeNegocio"
				enterkeyhint="enter"
				name="texto"
				rows="1"
				>
				{{- .Texto -}}
			</textarea>
			<button class="hidden ml-2 transition opacity-0 cursor-pointer md:block group-hover:opacity-80 focus:opacity-80 hover:text-red-600"
				hx-confirm="¿Eliminar regla? {{ .Texto }}"
				hx-delete="/h/{{ .ReglaID }}"
				hx-select="#reglasDeNegocio"
				hx-target="#reglasDeNegocio"
				type="button"
				title="Quitar regla"
				>
				<i class="fa-solid fa-trash"></i>
			</button>
		</li>
		{{ end }}
		<li class="flex items-center gap-1 p-1">
			<div class="hidden opacity-0 md:block">
				⣿
			</div>
			<div class="pr-2">
				<i class="text-sm text-slate-400 fa-solid fa-arrow-right"></i>
			</div>
			<textarea id="input_AddRegla" class="inline-block w-full bg-transparent border-b border-transparent outline-hidden text-white/50 focus:text-white read-only:border-transparent invalid:border-red-500 invalid:focus:border-red-500 placeholder:text-slate-600 read-only:focus:border-transparent focus:border-blue-400"
				hx-post="/h/{{ .HistoriaID }}/regla"
				hx-select="#reglasDeNegocio"
				hx-target="#reglasDeNegocio"
				hx-trigger="keyup[key=='Enter']"
				enterkeyhint="enter"
				name="titulo"
				placeholder="Agregar regla"
				rows="1"
				></textarea>
		</li>
	</ol>

	<!--* VIAJE DE USUARIO *-->
	<h3 class="mb-2 text-xl text-cyan-600 group">
		Viaje de usuario
		<a class="mx-1 text-base opacity-0 group-hover:opacity-100 focus:opacity-100"
			href="/h/{{ .Persona.PersonaID }}/doc#{{ .HistoriaID }}"
			title="Ver en documentación"
			>
			<i class="fa-solid fa-book"></i>
		</a>
	</h3>
	<div class="mb-2">
		<textarea class="w-full px-2 py-1 text-base font-medium bg-transparent border-b border-cyan-800 outline-hidden focus:border-blue-400 text-white/75 placeholder:text-slate-600"
			hx-patch="/h/{{ .HistoriaID }}/descripcion"
			hx-swap="none"
			hx-trigger="change, keyup changed delay:60s"
			enterkeyhint="enter"
			name="descripcion"
			placeholder="Descripción para el usuario en infinitivo..."
			rows="1"
			title="Descripción de la historia"
			>
			{{- .Descripcion -}}
		</textarea>
	</div>
	<ol id="viajeList" tipo="sort_tramos" class="mb-6">
		{{ range .Tramos -}}
		<li tipo="sort_tramo" class="flex flex-col items-start">
			<div class="flex w-full gap-1 p-1 group">
				<div tipo="sort_handle" class="hidden transition-opacity opacity-0 cursor-pointer md:block group-hover:opacity-100">
					⣿
					<form tipo="sort_form"
						hx-post="/reordenar-tramo"
						hx-select="#viajeList"
						hx-target="#viajeList"
						hx-trigger="reordenarEnd"
						>
						<input
							type="hidden"
							name="historia_id"
							value="{{ .HistoriaID }}"
							>
						<input
							type="hidden"
							name="old_pos"
							value="{{ .Posicion }}"
							>
						<input
							type="hidden"
							name="new_pos"
							>
					</form>
				</div>
				<div>
					<span class="px-2 py-1 mr-1 font-mono text-xs rounded-md opacity-50 bg-black/50 whitespace-nowrap">
						{{ .Posicion }}
					</span>
				</div>
				<textarea id="input_Tramo{{ .Posicion }}" class="inline-block w-full text-white bg-transparent border-b border-transparent outline-hidden read-only:border-transparent invalid:border-red-500 invalid:focus:border-red-500 placeholder:text-slate-600 read-only:focus:border-transparent focus:border-blue-400"
					hx-patch="/h/{{ .TramoID }}/texto"
					hx-select="#viajeList"
					hx-target="#viajeList"
					enterkeyhint="enter"
					name="texto"
					rows="1"
					>
					{{- .Texto -}}
				</textarea>
				<div class="flex gap-2">
					{{ if not .Imagen -}}
					<button class="ml-1 transition-opacity opacity-0 cursor-pointer group-hover:opacity-80 focus:opacity-80"
						type="button"
						onclick="showTramoImgModal(this.closest('li'))"
						title="Definir imagen"
						>
						<i class="fa-solid fa-image"></i>
					</button>
					{{ end }}
					<button class="ml-1 transition-opacity opacity-0 cursor-pointer group-hover:opacity-80 focus:opacity-80"
						type="button"
						onclick="showMoverTramo('{{ .HistoriaID }}','{{ .Posicion }}','{{ .Texto }}')"
						title="Mover tarea"
						>
						<i class="fa-solid fa-person-walking"></i>
					</button>
				</div>
			</div>
			{{ if .Imagen -}}
			<div class="relative mb-2 ml-12 border border-cyan-800 rounded-md shadow-lg">
				<img class="rounded-md cursor-pointer max-w-40 max-h-40"
					onclick="showTramoImgModal(this.closest('li'))"
					src="/imagenes/{{ .Imagen }}"
					>
			</div>
			{{ end }}
		</li>
		{{ end }}

		<!-- Agregar tramo... -->
		<li class="flex items-center gap-1 p-1">
			<div class="hidden opacity-0 md:block">
				⣿
			</div>
			<div>
				<span class="px-2 py-1 mr-1 font-mono text-xs rounded-md opacity-50 bg-black/50 whitespace-nowrap">
					{{ suma (len .Tramos) 1 }}
				</span>
			</div>
			<textarea id="input_AddTramo" class="inline-block w-full bg-transparent border-b border-transparent outline-hidden text-white/50 focus:text-white read-only:border-transparent invalid:border-red-500 invalid:focus:border-red-500 placeholder:text-slate-600 read-only:focus:border-transparent focus:border-blue-400"
				hx-post="/h/{{ .HistoriaID }}/viaje"
				hx-select="#viajeList"c
				hx-target="#viajeList"
				hx-trigger="keyup[key=='Enter']"
				enterkeyhint="enter"
				name="titulo"
				placeholder="Agregar un tramo al viaje"
				rows="1"
				></textarea>
		</li>
	</ol>

	<!--* IMAGEN DEL TRAMO -->
	<dialog id="TramoImgModal" class="w-full max-w-3xl m-auto text-white bg-cyan-900 border-4 border-cyan-800 rounded-md">
		<div class="flex flex-col max-w-3xl max-h-[90vh]">
			<!-- Para hacer scrollable manteniendo header -->
			<header class="flex items-center gap-2 p-2 bg-cyan-800">
				<h2 class="grow text-xl">
					Viaje de usuario
				</h2>
				<button class="inline-block float-right px-2 text-lg rounded-md hover:opacity-75"
					type="button"
					title="Anterior"
					>
					<i class="fa-solid fa-arrow-left"></i>
				</button>
				<button class="inline-block float-right px-2 text-lg rounded-md hover:opacity-75"
					type="button"
					title="Siguiente"
					>
					<i class="fa-solid fa-arrow-right"></i>
				</button>
				<button class="inline-block float-right px-2 text-2xl rounded-md hover:opacity-75"
					type="button"
					onclick="this.closest('dialog').close()"
					title="Cerrar"
					>
					<i class="fa-solid fa-xmark"></i>
				</button>
			</header>
			<div class="flex flex-col grow gap-2 p-2 overflow-y-auto">
				<p>
					<!-- Datos puestos con JS -->
				</p>
				<img class="mx-auto border border-cyan-800 rounded-md shadow-lg"
					src=""
					>
				<form id="formSubirImagen" class="py-2 text-center"
					hx-encoding="multipart/form-data"
					hx-post="/imagenes"
					hx-select="#viajeList"
					hx-target="#viajeList"
					>
					<input
						type="hidden"
						name="historia_id"
						>
					<input
						type="hidden"
						name="posicion"
						>
					<input class="form-control"
						type="file"
						accept="image/png, image/jpeg, image/gif"
						name="imagen"
						onchange="showTramoImagePreview(this)"
						required
						>
				</form>
				<div class="flex flex-row-reverse flex-wrap justify-center gap-x-4 gap-y-2">
					<button tipo="btn_subir_imagen" class="grow p-2 text-lg font-semibold transition-colors bg-cyan-700 rounded-sm shadow-md hover:bg-cyan-600"
						type="submit"
						form="formSubirImagen"
						onclick="this.closest('dialog').close()"
						>
						Guardar
					</button>
					<button tipo="cancelar" class="inline-block px-6 py-2 text-slate-100 transition-colors bg-gray-600 rounded-sm shadow-md hover:bg-gray-500"
						onclick="this.closest('dialog').close()"
						>
						Cancelar
					</button>
					<button tipo="eliminar_img" class="px-6 py-2 font-semibold text-red-400 transition-colors rounded-sm shadow-md hover:bg-red-500 hover:text-white"
						hx-confirm="¿Eliminar esta imagen?"
						hx-select="#viajeList"
						hx-target="#viajeList"
						hx-trigger="click"
						type="button"
						onclick="this.closest('dialog').close()"
						title="Quitar imagen"
						>
						Quitar imagen
					</button>
				</div>
			</div>
		</div>
	</dialog>

	<!--* TAREAS -->
	<div class="flex flex-wrap items-baseline gap-4 mb-2 text-cyan-600">
		<h3 id="tareas" class="grow text-xl">
			<a href="#tareas">
				Tareas
			</a>
		</h3>
		<span class="text-sm opacity-75">
			<i class="fa-solid fa-list-check"></i>
			Progreso
			{{ .Tareas.AvancePorcentual }}%
		</span>
		{{- if .Tareas.SegundosUtilizado -}}
		<span class="text-sm opacity-75"
			title="Tiempo transcurrido {{ segundosToString .Tareas.SegundosUtilizado }}"
			>
			<i class="fa-solid fa-stopwatch"></i>
			Transcurrido
			{{ segundosToString .Tareas.SegundosUtilizado }}
		</span>
		{{- end -}}
		{{- if .Tareas.SegundosEstimado -}}
		<span class="text-sm opacity-75">
			<i class="fa-solid fa-hourglass-start"></i>
			Estimado
			{{ segundosToString .Tareas.SegundosEstimado }}
		</span>
		{{- end -}}
	</div>
	<ol id="tareasList" class="mb-6"
		hx-select="#tareasList"
		hx-target="#tareasList"
		hx-select-oob="#tareasDialogs, #progreso"
		hx-swap="innerHTML"
		>
		{{ range .Tareas }}
		<li id="{{ .TareaID }}" tipo="sort_tarea" class="flex gap-1 p-1 group">
			<div tipo="sort_handle" class="hidden transition-opacity opacity-0 cursor-pointer md:block group-hover:opacity-100">
				⣿
				<form tipo="sort_form"
					hx-post="/reordenar-tarea"
					hx-trigger="reordenarEnd"
					>
					<input
						type="hidden"
						name="historia_id"
						value="{{ .HistoriaID }}"
						>
					<input
						type="hidden"
						name="new_pos"
						>
				</form>
			</div>
			<div>
				<span class="inline-block w-6 text-center">
					{{- if .Finalizada }}
					<i class="text-green-600 fa-regular fa-square-check"></i>
					{{ else if .EnCurso }}
					<i class="text-green-600 fa-regular fa-square"></i>
					{{ else if .EnPausa }}
					<i class="text-orange-600 fa-regular fa-square"></i>
					{{ else }}
					<i class="text-slate-400 fa-regular fa-square"></i>
					{{ end -}}
				</span>
			</div>
			<p class="">
				<button class="px-2 py-1 text-xs font-semibold leading-none text-cyan-600 bg-cyan-950 rounded-md"
					hx-post="/h/{{ .TareaID }}/importancia"
					tabindex="-1"
					title="{{ $.Historia.Tareas.ValorPorcentual .TareaID }}% del trabajo"
					>
					{{- .Importancia.Etiqueta -}}
				</button>

				{{ if not .Tipo.EsIndefinido -}}
				<span class="px-2 py-1 text-xs font-semibold leading-none text-cyan-600 bg-cyan-950 rounded-md">
					{{- .Tipo.Etiqueta -}}
				</span>
				{{ end }}

				<span class="cursor-pointer {{ if .Finalizada }} opacity-50 line-through {{ end }}"
					onclick="document.getElementById('edit{{ .TareaID }}').showModal()"
					>
					{{ .Descripcion }}
				</span>

				{{- if .EnCurso -}}
				<span class="mx-2 opacity-50">
					<img class="inline-block w-8"
						alt="En progreso"
						src="/assets/img/spinner.svg"
						>
				</span>
				{{- end -}}

				<span class="float-right sm:hidden">
					{{- if .SegundosEstimado -}}
					<span class="pl-4 text-sm opacity-75 whitespace-nowrap"
						title="Tiempo estimado {{ segundosToString .SegundosEstimado }}"
						>
						<i class="fa-solid fa-hourglass-start"></i>
						{{ segundosToString .SegundosEstimado }}
					</span>
					{{- end -}}
					{{- if .SegundosUtilizado -}}
					<button class="pl-4 text-sm opacity-75 whitespace-nowrap"
						onclick="showIntervalos('{{ .TareaID }}')"
						title="Tiempo transcurrido {{ segundosToString .SegundosUtilizado }}"
						>
						<i class="fa-solid fa-stopwatch"></i>
						{{ segundosToString .SegundosUtilizado }}
					</button>
					{{- end -}}
				</span>

				{{ if and .Impedimentos (not .Finalizada) -}}
				<br>
				<i class="text-sm text-orange-300">
					{{ .Impedimentos }}
				</i>
				{{- end }}

				<!-- <span class="px-2 py-1 text-xs font-semibold leading-none text-white bg-cyan-950 rounded-md opacity-50">
					e:{{ .SegundosEstimado }}
					r:{{ .SegundosUtilizado }}
					v:{{ .ValorPonderado }}
					a:{{ .AvancePonderado }}
					{{ $.Historia.Tareas.ValorPorcentual .TareaID }}%
				</span> -->
			</p>
			<div class="items-start hidden gap-2 md:flex">
				{{ if .NoIniciada -}}
				<button class="inline-block px-2 text-lg text-slate-100 transition-opacity shadow-md opacity-0 group-hover:opacity-80 focus:opacity-100"
					hx-post="/h/{{ .TareaID }}/iniciar"
					type="button"
					title="Iniciar tarea"
					>
					<i class="fa-solid fa-play"></i>
				</button>
				{{ else if .EnCurso -}}
				<button class="inline-block px-2 text-lg text-slate-100 transition-opacity shadow-md opacity-0 group-hover:opacity-80 focus:opacity-100"
					hx-post="/h/{{ .TareaID }}/pausar"
					type="button"
					title="Pausar tarea"
					>
					<i class="fa-solid fa-pause"></i>
				</button>
				<button class="inline-block px-2 text-lg text-slate-100 transition-opacity shadow-md opacity-0 group-hover:opacity-80 focus:opacity-100"
					hx-post="/h/{{ .TareaID }}/terminar"
					type="button"
					title="Marcar como finalizada"
					>
					<i class="fa-solid fa-square-check"></i>
				</button>
				{{ else if .EnPausa -}}
				<button class="inline-block px-2 text-lg text-slate-100 transition-opacity shadow-md opacity-0 group-hover:opacity-80 focus:opacity-100"
					hx-post="/h/{{ .TareaID }}/iniciar"
					type="button"
					title="Iniciar tarea"
					>
					<i class="fa-solid fa-play"></i>
				</button>
				{{ else if .Finalizada -}}
				<button class="inline-block px-2 text-lg text-slate-100 transition-opacity shadow-md opacity-0 group-hover:opacity-80 focus:opacity-100"
					hx-post="/h/{{ .TareaID }}/iniciar"
					type="button"
					title="Iniciar tarea"
					>
					<i class="fa-solid fa-play"></i>
				</button>
				{{ end }}
			</div>
			<div class="grow hidden text-right sm:block">
				<button class="pl-4 text-sm opacity-75 whitespace-nowrap"
					onclick="showIntervalos('{{ .TareaID }}')"
					title="Tiempo transcurrido {{ segundosToString .SegundosUtilizado }}"
					>
					<i class="fa-solid fa-stopwatch"></i>
					{{ segundosToString .SegundosUtilizado }}
				</button>
				<button class="pl-4 text-sm opacity-75 whitespace-nowrap"
					hx-patch="/h/{{ .TareaID }}/estimado"
					hx-prompt="Nuevo estimado"
					title="Tiempo estimado {{ segundosToString .SegundosEstimado }}"
					>
					<i class="fa-solid fa-hourglass-start"></i>
					{{ if .SegundosEstimado }}{{ segundosToString .SegundosEstimado }}{{ else }}1h{{ end -}}
				</button>
			</div>
		</li>
		{{ end }}
		<li class="flex items-center gap-1 p-1">
			<div class="hidden opacity-0 md:block">
				⣿
			</div>
			<div>
				<span class="inline-block w-6 text-center">
					<i class="text-slate-400 fa-regular fa-square"></i>
				</span>
			</div>
			<input id="input_AddTarea" class="inline-block w-full text-white bg-transparent border-b border-cyan-800 outline-hidden invalid:border-red-500 invalid:focus:border-red-500 placeholder:text-slate-600 focus:border-blue-400"
				hx-include="closest li"
				hx-on:htmx:validation:validate="if(this.value == '') { this.setCustomValidity('Introduzca un valor'); this.reportValidity(); this.addEventListener('input',function fn(){ console.log('input'); this.setCustomValidity(''); this.removeEventListener('input',fn); }); }"
				hx-post="/h/{{ .HistoriaID }}/tareas"
				hx-trigger="keyup[key=='Enter']"
				hx-validate="true"
				type="text"
				name="descripcion"
				placeholder="Agregar tarea"
				enterkeyhint="enter"
				>
			<input class="inline-block text-white bg-transparent border-b border-cyan-800 outline-hidden invalid:border-red-500 invalid:focus:border-red-500 placeholder:text-slate-600 focus:border-blue-400"
				hx-include="closest li"
				hx-post="/h/{{ .HistoriaID }}/tareas"
				hx-trigger="keyup[key=='Enter']"
				hx-validate="true"
				type="text"
				name="segundos_estimado"
				placeholder="⏱ Estimado"
				enterkeyhint="enter"
				>
		</li>
	</ol>

	<!--* IMPLEMENTACIÓN -->
	<div id="implementacion" class="mb-6">
		<h3 class="text-xl text-cyan-600 mb-2">
			<a href="#implementacion">
				Implementación
			</a>
			{{ if .Notas -}}
			<button class="mx-2 text-base hover:text-cyan-300 float-right"
				type="button"
				onclick="editNotasImplementacion(this)"
				aria-label="Editar notas"
				title="Editar notas"
				>
				<i class="fa-solid fa-pencil"></i>
			</button>
			{{ end -}}
			<button id="viewNotasBtn" class="mx-2 text-base hover:text-cyan-300 float-right hidden"
				type="button"
				hx-get="/h/{{ .HistoriaID }}"
				hx-select="#implementacion"
				hx-target="#implementacion"
				aria-label="Ver con formato"
				title="Ver con formato"
				>
				<i class="fa-solid fa-eye"></i>
			</button>
		</h3>
		{{ if .Notas -}}
		<p id="notasImplView" class="px-2 py-1 mb-1 text-white/75 whitespace-pre-line">
			{{- enfatizar .Notas -}}
		</p>
		{{ end -}}
		<div id="notasImplEdit" class="{{ if .Notas -}}hidden{{ end }}">
			<textarea class="w-full px-2 py-1 text-base font-medium bg-transparent border-b border-cyan-800 outline-hidden focus:border-blue-400 text-white/75 placeholder:text-slate-600"
				hx-patch="/h/{{ .HistoriaID }}/notas"
				hx-swap="none"
				hx-trigger="change, keyup changed delay:60s"
				enterkeyhint="enter"
				name="notas"
				placeholder="Notas de implementación..."
				rows="1"
				title="Detalles de implementación"
				onchange="let btn = document.getElementById('viewNotasBtn'); if(this.value.trim() !== '') { btn.classList.remove('hidden'); } else { btn.classList.add('hidden'); }"
				>
				{{- .Notas -}}
			</textarea>
		</div>
	</div>

	{{ if and (not .Descripcion) (not .Objetivo) (not .Notas) (not .Reglas) (not .Descendientes) (not .Tramos) (not .Relacionadas) (not .Tareas) -}}
	<div class="text-center">
		<button class="px-4 py-2 transition-opacity bg-red-800 rounded-md opacity-75 hover:opacity-100"
			hx-confirm="¿Eliminar historia vacía?"
			hx-delete="/h/{{ .HistoriaID }}"
			type="button"
			>
			<i class="mr-2 fa-solid fa-trash"></i>
			Eliminar historia
		</button>
	</div>
	{{ end }}

</main>
{{ end }}

<!-- Editar tareas -->
<div id="tareasDialogs"
	hx-select="#tareasList"
	hx-target="#tareasList"
	hx-select-oob="#tareasDialogs, #progreso"
	>
	{{ range .Historia.Tareas -}}
	{{ template "tarea_editar_dialog" . }}
	{{ end }}
</div>

<!-- Administrar intervalos -->
{{ block "intervalos_dialog" . }}
<dialog id="modalIntervalos" class="m-auto text-white bg-cyan-900 border-4 border-cyan-800 rounded-md">
	<div id="intervalosList"
		hx-swap="innerHTML"
		hx-target="this"
		hx-trigger="cargarIntervalos"
		>
		Cargando...
	</div>
</dialog>
{{ end }}

<!-- ======================================================== -->
{{ define "ctxMenuHistoria" -}}
<dialog id="ctxMenuHistoria{{ .HistoriaID }}" tipo="ctxMenuHistoria" class="absolute p-0 m-0 text-slate-300 bg-cyan-900 border border-slate-300 rounded-sm shadow-md"
	onclick="this.close()"
	>
	<form class="grid grid-cols-2 gap-1 p-2 text-sm">

		<div class="col-span-2 px-1 text-xs opacity-50">
			Prioridad
		</div>
		<button class="block w-full p-1 pr-2 text-left transition-colors rounded-sm hover:shadow-md hover:bg-cyan-700 {{ if .EsPrioridadMust }}font-bold{{ end }}"
			hx-post="/h/{{ .HistoriaID }}/priorizar/3"
			type="button"
			>
			<span class="inline-block w-5 text-center">
				<i class="text-orange-600 fa-solid fa-angles-up"></i>
			</span>
			Must
		</button>
		<button class="block w-full p-1 pr-2 text-left transition-colors rounded-sm hover:shadow-md hover:bg-cyan-700 {{ if .EsPrioridadShould }}font-bold{{ end }}"
			hx-post="/h/{{ .HistoriaID }}/priorizar/2"
			type="button"
			>
			<span class="inline-block w-5 text-center">
				<i class="text-orange-400 fa-solid fa-chevron-up"></i>
			</span>
			Should
		</button>
		<button class="block w-full p-1 pr-2 text-left transition-colors rounded-sm hover:shadow-md hover:bg-cyan-700 {{ if .EsPrioridadCould }}font-bold{{ end }}"
			hx-post="/h/{{ .HistoriaID }}/priorizar/1"
			type="button"
			>
			<span class="inline-block w-5 text-center">
				<i class="text-orange-200 fa-solid fa-minus"></i>
			</span>
			Would
		</button>
		<button class="block w-full p-1 pr-2 text-left transition-colors rounded-sm hover:shadow-md hover:bg-cyan-700 {{ if .EsPrioridadWont }}font-bold{{ end }}"
			hx-post="/h/{{ .HistoriaID }}/priorizar/0"
			type="button"
			>
			<span class="inline-block w-5 text-center">
				<i class="text-slate-400 fa-solid fa-ban"></i>
			</span>
			Won't
		</button>

		<div class="col-span-2 px-1 text-xs opacity-50">
			Estatus
		</div>
		<button class="block w-full p-1 pr-2 text-left transition-colors rounded-sm hover:shadow-md hover:bg-cyan-700 {{ if .Completada }}font-bold{{ end }}"
			hx-post="/h/{{ .HistoriaID }}/marcar/1"
			type="button"
			>
			<span class="inline-block w-5 text-center">
				<i class="text-green-600 fa-solid fa-circle-check"></i>
			</span>
			Lista
		</button>
		<button class="block w-full p-1 pr-2 text-left transition-colors rounded-sm hover:shadow-md hover:bg-cyan-700 {{ if not .Completada }}font-bold{{ end }}"
			hx-post="/h/{{ .HistoriaID }}/marcar/0"
			type="button"
			>
			<span class="inline-block w-5 text-center">
				<i class="text-orange-600 fa-regular fa-circle"></i>
			</span>
			Falta
		</button>

		<div class="col-span-2 px-1 text-xs opacity-50">
			Acciones
		</div>
		<button class="block w-full p-1 pr-2 text-left transition-colors rounded-sm hover:shadow-md hover:bg-cyan-700"
			type="button"
			onclick="showMoverHistoria('{{ .HistoriaID }}', '{{ .Titulo }}')"
			>
			<span class="inline-block w-5 text-center">
				<i class="text-cyan-500 fa-solid fa-person-walking"></i>
			</span>
			Mover
		</button>
		<button class="block w-full p-1 pr-2 text-left transition-colors rounded-sm hover:shadow-md hover:bg-cyan-700"
			hx-confirm="¿Eliminar historia? {{ .Titulo }}"
			hx-delete="/h/{{ .HistoriaID }}"
			type="button"
			>
			<span class="inline-block w-5 text-center">
				<i class="text-red-500 fa-solid fa-trash"></i>
			</span>
			Eliminar
		</button>
	</form>
</dialog>
{{ end -}}

<!-- ======================================================== -->


<dialog id="moverTramo" class="m-auto text-white bg-cyan-900 border-4 border-cyan-800 rounded-md">
	<header class="flex items-center gap-2 p-2 bg-cyan-800">
		<h2 class="grow text-xl">
			Mover tramo
		</h2>
		<button class="inline-block float-right px-2 text-2xl rounded-md hover:opacity-75"
			type="button"
			onclick="this.closest('dialog').close()"
			title="Cerrar"
			>
			<i class="fa-solid fa-xmark"></i>
		</button>
	</header>
	<form class="flex flex-col gap-2 p-2">
		<p class="mb-2 italic">
			Nombre de la tramo
		</p>
		<input
			type="hidden"
			name="historia_id"
			required
			>
		<input
			type="hidden"
			name="posicion"
			required
			>
		<div id="navTreeTramo" class="flex flex-col gap-1 sm:w-96"
			hx-get="/nav/hist/{{ .Historia.HistoriaID }}"
			hx-swap="innerHTML"
			hx-target="#navTreeTramo"
			hx-trigger="navTreeTramoShown"
			>
			<!-- nav_tree -->
		</div>
		<button class="inline-block w-full px-6 py-2 font-medium text-slate-100 transition-colors bg-blue-700 rounded-sm shadow-md hover:bg-blue-600"
			hx-post="/mover/tramo"
			hx-select="main"
			hx-swap="outerHTML"
			hx-target="main"
			type="submit"
			onclick="this.closest('dialog').close()"
			>
			Mover
		</button>
	</form>
</dialog>

{{ block "mover_tarea_dialog" .Historia.HistoriaID }}
{{/* Recibe el historia_id que será origen para nav, sino inicia en root */}}
<dialog id="moverTareaDialog" class="m-auto text-white bg-cyan-900 border-4 border-cyan-800 rounded-md">
	<header class="flex items-center gap-2 p-2 bg-cyan-800">
		<h2 class="grow text-xl">
			Mover tarea
		</h2>
		<button class="inline-block float-right px-2 text-2xl rounded-md hover:opacity-75"
			type="button"
			onclick="this.closest('dialog').close()"
			title="Cerrar"
			>
			<i class="fa-solid fa-xmark"></i>
		</button>
	</header>
	<form class="flex flex-col gap-2 p-2">
		<p class="mb-2 italic">
			Nombre de la tarea
		</p>
		<input
			type="hidden"
			name="tarea_id"
			required
			>
		<div class="flex flex-col gap-1 sm:w-96"
			hx-get="/nav{{ if . }}/hist/{{ . }}{{ end }}"
			hx-swap="innerHTML"
			hx-target="this"
			hx-trigger="intersect once"
			>
			<!-- nav_tree -->
		</div>
		<button class="inline-block w-full px-6 py-2 font-medium text-slate-100 transition-colors bg-blue-700 rounded-sm shadow-md hover:bg-blue-600"
			hx-post="/mover/tarea"
			hx-select="main"
			hx-swap="outerHTML"
			hx-target="main"
			type="submit"
			onclick="this.closest('dialog').close()"
			>
			Mover
		</button>
	</form>
</dialog>
{{ end }}

<dialog id="moverHistoria" class="m-auto text-white bg-cyan-900 border-4 border-cyan-800 rounded-md">
	<header class="flex items-center gap-2 p-2 bg-cyan-800">
		<h2 class="grow text-xl">
			Mover historia
		</h2>
		<button class="inline-block float-right px-2 text-2xl rounded-md hover:opacity-75"
			type="button"
			onclick="this.closest('dialog').close()"
			title="Cerrar"
			>
			<i class="fa-solid fa-xmark"></i>
		</button>
	</header>
	<form class="flex flex-col gap-2 p-2">
		<p class="mb-2 italic text-orange-400">
			Historia a mover
		</p>
		<input
			type="hidden"
			name="historia_id"
			required
			>
		<div id="navTreeHistoria" class="flex flex-col gap-1 sm:w-96"
			hx-get="/nav/hist/{{ .Historia.HistoriaID }}"
			hx-swap="innerHTML"
			hx-target="#navTreeHistoria"
			hx-trigger="navTreeHistoriaShown"
			>
			<!-- nav_tree -->
		</div>
		<button class="inline-block w-full px-6 py-2 font-medium text-slate-100 transition-colors bg-blue-700 rounded-sm shadow-md hover:bg-blue-600"
			hx-post="/mover/historia"
			hx-select="main"
			hx-swap="outerHTML"
			hx-target="main"
			type="submit"
			onclick="this.closest('dialog').close()"
			>
			Mover
		</button>
	</form>
</dialog>

<dialog id="dialogAddReferencia" class="m-auto text-white bg-cyan-900 border-4 border-cyan-800 rounded-md">
	<header class="flex items-center gap-2 p-2 bg-cyan-800">
		<h2 class="grow text-xl">
			Agregar referencia a historia relacionada
		</h2>
		<button class="inline-block float-right px-2 text-2xl rounded-md hover:opacity-75"
			type="button"
			onclick="this.closest('dialog').close()"
			title="Cerrar"
			>
			<i class="fa-solid fa-xmark"></i>
		</button>
	</header>
	<form class="flex flex-col gap-2 p-2">
		<div id="navAddReferencia" class="flex flex-col gap-1 sm:w-96"
			hx-get="/nav/hist/{{ .Historia.HistoriaID }}"
			hx-swap="innerHTML"
			hx-target="#navAddReferencia"
			hx-trigger="navAddReferenciaShown"
			>
			<!-- nav_tree -->
		</div>
		<button class="inline-block w-full px-6 py-2 font-medium text-slate-100 transition-colors bg-blue-700 rounded-sm shadow-md hover:bg-blue-600"
			hx-post="/h/{{ .Historia.HistoriaID }}/referencias"
			hx-select="main"
			hx-swap="outerHTML"
			hx-target="main"
			type="submit"
			onclick="this.closest('dialog').close()"
			>
			Agregar
		</button>
	</form>
</dialog>
