{{ with .Historia }}
<header class="flex items-center gap-2 p-2 bg-cyan-800">
	<h2 class="grow text-xl">
		Editar historia
	</h2>
	<button
		type="button"
		onclick="this.closest('dialog').close()" 
		title="Cerrar"
		class="inline-block float-right px-2 text-2xl rounded-md hover:opacity-75">
		<i class="fa-solid fa-xmark"></i>
	</button>
</header>
<form hx-put="/historias/{{ .HistoriaID }}" hx-target="#msgStack" hx-swap="innerHTML" class="flex flex-col gap-2 p-2">
	<div>
		<label for="pinput1">HistoriaID</label>
		<input class="form-control" name="historia_id" id="pinput1" type="text" inputmode="numeric" value="{{ .HistoriaID }}" readonly>
	</div>
	<div>
		<label for="pinput2">Título*</label>
		<textarea id="pinput2" name="titulo" rows="1" class="form-control" placeholder="¿Qué?">
			{{- .Titulo -}}
		</textarea>
	</div>
	<div>
		<label for="pinput3">Objetivo</label>
		<textarea id="pinput3" name="objetivo" rows="1" class="form-control" placeholder="¿Para qué?">
			{{- .Objetivo -}}
		</textarea>
	</div>
	<div>
		<label for="pinput4">Prioridad</label>
		<select class="form-control" name="prioridad" id="pinput4">
			<option value="0" {{ if .EsPrioridadWont }}selected{{ end }}>🚫 Won't</option>
			<option value="1" {{ if .EsPrioridadCould }}selected{{ end }}>😶‍🌫️ Could</option>
			<option value="2" {{ if .EsPrioridadShould }}selected{{ end }}>🤔 Should</option>
			<option value="3" {{ if .EsPrioridadMust }}selected{{ end }}>🤩 Must</option>
		</select>
		<!-- <input name="prioridad" id="pinput4" type="number" min="0" max="3" placeholder="ejemplo" value="{{ .Prioridad }}"> -->
	</div>
	<div class="pb-4">
		<label for="pinput5">Estatus</label>
		<select class="form-control" name="completada" id="pinput5">
			<option value="0">Pendiente</option>
			<option value="1" {{ if .Completada }}selected{{ end }}>✅ Completada</option>
		</select>
	</div>
	<button
		type="submit"
		onclick="this.closest('dialog').close()"
		class="grow p-2 text-lg font-semibold transition-colors bg-cyan-700 rounded shadow-md hover:bg-cyan-600">
		Guardar
	</button>
</form>
{{ end }}