<main class="grow overflow-y-auto p-4">
	<div class="flex flex-col items-stretch max-w-5xl gap-4 pb-2 mx-auto">

		{{ if .Abiertos }}
		<h3 class="text-xl">
			Tareas en progreso:
		</h3>
		{{ range .Abiertos }}
		<div class="flex items-center gap-4 p-3 bg-cyan-950 rounded-md shadow-lg">

			{{ if .Finalizada }}✅{{ end }}
			{{ if .EnCurso }}⏳{{ end }}
			{{ if .EnPausa }}⏸️{{ end }}
			
			<a class="grow"
				href="/h/{{ .HistoriaID }}#{{ .TareaID }}"
				>
				{{ .Titulo }}:
				<span class="px-2 py-1 mr-1 text-xs bg-black bg-opacity-40 rounded-md">
					{{- .Tipo.Etiqueta -}}
				</span>
				<i>
					{{ .Descripcion }}
				</i>
				<br>
				<span class="text-sm opacity-75">
					Comenzó: {{ .TsIni }} {{ .Fin }}
				</span>
			</a>

			{{ if .NoIniciada -}}
			<button class="inline-block px-6 py-2 font-medium text-slate-100 transition-colors bg-blue-700 rounded-sm shadow-md hover:bg-blue-600"
				hx-post="/h/{{ .TareaID }}/iniciar"
				type="button"
				>
				Iniciar
			</button>
			{{ else if .EnCurso -}}
			<button class="inline-block px-6 py-2 font-medium text-slate-100 transition-colors bg-blue-700 rounded-sm shadow-md hover:bg-blue-600"
				hx-post="/h/{{ .TareaID }}/pausar"
				type="button"
				>
				Pausar
			</button>
			<button class="inline-block px-6 py-2 font-medium text-slate-100 transition-colors bg-blue-700 rounded-sm shadow-md hover:bg-blue-600"
				hx-post="/h/{{ .TareaID }}/terminar"
				type="button"
				>
				Terminar
			</button>
			{{ else if .EnPausa -}}
			<button class="inline-block px-6 py-2 font-medium text-slate-100 transition-colors bg-blue-700 rounded-sm shadow-md hover:bg-blue-600"
				hx-post="/h/{{ .TareaID }}/iniciar"
				type="button"
				>
				Continuar
			</button>
			{{ else if .Finalizada -}}
			<button
				hx-post="/h/{{ .TareaID }}/iniciar"
				type="button"
				>
				Reiniciar
			</button>
			{{ end }}
		</div>
		{{ end }}
		{{ end }}
		
		<h3 class="text-xl">
			Sesiones de trabajo recientes:
		</h3>

		{{ range .Recientes }}
		<div class="flex items-center gap-4 p-3 bg-cyan-900 rounded-md shadow-lg">

			<a class="grow"
				href="/h/{{ .HistoriaID }}#{{ .TareaID }}"
				>
				{{ .Titulo }}:
				<span class="px-2 py-1 mr-1 text-xs bg-black bg-opacity-40 rounded-md">
					{{- .Tipo.Etiqueta -}}
				</span>
				<i>
					{{ .Descripcion }}
				</i>
				<br>
				<span class="text-sm opacity-75">
					{{ .TsIni }} - {{ .TsFin }}
				</span>
			</a>

			<span class="p-2">
				{{ if .Finalizada }}✅{{ end }}
				{{ if .EnCurso }}⏳{{ end }}
				{{ if .EnPausa }}⏸️{{ end }}
			</span>
		</div>
		{{ end }}
		
	</div>
</main>
