<main class="grow overflow-y-auto">
	<div class="flex flex-col items-stretch max-w-5xl gap-4 pb-2 mx-auto">

		{{ if .Abiertos }}
		<h3 class="text-xl">Tareas en progreso:</h3>
		{{ range .Abiertos }}
		<div class="flex items-center gap-4 p-3 bg-cyan-900 rounded-md shadow-lg">

			{{ if .Finalizada }}✅{{ end }}
			{{ if .EnCurso }}⏳{{ end }}
			{{ if .EnPausa }}⏸️{{ end }}

			<a href="/historias/{{ .HistoriaID }}#{{ .TareaID }}" class="grow">
				{{ .Titulo }}:
				<span class="px-2 py-1 mr-1 text-xs bg-black bg-opacity-40 rounded-md">
					{{- .Tipo.Etiqueta -}}
				</span>
				<i>{{ .Descripcion }}</i>
				<br>
				<span class="text-sm opacity-75">
					Comenzó: {{ .Inicio }} {{ .Fin }}
				</span>
			</a>

			{{ if .NoIniciada -}}
			<button type="button" hx-post="/tareas/{{ .TareaID }}/iniciar" class="inline-block px-6 py-2 font-medium text-slate-100 transition-colors bg-blue-700 rounded shadow-md hover:bg-blue-600">
				Iniciar
			</button>
			{{ else if .EnCurso -}}
			<button type="button" hx-post="/tareas/{{ .TareaID }}/pausar" class="inline-block px-6 py-2 font-medium text-slate-100 transition-colors bg-blue-700 rounded shadow-md hover:bg-blue-600">
				Pausar
			</button>
			<button type="button" hx-post="/tareas/{{ .TareaID }}/terminar" class="inline-block px-6 py-2 font-medium text-slate-100 transition-colors bg-blue-700 rounded shadow-md hover:bg-blue-600">
				Terminar
			</button>
			{{ else if .EnPausa -}}
			<button type="button" hx-post="/tareas/{{ .TareaID }}/iniciar" class="inline-block px-6 py-2 font-medium text-slate-100 transition-colors bg-blue-700 rounded shadow-md hover:bg-blue-600">
				Continuar
			</button>
			{{ else if .Finalizada -}}
			<button type="button" hx-post="/tareas/{{ .TareaID }}/iniciar">
				Reiniciar
			</button>
			{{ end }}
		</div>
		{{ end }}
		{{ end }}
		
		<h3 class="text-xl">Sesiones de trabajo recientes:</h3>
		
		{{ range .Recientes }}
		<div class="flex items-center gap-4 p-3 bg-cyan-900 rounded-md shadow-lg">

			<a href="/historias/{{ .HistoriaID }}#{{ .TareaID }}" class="grow">
				{{ .Titulo }}:
				<span class="px-2 py-1 mr-1 text-xs bg-black bg-opacity-40 rounded-md">
					{{- .Tipo.Etiqueta -}}
				</span>
				<i>{{ .Descripcion }}</i>
				<br>
				<span class="text-sm opacity-75">
					{{ .Inicio }} - {{ .Fin }}
				</span>
			</a>

			<span class="p-2">
				{{ if .Finalizada }}✅{{ end }}
				{{ if .EnCurso }}⏳{{ end }}
				{{ if .EnPausa }}⏸️{{ end }}
			</span>
		</div>
		{{ end }}

	</div>
</main>