<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<main class="grow w-full p-2">

	<!--? DIAS DE TRABAJO -->
	{{ if .DiasTrabajo -}}
	<h3 class="mt-4 mb-4 text-xl text-cyan-600">Tiempo invertido</h3>
	<p>
		{{ with .PersonaCosto -}}
		Estimado total: {{ .TiempoEstimado }} <br>
		Invertido total: {{ .TiempoReal }}
		{{ end }}
	</p>
	<div class="p-4 mb-4">
		<canvas id="chartDiasTrabajo"></canvas>
	</div>
	<script>
		new Chart(document.getElementById('chartDiasTrabajo'), {
			type: 'bar',
			options: {
				scales: {
					y: {
						stacked: true
					}
				}
			},
			data: {
				labels: [{{ range .DiasTrabajo }}'{{ .Fecha }}',{{ end }}],
				datasets: [
					{
						label: 'Horas',
						data: [{{ range .DiasTrabajo }}{{ .Horas }},{{ end }}],
					},
					{
						label: 'Horas2',
						data: [{{ range .DiasTrabajo }}{{ .Horas }},{{ end }}],
					},
				]
			},
		});
	</script>
	{{ end }}

	<!--? DIAS DE TRABAJO OLD -->
	{{ if .DiasTrabajoMapHoras -}}
	<h3 class="mt-4 mb-4 text-xl text-cyan-600">Tiempo invertido</h3>
	<p>
		{{ with .PersonaCosto -}}
		Estimado total: {{ .TiempoEstimado }} <br>
		Invertido total: {{ .TiempoReal }}
		{{ end }}
	</p>
	<div class="p-4 mb-4">
		<canvas id="chartIntervalos"></canvas>
	</div>
	<script>
		new Chart(document.getElementById('chartIntervalos'), {
			type: 'bar',
			data: {
				labels: [{{ range $k, $v := .DiasTrabajoMapHoras }}'{{ $k }}',{{ end }}],
				datasets: [{
					label: 'Horas',
					data: [{{ range $k, $v := .DiasTrabajoMapHoras }}{{ $v }},{{ end }}],
				}]
			},
		});
	</script>
	{{ end }}

</main>