<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<main class="grow w-full p-2">

	<!--? DIAS DE TRABAJO -->
	{{ if .DiasTrabajo -}}
	<h3 class="mt-4 mb-4 text-xl text-cyan-600">Tiempo invertido</h3>
	<p>
		{{ with .PersonaCosto -}}
		Estimado total: {{ .TiempoEstimado }} <br>
		Invertido total: {{ .TiempoReal }}
		{{ end }}
	</p>
	<div class="p-4 mb-4">
		<canvas id="chartDiasTrabajoOld"></canvas>
	</div>
	<script>
		new Chart(document.getElementById('chartDiasTrabajoOld'), {
			type: 'bar',
			data: {
				labels: [{{ range .DiasTrabajo }}'{{ .Fecha }}',{{ end }}],
				datasets: [
					{
						label: 'Horas2',
						data: [{{ range .DiasTrabajo }}{{ .Horas }},{{ end }}],
					},
				]
			},
		});
	</script>
	{{ end }}

	<!--? DIAS DE TRABAJO OLD -->
	{{ if .DiasTrabajoMapHoras -}}
	<h3 class="mt-4 mb-4 text-xl text-cyan-600">Tiempo invertido</h3>
	<p>
		{{ with .PersonaCosto -}}
		Estimado total: {{ .TiempoEstimado }} <br>
		Invertido total: {{ .TiempoReal }}
		{{ end }}
	</p>
	<div class="p-4 mb-4">
		<canvas id="chartIntervalos"></canvas>
	</div>
	<script>
		new Chart(document.getElementById('chartIntervalos'), {
			type: 'bar',
			data: {
				labels: [{{ range $k, $v := .DiasTrabajoMapHoras }}'{{ $k }}',{{ end }}],
				datasets: [{
					label: 'Horas',
					data: [{{ range $k, $v := .DiasTrabajoMapHoras }}{{ $v }},{{ end }}],
				}]
			},
		});
	</script>
	{{ end }}


	<!--? DIAS DE TRABAJO NUEVO -->
	{{ if .DiasTrabajo -}}
	<h3 class="mt-4 mb-4 text-xl text-cyan-600">Tiempo invertido</h3>
	<p>
		{{ with .PersonaCosto -}}
		Estimado total: {{ .TiempoEstimado }} <br>
		Invertido total: {{ .TiempoReal }}
		{{ end }}
	</p>
	<div class="p-4 mb-4">
		<canvas id="chartDiasTrabajo"></canvas>
	</div>
	<script>
		new Chart(document.getElementById('chartDiasTrabajo'), {
			type: 'bar',
			options: {
				scales: {
					x: {
						stacked: true,
					},
					y: {
						stacked: true
					}
				}
			},
			data: {
				labels: [{{ range .DiasTrabajo }}{{ if .Segundos }}'{{ .Fecha }}',{{ end }}{{ end }}],
				datasets: [
					{{ range $proyectoID, $v := $.Proyectos -}}
					{
						label: '{{ .Proyecto.Titulo }} {{ segundosToString .Segundos }}',
						data: [{{ range $.DiasTrabajo }}{{ if .Segundos }}{{ range .Proyectos }}{{ $horas := 0.0 }}{{ if eq $proyectoID .Proyecto.ProyectoID }}{{ $horas = .Horas }}{{ end }}{{ $horas }},{{ end }}{{ end }}{{ end }}],
					},
					{{ end }}
				]
			},
		});
	</script>
	{{ end }}

	{{ range $.Proyectos }}
	<p>
		{{ .Proyecto.Titulo }}: {{ segundosToString .Segundos }} ({{ .Segundos }}s)
	</p>
	{{ end }}

	<div id="tablaDias">
		<table class="p-4 border border-separate border-cyan-600">
			<thead>
				<tr>
					<th>#</th>
					<th>Fecha</th>
					<th>Total</th>
					{{ range $.Proyectos }}
					<th>{{ .Proyecto.Titulo }}</th>
					{{ end }}
				</tr>
			</thead>
			<tbody class="">
				{{ range $idx, $dia := .DiasTrabajo }}
				<tr>
					<td>{{ suma $idx 1 }}</td>
					<td class="bg-cyan-950">{{ .Fecha }}</td>
					<td class="bg-cyan-950">{{ segundosToString .Segundos }}</td>

					{{ range $proyectoID, $v := .Proyectos -}}
						{{ $horas := 0.0 }}{{ if eq $proyectoID .Proyecto.ProyectoID }}{{ $horas = .Horas }}{{ end }}
						<td class="bg-cyan-950">
							{{ segundosToString .Segundos }} {{ .Proyecto.ProyectoID }} {{ $horas }}h
						</td>
					{{ end }}
				</tr>
				{{ end }}
			</tbody>
		</table>
	</div>


	<h3 class="mt-4 mb-4 text-xl text-cyan-600">Días de trabajo</h3>
	{{ range .DiasTrabajo -}}
	{{ if .Segundos -}}
	<div class="p-2 mb-2">
		<h3 class="">
			{{ .Fecha }}
			<span class="inline-block w-16 px-2 py-1 text-xs font-semibold text-center text-cyan-600 bg-cyan-950 rounded-md">{{ segundosToString .Segundos }}</span>
		</h3>
		{{ range .Proyectos -}}
		<div class="pl-4">
			<h4 class="py-1 text-xl font-bold text-cyan-600">
				{{ .Proyecto.Titulo }}
				<span class="inline-block w-16 px-2 py-1 text-xs font-semibold text-center text-cyan-600 bg-cyan-950 rounded-md">{{ segundosToString .Segundos }}</span>
			</h4>
			{{ range .Historias -}}
			<div>
				<p class="py-1 pt-2 text-base font-bold">
					<span class="inline-block w-16 px-2 py-1 text-xs font-semibold text-center text-cyan-600 bg-cyan-950 rounded-md">{{ segundosToString .Segundos }}</span>
					<a
						href="/historias/{{ .Historia.HistoriaID }}"
						class="transition-colors hover:text-cyan-400">
						Historia: {{ .Historia.Titulo }}
					</a>
				</p>
				{{ range .Tareas -}}
				<div>
					<p class="py-1 pl-16 text-sm opacity-75">
						<span class="inline-block w-16 px-2 py-0 text-xs font-semibold text-center text-cyan-600 bg-cyan-950 rounded-md">{{ segundosToString .Segundos }}</span>
						<a
							href="/historias/{{ .Tarea.HistoriaID }}#{{ .Tarea.TareaID }}"
							class="transition-colors hover:text-cyan-400">
							Tarea: {{ .Tarea.Descripcion }}
						</a>
					</p>
				</div>
				{{ end }}
			</div>
			{{ end }}
		</div>
		{{ end }}
	</div>
	{{ end }}
	{{ end }}

</main>