{{ with .Nodo -}}
<input class="form-control"
	type="hidden"
	name="new_padre_id"
	value="{{ .NodoID }}"
	>
{{ range .Ancestros -}}
<div>
	<a class="inline-block w-full truncate transition-colors cursor-pointer hover:text-cyan-600"
		hx-get="/nav/{{ .NodoID }}"
		>
		<span class="px-2 py-1 mr-2 text-xs font-semibold leading-none text-cyan-600 bg-cyan-950 rounded-md">
			{{ .Tipo }}
		</span>
		{{ .Titulo }}
	</a>
</div>
{{ end }}
<div>
	<a class="inline-block w-full truncate transition-colors cursor-pointer hover:text-cyan-600"
		hx-get="/nav/{{ .NodoID }}"
		>
		<span class="px-2 py-1 mr-2 text-xs font-semibold leading-none text-cyan-600 bg-slate-600 rounded-md">
			{{ .Tipo }}
		</span>
		<!-- Selected -->
		{{ .Titulo }}
	</a>
</div>
{{ range .NodosHijo -}}
<div class="pl-4">
	<a class="inline-block w-full truncate transition-colors cursor-pointer hover:text-cyan-600"
		hx-get="/nav/{{ .NodoID }}"
		>
		<span class="px-2 py-1 mr-2 text-xs font-semibold leading-none text-cyan-600 bg-cyan-950 rounded-md">
			{{ .Tipo }}
		</span>
		{{ .Titulo }}
	</a>
</div>
{{ end }}
{{ end }}