<header class="mb-4 space-y-1">
	<h3>
		<span class="px-2 py-1 mr-1 font-mono text-sm bg-black bg-opacity-40 rounded-md">P</span>
		<span class="opacity-50">Como</span>
		<a href="/personas/{{ .Persona.PersonaID }}" class="text-xl lowercase">{{ .Persona.Nombre }}</a>
		<span class="opacity-50">quiero...</span>
	</h3>
	
	{{ with .Historia -}}
	<h4>
		<span class="px-2 py-1 mr-1 font-mono text-sm bg-black bg-opacity-40 rounded-md">{{ .Nivel }}</span>
		<span class="opacity-50">poder</span>
		{{ if .PadreID -}}
		<a href="/historias/{{ .PadreID }}" class="lowercase">{{ .Titulo }} <i class="fa fa-arrow-up"></i></a>
		{{ else -}}
		<a href="/personas/{{ .PersonaID }}" class="lowercase">{{ .Titulo }} <i class="fa fa-arrow-up"></i></a>
		{{ end -}}
		<span class="opacity-50">mediante</span>
	</h4>
	{{ end }}
</header>

<main tipo="carriles_container" id="{{ .Historia.HistoriaID }}" {{ with .Historia }}hx-get="/historias/{{ .HistoriaID }}"{{ else }}hx-get="/personas/{{ .Persona.PersonaID }}"{{ end }} hx-trigger="reloadHistorias" hx-target="this" hx-swap="innerHTML" hx-select="[tipo='carriles_container'] > *" class="flex items-start flex-grow gap-4 pb-2 overflow-x-auto">

	{{ define "historia_carril" }}
	<article tipo="carril" id="{{ .Historia.HistoriaID }}" gk-persona="{{ .Historia.PersonaID }}" gk-padre="{{ .Historia.HistoriaID }}" class="relative flex flex-col max-h-full p-1 bg-cyan-900 rounded-md shadow-lg min-w-64 max-w-96">
		{{ with .Historia -}}
		<header tipo="carril_header" class="p-1">
			<span tipo="carril_handle" class="mr-1 cursor-pointer">⣿</span>
			<span tipo="carril_titulo" class="font-medium text-center">{{ .Titulo }}</span>
			<button tipo="carril_edit" type="button" onclick="showEditCarril({{ .HistoriaID }})" class="float-right text-sm"><i class="px-2 py-1 fa fa-pen"></i></button>
			<input tipo="carril_edit" name="titulo" value="{{ .Titulo }}" hx-target="#titulo{{ .HistoriaID }}" hx-put="/historias/{{ .HistoriaID }}" type="text" class="hidden form-control">
			<a tipo="carril_expand" href="/historias/{{ .HistoriaID }}" class="float-right text-sm"><i class="px-2 py-1 fa fa-eye"></i></a>
			<span class="absolute top-0 right-0 px-1 text-xs bg-black opacity-40 rounded-tr-md rounded-bl-md">{{ .Nivel }}</span>
		</header>
		{{ end }}

		<div tipo="carril_items_container" class="flex flex-col flex-grow gap-3 p-1 overflow-x-hidden overflow-y-auto">
			{{ range .Historias -}}
			<div tipo="carril_item" id="{{ .HistoriaID }}" gk-padre="{{ .PadreID }}" class="relative p-3 bg-slate-800 rounded-md shadow-lg">
				<span tipo="carril_item_handle" class="mr-1 cursor-pointer">⣿</span>
				<span tipo="carril_item_titulo" class="text-center">{{ .Titulo }}</span>
				<a href="/historias/{{ .HistoriaID }}" class="float-right text-sm"><i class="px-2 py-1 fa fa-eye"></i></a>
			</div>
			{{ end }}
		</div>

		<footer class="p-1 pt-2">
			<input tipo="carril_item_nuevo" name="titulo" placeholder="Agregar..." type="text" class="block w-full p-3 bg-slate-800 rounded-md shadow-lg opacity-50 focus:opacity-100">
		</footer>
	</article>
	{{ end }}

	{{ range .HistoriasConHistorias -}}
		{{ template "historia_carril" . -}}
	{{ end }}

	<!-- Agregar carril -->
	<input tipo="carril_nuevo" name="titulo" gk-persona="{{ .Persona.PersonaID }}" {{ with .Historia }}gk-padre="{{ .HistoriaID }}"{{ end }} placeholder="Agregar historia..." type="text" class="inline-block p-3 bg-cyan-900 rounded-md shadow-lg opacity-50 focus:opacity-100">

</main>

<!-- ======================================================== -->

<div tipo="delete_zone" id="delete_zone" class="absolute bottom-0 right-0 hidden w-32 h-32 bg-red-700 rounded-tl-full opacity-80">
	<p class="absolute bottom-10 right-4">Eliminar</p>
</div>

<!-- ======================================================== -->

<script>

	// ================================================================ //
	// ========== ACCIONES ============================================ //

	function insertarHistoriaEnPersona(personaID, titulo) {
		console.debug(`insertarHistoriaEnPersona(personaID:${personaID}, titulo:${titulo})`)
		if (personaID == null) {
			return console.error("No se puede insertar historia sin ID")
		}
		if (titulo == null) {
			return console.error("No se puede insertar historia sin titulo")
		}
		let formData = new FormData();
		formData.append("titulo", titulo);
		fetch(`/personas/${personaID}`, { method: 'POST', body: formData }).then(response => handleResponse(response));
	}

	function insertarHistoria(padreID, titulo) {
		console.debug(`insertarHistoria(padreID:${padreID}, titulo:${titulo})`)
		if (padreID == null) {
			return console.error("No se puede insertar historia sin ID")
		}
		if (titulo == null) {
			return console.error("No se puede insertar historia sin titulo")
		}
		let formData = new FormData();
		formData.append("titulo", titulo);
		fetch(`/historias/${padreID}`, { method: 'POST', body: formData }).then(response => handleResponse(response));
	}

	function eliminarHistoria(historiaID) {
		console.debug(`eliminarHistoria(id:${historiaID})`)
		if (historiaID == null) {
			return console.error("No se puede eliminar historia sin ID")
		}
		fetch(`/historias/${historiaID}`, { method: 'DELETE' }).then(response => handleResponse(response));
	}

	function reordenarHistoria(historiaID, newPosicion) {
		console.debug(`reordenarHistoria(id:${historiaID}, pos:${newPosicion})`)
		if (historiaID == null) {
			return console.error("No se puede reordenar historia sin ID")
		}
		fetch(`/historias/${historiaID}/reordenar/${newPosicion}`, { method: 'POST' }).then(response => handleResponse(response));
	}

	function moverHistoria(historiaID, newPersonaID, newPadreID, newPosicion) {
		console.debug(`moverHistoria(id:${historiaID}, newPersona:${newPersonaID}, newParent:${newPadreID}, pos:${newPosicion})`)
		if (historiaID == null) {
			return console.error("No se puede mover historia sin ID")
		}
		if (newPadreID == null) {
			return console.error("No se puede mover historia sin newPadreID")
		}
		let formData = new FormData();
		formData.append("newPersonaID", newPersonaID);
		fetch(`/historias/${historiaID}/mover/${newPadreID}/${newPosicion}`, { method: 'POST', body: formData }).then(response => handleResponse(response));
	}

	// ================================================================ //
	// ========== SORTABLE ============================================ //

	// === ZONA DELETE === //
	var zonaEliminar1 = new Sortable(document.querySelector("[tipo='delete_zone'"), { group: "carriles" });
	var zonaEliminar2 = new Sortable(document.querySelector("[tipo='delete_zone'"), { group: "carril_items" });
	
	// === ZONA PADRES === //
	function setupCarrilesContainerSortable() {
		var zonaCarriles = new Sortable(document.querySelector("[tipo='carriles_container']"), {
			group: "carriles", animation: 150, swapThreshold: 0.50,
			draggable: "[tipo='carril']",
			handle: "[tipo='carril_handle']",
			ghostClass: "opacity-50",
			onStart: function(event) {
				showByID("delete_zone")
			},
			onEnd: function(event) {
				hideByID("delete_zone")

				// Parámetros
				let historiaID = event.item.id
				if (historiaID == null) { return console.error("historiaID null") }
				
				// Se puede eliminar
				if (event.to.id == "delete_zone") {
					return eliminarHistoria(historiaID)
				}
				
				// Se puede cambiar de lugar
				if (event.oldIndex != event.newIndex){
					return reordenarHistoria(historiaID, event.newIndex + 1)
				}
			},
		});
	}

	// === ZONA HIJOS === //
	function setupCarrilSortableItems(carril) {
		var zonaHijos = new Sortable(carril.querySelector("[tipo='carril_items_container']"), {
			group: "carril_items", animation: 150,
			draggable: "[tipo='carril_item']",
			handle: "[tipo='carril_item_handle']",
			ghostClass: "opacity-50",
			
			onStart: function(event) {
				showByID("delete_zone")
			},

			onEnd: function(event) { // Element dragging ended
				event.item.classList.remove("opacity-50")
				hideByID("delete_zone")

				// Parámetros
				let historiaID = event.item.id
				let oldPadreID = event.item.getAttribute("gk-padre")
				let newPadreID = event.to.parentNode.id
				let oldPersonaID = 0;
				let newPersonaID = 0;
				if (historiaID == null) { return console.error("historiaID null") }
				if (oldPadreID == null) { return console.error("oldPadreID null") }
				if (newPadreID == null) { return console.error("newPadreID null") }

				// Se puede eliminar
				if (event.to.id == "delete_zone") {
					return eliminarHistoria(historiaID)
				}
				
				// Se puede cambiar de lugar en diferente padre
				if (oldPadreID != newPadreID || oldPersonaID != newPersonaID) {
					return moverHistoria(historiaID, newPersonaID, newPadreID, event.newIndex + 1)
				}

				// Se puede cambiar de lugar en el mismo padre
				if (event.oldIndex != event.newIndex){
					return reordenarHistoria(historiaID, event.newIndex + 1)
				}
			},
		});
	}

	function showEditCarril(id) {
		let carril = document.getElementById(id)
		hideElem(carril.querySelector("[tipo='carril_handle']"))
		hideElem(carril.querySelector("[tipo='carril_titulo']"))
		hideElem(carril.querySelector("[tipo='carril_expand']"))
		hideElem(carril.querySelector("button[tipo='carril_edit']"))	
		let input = carril.querySelector("input[tipo='carril_edit']")
		showElem(input); input.focus(); input.select();
	}

	function hideEditCarril(id) {
		let carril = document.getElementById(id)
		showElem(carril.querySelector("[tipo='carril_handle']"))
		showElem(carril.querySelector("[tipo='carril_titulo']"))
		showElem(carril.querySelector("[tipo='carril_expand']"))
		hideElem(carril.querySelector("input[tipo='carril_edit']"))
		let btn =  carril.querySelector("button[tipo='carril_edit']")
		showElem(btn); btn.focus();
	}

	function setupCarrilTriggersEdit(carril) {
		let titulo = carril.querySelector("[tipo='carril_titulo']")
		let input = carril.querySelector("input[tipo='carril_edit']")		
		if (titulo == null) { return console.warn("carril.titulo null", input) }
		if (input == null) { return console.warn("carril.input_edit null", input) }
		if (carril.id == null) { return console.warn("carril.id null", carril) }
		// Cuando se presione [Esc]
		input.addEventListener("keyup", (event) => {
			if (event.keyCode == 27) {
				input.value = titulo.textContent
				hideEditCarril(carril.id)
			}
		})
		// Cuando se guarde el cambio.
		titulo.addEventListener("htmx:afterSwap", (event) => {
			hideEditCarril(carril.id)
		})
	}
	
	function setupCarrilTriggersNuevoItem(carril) {
		if (carril == null) { return console.warn("carril null", carril) }
		let input = carril.querySelector("input[tipo='carril_item_nuevo']")
		if (input == null) { return console.warn("input carril item nuevo null", carril) }
		input.addEventListener("keyup", event => {
			// Cancelar nuevo carril_item con ESC.
			if (event.keyCode == 27) {
				input.value = "";
				input.blur()
			}
			// Enviar con [Enter] en el input.
			if (event.keyCode == 13 && input.value != "") {
				insertarHistoria(carril.id, input.value)
				input.value = "";
				focusCarrilID = carril.id;
			}
		})
	}

	function setupInputNuevoCarril() {
		let input = document.querySelector("[tipo='carril_nuevo']")
		if (input == null) { return console.warn("input carril nuevo null") }

		input.addEventListener("keyup", event => {
			// Cancelar nuevo carril con ESC.
			if (event.keyCode == 27) {
				input.value = "";
				input.blur()
			}
			// Enviar con [Enter] en el input.
			if (event.keyCode == 13 && input.value != "") {
				personaID = input.getAttribute("gk-persona")
				padreID = input.getAttribute("gk-padre")
				if (padreID != null) {
					insertarHistoria(padreID, input.value)
					focusNuevoCarril = true;
				} else if (personaID != null) {
					insertarHistoriaEnPersona(personaID, input.value)
					focusNuevoCarril = true;
				}
				input.value = "";
			}
		})

	}

	// ================================================================ //
	// ========== INICIALIZAR ========================================= //

	let focusCarrilID = null
	let focusNuevoCarril = false

	function inicializarCarriles(){
		document.querySelectorAll("[tipo='carril']").forEach((carril) => {		
			setupCarrilTriggersNuevoItem(carril)
			setupCarrilTriggersEdit(carril)
			setupCarrilSortableItems(carril)
		})
		setupInputNuevoCarril()
	}
	
	setupInputNuevoCarril()
	inicializarCarriles()
	
	// Inicializar contenedor de carriles solo una vez porque no se reemplaza con HTMX.
	setupCarrilesContainerSortable()
	
	// Cada vez que cambie el contenido hay que volver a inicializar los carriles.
	document.querySelector("[tipo='carriles_container']").addEventListener("htmx:afterSwap", (event) => {
		inicializarCarriles()
		if (focusCarrilID != null){
			document.getElementById(focusCarrilID).querySelector("input[tipo='carril_item_nuevo']").focus()
			focusCarrilID = null;
		}
		if (focusNuevoCarril) {
			document.querySelector("[tipo='carril_nuevo']").focus()
			focusNuevoCarril = false;
		}
	})

	function handleResponse(response) {
		response.text().then((msg) => {
			if (response.status >= 200 && response.status < 300) {
				console.log(msg)
			} else {
				alert(msg)
			}
			// Recargar carriles con HTMX
			document.querySelector("[tipo='carriles_container']").dispatchEvent(new Event("reloadHistorias"))
		})
	}
	
	// ================================================================ //
	// ========== HELPERS ============================================= //

	function hideByID(id) {
		document.getElementById(id).classList.add("hidden")
	}
	function showByID(id) {
		document.getElementById(id).classList.remove("hidden")
	}
	function hideElem(elem) {
		elem.classList.add("hidden")
	}
	function showElem(elem) {
		elem.classList.remove("hidden")
	}

</script>