<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<header class="relative flex items-center w-full bg-cyan-950 shadow-lg">
	<div class="p-1">
		<img
			data-proyecto-id="{{ .Proyecto.ProyectoID }}"
			src="{{ if .Proyecto.Imagen }}/imagenes/{{ .Proyecto.Imagen }}{{ else }}/assets/img/Elegantthemes-Softies-Tools.256.png{{ end }}"
			alt="Portada del proyecto"
			class="w-24 rounded-md">
	</div>
	<div class="w-full p-2">
		<h2 class="text-2xl font-medium">
			<a href="/proyectos/{{ .Proyecto.ProyectoID }}">
				{{ .Proyecto.Titulo }}
			</a>
		</h2>
		<h3 class="flex items-center gap-1 py-1">
			<span class="px-2 py-1 font-mono text-sm bg-black bg-opacity-40 rounded-md"><i class="fa-solid fa-person"></i></span>
			<span class="text-xl">{{ .Persona.Nombre }}</span>
		</h3>
	</div>
	<span class="absolute right-2 top-2">
		<a href="/" class="px-2 py-1 transition-opacity bg-red-800 rounded-md opacity-75 hover:opacity-100"><i class="fa-solid fa-xmark"></i></a>
	</span>
</header>

{{ if .TareasEnCurso -}}
<div class="flex flex-col gap-1 px-2 mt-2">
	<h3 class="text-xl text-cyan-600">Tareas en curso</h3>
	{{ range .TareasEnCurso -}}
	<a href="/historias/{{ .HistoriaID }}#{{ .TareaID }}" class="flex gap-2 transition-colors hover:text-cyan-200">
		<span class="inline-block w-6 text-center">
			<i class="text-slate-400 fa-solid fa-list-check"></i>
		</span>
		<span class="truncate">
			{{ .Descripcion }}
		</span>
		<span class="px-2 opacity-50">
			<img src="/assets/img/spinner.svg" alt="En progreso" class="inline-block w-8">
		</span>
	</a>
	{{ end }}
</div>
{{ end -}}

<main class="grow w-full max-w-5xl p-2 mx-auto">
	<h3 class="mb-2 text-xl text-cyan-600" title="Personaje">Como...</h3>
	<div class="mt-4 mb-2 text-center text-7xl">
		<i class="fa-solid fa-user"></i>
	</div>
	<h4 class="mb-1 text-xl font-semibold text-center">
		{{ .Persona.Nombre }}
	</h4>
	<div class="mb-4">
		<textarea
			id="personaDesc"
			hx-patch="/personas/{{ .Persona.PersonaID }}/descripcion"
			hx-swap="none"
			hx-trigger="change, keyup changed delay:2s"
			name="value"
			rows="1"
			placeholder="Descripción del personaje..." 
			class="w-full px-2 py-1 text-sm font-medium text-center transition-opacity bg-transparent border-b border-cyan-800 outline-none opacity-75 focus:opacity-100 focus:border-blue-400 placeholder:text-slate-600">
			{{- .Persona.Descripcion -}}
		</textarea>
	</div>

	<h3 class="mb-4 text-xl text-cyan-600" title="Historias de usuario">Quiero...
		<button
			onclick="document.getElementById('input_AddHistoria').focus()"
			class="float-right px-3 transition-opacity opacity-75 hover:opacity-100">
			<i class="fa-solid fa-square-plus"></i>
		</button>
	</h3>
	<div
		tipo="sort_historias" 
		hx-get="/personas/{{ .Persona.PersonaID }}" 
		hx-trigger="historiasActualizadas" 
		hx-target="this" hx-swap="innerHTML" 
		hx-select="[tipo='sort_historias'] > *" 
		class="flex flex-col items-stretch gap-4 pb-2">

		{{ range .Historias -}}
		<article
			tipo="sort_historia"
			id="{{ .Historia.HistoriaID }}"
			class="flex items-center bg-cyan-950 border-2 rounded-md shadow-lg {{- if .Historia.EsPrioridadMust }} border-cyan-800 {{ else if .Historia.EsPrioridadShould }} border-cyan-900 bg-cyan-950 opacity-75 {{ else if .Historia.EsPrioridadCould }} border-cyan-600 bg-transparent opacity-75 {{ else }} border-cyan-900 bg-transparent opacity-75 {{ end }}">
			<span tipo="sort_handle" class="p-3 cursor-pointer">
				<i class="fa-solid fa-grip-vertical"></i>
				<form tipo="sort_form" hx-post="/reordenar-historia" hx-trigger="reordenarEnd">
					<input type="hidden" name="historia_id" value="{{ .Historia.HistoriaID }}">
					<input type="hidden" name="old_pos" value="{{ .Historia.Posicion }}">
					<input type="hidden" name="new_pos">
				</form>
			</span>
			<a href="/historias/{{ .Historia.HistoriaID }}" class="grow py-2">
				{{ enfatizar .Historia.Titulo }}
			</a>
			<span class="float-right text-sm opacity-75">
				{{ segundosToString .SegundosPresupuesto }} |
				{{ .AvancePorcentual }}%
			</span>
			<span class="p-3">
				{{ if .Historia.Completada }}<i class="text-green-600 fa-solid fa-circle-check"></i>
				{{- else if .Historia.EsPrioridadMust }}<i class="text-orange-600 fa-solid fa-angles-up"></i>
				{{- else if .Historia.EsPrioridadShould }}<i class="text-orange-400 fa-solid fa-chevron-up"></i>
				{{- else if .Historia.EsPrioridadCould }}<i class="text-orange-200 fa-solid fa-minus"></i>
				{{- end }}
			</span>
		</article>
		{{ end -}}

		<!-- Agregar historia -->
		<div>
			<textarea
				id="input_AddHistoria"
				hx-post="/personas/{{ .Persona.PersonaID }}"
				hx-target="#msgStack"
				hx-trigger="keyup[key=='Enter']"
				name="titulo" 
				rows="1"
				enterkeyhint="done"
				placeholder="Agregar historia..."
				class="inline-block w-full p-2 bg-transparent border-b border-cyan-800 outline-none text-white/50 focus:text-white read-only:border-transparent invalid:border-red-500 invalid:focus:border-red-500 placeholder:text-slate-600 read-only:focus:border-transparent focus:border-blue-400"></textarea>
		</div>
	</div>

	<!-- DESCRIPCIÓN DE LA PERSONA -->

	{{ if .Persona.Descripcion -}}
	<!-- <details class="py-4">
		<summary class="opacity-75">Mapa de empatía</summary>
		<p class="opacity-50">
			{{ .Persona.Descripcion }}
		</p>
	</details> -->
	{{ end }}

	<!--? COSTO DE LAS HISTORIAS -->
	{{ if .Historias -}}
	<h3 class="mt-4 mb-4 text-xl text-cyan-600">Desglose de costo</h3>
	<div class="px-4 mb-4" style="background-color: transparent;">
		<canvas id="chartHistoriasCosto"></canvas>
	</div>
	<script>
		const tTooltips = [{{ range .Historias }}[
			"Avance: {{ .AvancePorcentual }}%",
			"Presupuesto: {{ segundosToString .SegundosPresupuesto }}",
			"Estimado: {{ segundosToString .SegundosEstimado }}",
			"Utilizado: {{ segundosToString .SegundosUtilizado }} {{ if .SegundosPresupuesto }}({{ .DesviacionPresupuestal}}%){{ end }}",
			"Expectativa: {{ segundosToString .SegundosExpectativaAvancePresupuesto }}",
			],{{ end }}]

		new Chart(document.getElementById('chartHistoriasCosto'), {
			type: 'bar',
			data: {
				labels: [{{ range .Historias }}'{{ .Historia.Titulo }}',{{ end }}],
				datasets: [
					{
						// MARCA DE TIEMPO ESTIMADO
						data: [{{ range .Historias }}{{ .HorasEstimado }},{{ end }}],
						label: 'Estimado',
						categoryPercentage: 0.8,
						backgroundColor: 'transparent',
						borderWidth: {top: 0, right: 2, bottom: 0, left: 0},
						borderColor: 'gray',
					},
					{
						// MARCA DE EXPECTATIVA SEGÚN AVANCE Y PRESUPUESTO
						data: [{{ range .Historias }}{{ .HorasExpectativaAvancePresupuesto }},{{ end }}],
						label: 'Avance obtenido',
						categoryPercentage: 0.8,
						backgroundColor: 'transparent',
						borderWidth: {top: 0, right: 3, bottom: 0, left: 0},
						borderColor: 'lime',
					},
					{
						// RECUADRO DE PRESUPUESTO
						data: [{{ range .Historias }}{{ .HorasPresupuesto }},{{ end }}],
						label: 'Presupuesto',
						categoryPercentage: 0.8,
						backgroundColor: 'transparent',
						borderWidth: {top: 2, right: 5, bottom: 2, left: 0},
						borderColor: 'lightblue',
					},
					{
						// RELLENO UTILIZADO
						data: [{{ range .Historias }}{{ .HorasUtilizado }},{{ end }}],
						label: 'Utilizado',
						backgroundColor: '#155e75',
						categoryPercentage: 0.8,
						// borderWidth: {top: 0, right: 5, bottom: 0, left: 0},
						// borderColor: 'green',
					},
				]
			},
			options: {
				indexAxis: 'y',
				elements: {
					bar: {
						// borderWidth: 2,
					}
				},
				responsive: true,
				scales: {
					y: {
						stacked: true,
						ticks: {
							callback: function(value, index, ticks) { // Limitar etiquetas a 20 caracteres.
								let valueLegend = this.getLabelForValue(value);
								valueLegend = valueLegend.replaceAll("*", "");
								valueLegend = valueLegend.replaceAll("_", "");
								if (valueLegend.length > 20) {
									valueLegend = valueLegend.substring(0, 20).trimEnd() + "…";
								}
								return valueLegend;
							},
							color: 'white'
						},
						grid: {
							display: false,
							// drawOnChartArea: false,
							// color: 'white',
							// lineWidth: 2,
						},
						border: {
							color: 'white',
							width: 2,
						},
					},
					x: {
						beginAtZero: true,
						grid: {
							drawOnChartArea: false,
							color: 'white',
							lineWidth: 2,
						},
						border: {
							display: false,
						},
						ticks: {
							color: 'white',
							callback: function(value, index, ticks) {
								return this.getLabelForValue(value) + " h";
							},
						},
					}
				},
				plugins: {
					legend: {
						display: true,
						position: 'top',
						labels: {
							color: 'white',
							boxWidth: 20,
						}
					},
					title: {
						display: false,
						text: 'Tiempo de implementación'
					},
					tooltip: {
						callbacks: {
							title: function(context) {
								return tTooltips[context[0].dataIndex];
							},
							label: function(context) {
								return ""
							},
							beforeBody: function(context) {
								return context[0].label;
							},
						}
					},
				}
			},
		});
	</script>
	{{ end }}

	<!--? DIAS DE TRABAJO -->
	{{ if .DiasTrabajo -}}
	<h3 class="mt-4 mb-4 text-xl text-cyan-600">Tiempo invertido</h3>
	<p>
		{{ with .PersonaCosto -}}
		Estimado total: {{ .SegundosEstimado }} <br>
		Invertido total: {{ .SegundosUtilizado }}
		{{ end }}
	</p>

	{{ range .PersonaCosto.Historias }}
	<p>{{ .Nivel }}.{{ .Posicion }}: <span class="bg-cyan-900 rounded">{{ .SegundosUtilizadoMust }} {{ .SegundosUtilizado }} s</span> {{ .Titulo }} [{{ .HistoriaID }}]</p>
	{{ end }}
	
	<div class="p-4 mb-4">
		<canvas id="chartDiasTrabajo"></canvas>
	</div>
	<script>
		new Chart(document.getElementById('chartDiasTrabajo'), {
			type: 'bar',
			data: {
				labels: [{{ range .DiasTrabajo }}'{{ .Fecha }}',{{ end }}],
				datasets: [{
					label: 'Horas',
					data: [{{ range .DiasTrabajo }}{{ .Horas }},{{ end }}],
				}]
			},
		});
	</script>
	{{ end }}

	<!--? DIAS DE TRABAJO OLD -->
	{{ if .DiasTrabajoMapHoras -}}
	<h3 class="mt-4 mb-4 text-xl text-cyan-600">Tiempo invertido</h3>
	<p>
		{{ with .PersonaCosto -}}
		Estimado total: {{ .SegundosEstimado }} <br>
		Invertido total: {{ .SegundosUtilizado }}
		{{ end }}
	</p>
	<div class="p-4 mb-4">
		<canvas id="chartIntervalos"></canvas>
	</div>
	<script>
		new Chart(document.getElementById('chartIntervalos'), {
			type: 'bar',
			data: {
				labels: [{{ range $k, $v := .DiasTrabajoMapHoras }}'{{ $k }}',{{ end }}],
				datasets: [{
					label: 'Horas',
					data: [{{ range $k, $v := .DiasTrabajoMapHoras }}{{ $v }},{{ end }}],
				}]
			},
		});
	</script>
	{{ end }}

	<!--? PROGRESO EN EL PROYECTO -->
	{{ with .PersonaCosto -}}
	<h3 class="mt-4 mb-4 text-xl text-cyan-600">Avance del proyecto</h3>
	<div class="p-4 mb-4 max-w-96">
		<canvas id="chartHistoriasCompletadas"></canvas>
	</div>
	<script>
		new Chart(document.getElementById('chartHistoriasCompletadas'), {
			type: 'doughnut',
			data: {
				labels: ['Historias entregadas', 'Historias pendientes',],
				datasets: [{
					label: 'Historias',
					data: [{{ .NumHistCompletadas }}, {{ .NumHistNoCompletadas }}],
				}]
			},
		});
	</script>

	<h3 class="mb-4 text-xl text-cyan-600">Todas las historias</h3>
	<table>
        <thead>
            <tr>
                <th>HistoriaID</th>
                <th>PadreID</th>
                <th>Nivel</th>
                <th>Posicion</th>
                <th>Titulo</th>
                <th>Prioridad</th>
                <th>Completada</th>
				<th>SegundosPresupuesto</th>
				<th>SegundosUtilizado</th>
                <th>TiempoReal</th>
            </tr>
        </thead>
        <tbody>
			{{ range .Historias -}}
            <tr>
                <td>{{ .HistoriaID }}</td>
                <td>{{ .PadreID }}</td>
                <td>{{ .Nivel }}</td>
                <td>{{ .Posicion }}</td>
                <td>{{ .Titulo }}</td>
                <td>{{ .Prioridad }}</td>
                <td>{{ .Completada }}</td>
				<td>{{ .SegundosPresupuesto }}</td>
				<td>{{ .SegundosUtilizado }}</td>
                <td>{{ .SegundosUtilizadoMust }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
	{{ end }}

</main>

<div id="ctxMenu" tipo="ctxMenu" gk-historia="" class="absolute hidden p-2 text-black bg-cyan-50 rounded shadow-md">
	<div class="grid grid-cols-2 gap-1 text-sm">
		<div class="col-span-2 text-xs opacity-50">Acciones</div>
		<button type="button" onclick="tableroHistoria()" class="block w-full py-1 pl-2 pr-4 text-left rounded hover:bg-gray-300">📋 Tablero</button>
		<button type="button" onclick="showMoverHistoria()" class="block w-full py-1 pl-2 pr-4 text-left rounded hover:bg-gray-300">🚙 Mover</button>
		<button type="button" onclick="eliminarHistoria()" class="block w-full py-1 pl-2 pr-4 text-left rounded hover:bg-gray-300">❌ Eliminar</button>
		<div class="col-span-2 text-xs opacity-50">Prioridad</div>
		<button type="button" onclick="priorizarHistoria(3)" class="block w-full py-1 pl-2 pr-4 text-left rounded hover:bg-gray-300">🤩 Must</button>
		<button type="button" onclick="priorizarHistoria(2)" class="block w-full py-1 pl-2 pr-4 text-left rounded hover:bg-gray-300">🤔 Should</button>
		<button type="button" onclick="priorizarHistoria(1)" class="block w-full py-1 pl-2 pr-4 text-left rounded hover:bg-gray-300">😶‍🌫️ Would</button>
		<button type="button" onclick="priorizarHistoria(0)" class="block w-full py-1 pl-2 pr-4 text-left rounded hover:bg-gray-300">🚫 Won't</button>
		<div class="col-span-2 text-xs opacity-50">Estatus</div>
		<button type="button" onclick="marcarHistoria(1)" class="block w-full py-1 pl-2 pr-4 text-left rounded hover:bg-gray-300">✅ Okey</button>
		<button type="button" onclick="marcarHistoria(0)" class="block w-full py-1 pl-2 pr-4 text-left rounded hover:bg-gray-300">🔻 Falta</button>
	</div>
</div>

<div id="msgStack" class="hidden">
	<!-- Mensajes respuesta del servidor, utilizado para hacer trigger a reload -->
</div>

<dialog id="moverHistoria" class="text-white bg-cyan-900 border-4 border-cyan-800 rounded-md">
	<header class="flex items-center gap-2 p-2 bg-cyan-800">
		<h2 class="grow text-xl">
			Mover historia
		</h2>
		<button
			type="button"
			onclick="this.closest('dialog').close()"
			title="Cerrar"
			class="inline-block float-right px-2 text-2xl rounded-md hover:opacity-75">
			<i class="fa-solid fa-xmark"></i>
		</button>
	</header>
	<form class="flex flex-col gap-2 p-2">
		<p class="mb-2 italic text-orange-400">Historia a mover</p>
		<input type="hidden" name="historia_id" required>
		<div
			id="navTreeHistoria"
			hx-get="/nav/pers/{{ .Persona.PersonaID }}"
			hx-target="#navTreeHistoria" hx-swap="innerHTML"
			hx-trigger="navTreeHistoriaShown"
			class="flex flex-col gap-1 sm:w-96">
			<!-- nav_tree -->
		</div>
		<button
			hx-post="/mover/historia"
			hx-target="main" hx-select="main" hx-swap="outerHTML"
			type="submit"
			onclick="this.closest('dialog').close()"
			class="inline-block w-full px-6 py-2 font-medium text-slate-100 transition-colors bg-blue-700 rounded shadow-md hover:bg-blue-600">
			Mover
		</button>
	</form>
</dialog>

<!-- ======================================================== -->
<script>

	function showMoverHistoria(historiaID, descripcion) {
		historiaID = document.querySelector("[tipo='ctxMenu']").getAttribute("gk-historia")
		let mov = document.getElementById('moverHistoria');
		mov.showModal();
		mov.querySelector('input[name=historia_id]').value = historiaID;
		mov.querySelector('p').innerText = descripcion;
		document.getElementById('navTreeHistoria').dispatchEvent(new Event('navTreeHistoriaShown'));
	}

	function tableroHistoria() {
		let historiaID = document.querySelector("[tipo='ctxMenu']").getAttribute("gk-historia")
		window.location.href = `/historias/${historiaID}/tablero`
	}

	function priorizarHistoria(prioridad) {
		if (isNaN(prioridad)) {
			alert("La prioridad debe ser un número")
			return console.error("La prioridad debe ser un número")
		}
		let historiaID = document.querySelector("[tipo='ctxMenu']").getAttribute("gk-historia")
		let formData = new FormData();
		formData.append("prioridad", prioridad);
		fetch(`/historias/${historiaID}/priorizar`, { method: 'POST', body: formData }).then(response => handleResponse(response));
	}

	function marcarHistoria(completada) {
		let historiaID = document.querySelector("[tipo='ctxMenu']").getAttribute("gk-historia")
		let formData = new FormData();
		formData.append("completada", completada);
		fetch(`/historias/${historiaID}/marcar`, { method: 'POST', body: formData }).then(response => handleResponse(response));
	}

	function eliminarHistoria() {
		let historiaID = document.querySelector("[tipo='ctxMenu']").getAttribute("gk-historia")
		let formData = new FormData();
		fetch(`/historias/${historiaID}`, { method: 'DELETE' }).then(response => handleResponse(response));
	}

	// ================================================================ //
	// ========== Context menu ======================================== //

	function setupMenuContextual(element, historiaID) {
		element.addEventListener("contextmenu", function(event) {
			event.preventDefault()
			let menu = document.querySelector("[tipo='ctxMenu']")
			menu.classList.remove("hidden")
			let menuW = menu.offsetWidth // Dimensiones del menú
			let menuH = menu.offsetHeight
			let winW = window.innerWidth // Dimensiones de la ventana
			let winH = window.innerHeight
			let x = event.clientX // Coordenadas dentro de la ventana
			let y = event.clientY
			if (x + menuW > winW) { x = winW - menuW } // Que no salga de la ventana
			if (y + menuH > winH) { y = winH - menuH }
			menu.style.left = `${x}px`
			menu.style.top = `${y}px`

			menu.setAttribute("gk-historia", historiaID)
		})
	}
	// Cerrar el menú contextual al hacer click en donde sea.
	document.addEventListener("click", function(event) {
		let menu = document.querySelector("[tipo='ctxMenu']")
		if (menu.classList.contains("hidden")) { return }
		menu.classList.add("hidden")
	})

	// ================================================================ //
	// ========== Recargar contenido ================================== //

	// Para respuestas a solicitudes hechas con JS.
	function handleResponse(response) {
		response.text().then((msg) => {
			if (response.status >= 200 && response.status < 300) {
				console.log(msg)
			} else {
				alert(msg)
			}
			document.querySelector("[tipo='sort_historias']").dispatchEvent(new Event("historiasActualizadas"))
		})
	}

	// Para respuestas a solicitudes hechas con HTMX.
	document.getElementById("msgStack").addEventListener("htmx:afterSwap", (event) => {
		document.querySelector("[tipo='sort_historias']").dispatchEvent(new Event("historiasActualizadas"))
		dialogHistoria.close()
	})

	// Ubicar una historia seleccionada mediante el URL fragment.
	if (window.location.hash) {
		let historia = document.getElementById(window.location.hash.substr(1));
		if (historia != null) {
			historia.classList.add("border-indigo-600");
			historia.classList.add("border-2");
			historia.scrollIntoView();
		}
	}

	// ================================================================ //
	// ========== Inicializar ========================================= //
	
	htmx.onLoad(function(content) {
		content.querySelectorAll("[tipo='sort_historia']").forEach(element => {
			setupMenuContextual(element, element.id) // al cargar toda la página
		});
		if (content.getAttribute("tipo") == "sort_historia") {
			setupMenuContextual(content, content.id) // al cargar individualmente cada historia
		}
	});

	// ================================================================ //
	// ========== Reordenar =========================================== //

	var sortableHistorias = new Sortable(document.querySelector("[tipo='sort_historias']"), {
		group: "sort_historias", animation: 150, swapThreshold: 0.50,
		draggable: "[tipo='sort_historia']",
		handle: "[tipo='sort_handle']",
		ghostClass: "opacity-50",
		onEnd: function (event) {
			if (event.oldIndex == event.newIndex){ return }
			event.item.querySelector("input[name='new_pos']").value = event.newIndex + 1;
			event.item.querySelector("form[tipo='sort_form']").dispatchEvent(new Event("reordenarEnd"));
		},
	});

</script>