<!DOCTYPE html>
<html lang="es_MX">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ if $.Titulo }}{{ $.Titulo }}{{ else }}Pargo{{ end }}</title>
		<link rel="shortcut icon" href="/assets/img/pargo-ff/pargo-ff-32.png" type="image/png">
		<link rel="stylesheet" type="text/css" href="/assets/css/estilo.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/fontawesome.min.css">
		<style>
			@media print {
				@page {
					margin: 1in;
				}
				body {
					font-family: 'Times New Roman', serif;
					font-size: 12pt;
				}
				.header, .footer {
					display: none;
				}
			}
		</style>
		<script defer src="/assets/js/main.js"></script>
		<script defer src="/assets/js/htmx.js"></script>
	</head>
	
	<body class="h-full text-white bg-[#091a20] print:text-black print:bg-transparent print:font-serif">
		{{ template "persona_doc_content" . }}
	</body>
</html>

{{ define "persona_doc_content" }}
{{ if not $.Print }}
<header class="relative flex items-center w-full bg-cyan-950 shadow-lg print:bg-transparent">
	<div class="p-1">
		<img
			src="{{ if .Proyecto.Imagen }}/imagenes/{{ .Proyecto.Imagen }}{{ else }}/assets/img/Elegantthemes-Softies-Tools.256.png{{ end }}"
			alt="Portada del proyecto"
			class="w-24 rounded-md">
	</div>
	<div class="w-full p-2">
		<h2 class="text-2xl font-medium">
			<a href="/h/{{ .Proyecto.ProyectoID }}/doc">
				{{ .Persona.Nombre }}
			</a>
		</h2>
		<p>
			Documentación para el usuario
		</p>
	</div>
</header>
{{ end }}

<main class="grow max-w-4xl px-6 py-4 mx-auto">

	<!--* PERSONA -->
	<!-- <p class="mb-4 whitespace-pre-line opacity-75">
		{{- .Persona.Descripcion -}}
	</p> -->

	<!--* HISTORIAS -->
	{{ range $i, $v := .Historias -}}
	{{ if $i -}}
	<hr class="my-4 mt-16 border-t-2 border-cyan-600 opacity-50">
	{{ end -}}
	{{ with .Historia -}}
	
	<h3 id="{{ .HistoriaID }}" class="relative mb-2 text-2xl font-bold whitespace-pre-line group">
		{{- enfatizar .Titulo -}}
		<a href="/h/{{ .HistoriaID }}" class="absolute px-2 text-lg opacity-10 -left-6 top-1 group-hover:opacity-90"><i class="fa-solid fa-section"></i></a>
	</h3>

	<p class="mb-4 whitespace-pre-line opacity-75">
		{{- enfatizar .Objetivo -}}
	</p>
	
	{{ end 	}}

	{{ if .Reglas -}}
		{{ template "historia_doc_reglas" . }}
	{{ end }}

	<p class="mb-4 whitespace-pre-line opacity-75">
		{{- enfatizar .Historia.Descripcion -}}
	</p>

	{{ if .Tramos -}}
		{{ template "historia_doc_tramos" . }}
	{{ end }}

	{{ if .Relacionadas -}}
		{{ template "historia_doc_relacionadas" . }}
	{{ end }}

	{{ range .Descendientes -}}
	<div class="lg:mx-4">
		{{ template "historia_doc_desc" . }}
	</div>
	{{ end }}

	{{ end }}
</main>
{{ end }}

{{- define "historia_doc_desc" -}}
	<hr class="mt-16 mb-2 border-t border-cyan-600 opacity-50">
	
	<h3 id="{{ .HistoriaID }}" class="relative mb-2 text-xl font-bold whitespace-pre-line group">
		{{- enfatizar .Titulo -}}
		<a href="/h/{{ .HistoriaID }}" class="absolute px-2 text-lg opacity-10 -left-6 top-1 group-hover:opacity-90"><i class="fa-solid fa-section"></i></a>
	</h3>

	<p class="mb-4 whitespace-pre-line opacity-75">
		{{- enfatizar .Objetivo -}}
	</p>

	{{ if .Reglas -}}
		{{ template "historia_doc_reglas" . }}
	{{ end }}

	{{ if .Relacionadas -}}
		{{ template "historia_doc_relacionadas" . }}
	{{ end }}

	<p class="mb-4 whitespace-pre-line opacity-75">
		{{- enfatizar .Descripcion -}}
	</p>

	{{ if .Tramos -}}
		{{ template "historia_doc_tramos" . }}
	{{ end }}

	{{ range .Descendientes }}
	<div class="lg:mx-4">
		{{ template "historia_doc_desc" . }}
	</div>
	{{ end }}
{{- end -}}

{{- define "historia_doc_reglas" -}}
<ul class="mb-4">
	{{ range .Reglas }}
	<li class="flex items-baseline gap-2 mb-2 opacity-75">
		<i class="px-1 text-sm fa-solid fa-arrow-right"></i>
		<p class="whitespace-pre-line">{{- enfatizar .Texto -}}</p>
	</li>
	{{ end }}
</ul>
{{- end -}}

{{- define "historia_doc_tramos" -}}
<div class="flex flex-col items-start mb-2">
	{{ range .Tramos }}
	<div class="flex items-start gap-2 mb-2">
		<span class="px-2 py-1 mr-1 font-mono text-sm rounded-md bg-black/25 whitespace-nowrap">
			{{ .Posicion }}
		</span>
		<div>
			<p class="whitespace-pre-line">
				{{- enfatizar .Texto -}}
			</p>
			{{ if .Imagen -}}
			<div class="float-left mt-2 mb-2 border border-cyan-800 rounded-md shadow-lg max-w-lg">
				<img src="/imagenes/{{ .Imagen }}" class="w-full rounded-md ">
			</div>
			{{ end }}
		</div>
	</div>
	{{ end }}
</div>
{{- end -}}

{{- define "historia_doc_relacionadas" -}}
<p>Puede interesar:</p>
<ul class="mb-4">
	{{ range .Relacionadas }}
	<li class="flex items-baseline gap-2 opacity-75">
		<i class="px-1 text-xs opacity-75 fa-regular fa-circle"></i>
		<a href="/h/{{ .PersonaID }}/doc#{{ .HistoriaID }}" class="text-cyan-400 whitespace-pre-line hover:text-cyan-300">
			{{- enfatizar .Titulo -}} 
		</a>
	</li>
	{{ end }}
</ul>
{{- end -}}