<header class="flex justify-between items-start">
	<a href="/metricas" class="pt-4 p-3 text-sm transition-colors hover:text-cyan-400">
		<i class="fa-solid fa-chart-line"></i>
		Métricas
	</a>
	<h2 class="p-3 text-3xl text-center">
		Pargo 🐟
	</h2>
	<a href="/tareas" class="pt-4 p-3 text-sm transition-colors hover:text-cyan-400">
		<i class="fa-solid fa-list-check"></i>
		Tareas
	</a>
</header>

{{ if .TareasEnCurso -}}
<div class="flex flex-col gap-1 px-4 mb-4">
	<h3 class="text-lg text-cyan-600">Tareas en curso</h3>
	{{ range .TareasEnCurso -}}
	<a href="{{ if eq .HistoriaID 1 }}/tareas{{ else }}/historias/{{ .HistoriaID }}#{{ .TareaID }}{{ end }}" class="flex gap-2 transition-colors hover:text-cyan-200">
		<span class="inline-block w-6 text-center">
			<i class="text-slate-400 fa-solid fa-list-check"></i>
		</span>
		<span class="truncate">
			{{ .Descripcion }}
		</span>
		<span class="px-2 opacity-50">
			<img src="/assets/img/spinner.svg" alt="En progreso" class="inline-block w-8">
		</span>
	</a>
	{{ end }}
</div>
{{ end -}}

{{ if .Bugs -}}
<div class="px-4 mb-4">
	<details>
		<summary class="text-cyan-600 cursor-pointer">
			Bugs pendientes ({{ len .Bugs }})
		</summary>
		<div class="flex flex-col gap-1">
			{{ range .Bugs -}}
			<a href="/historias/{{ .HistoriaID }}#{{ .TareaID }}" class="flex w-full gap-2 transition-opacity opacity-75 hover:opacity-100">
				<span class="px-1">
					{{- if .Finalizada }}<i class="text-green-600 fa-regular fa-square-check"></i>
					{{ else if .EnCurso }}<i class="text-cyan-600 fa-solid fa-bug"></i>
					{{ else if .EnPausa }}<i class="text-orange-600 fa-solid fa-bug"></i>
					{{ else }}<i class="text-slate-400 fa-solid fa-bug"></i>
					{{ end -}}
				</span>
				<span class="grow truncate">
					{{ .Descripcion }}
				</span>
			</a>
			{{ end }}
		</div>
	</details>
</div>
{{ end }}


<main class="flex flex-col justify-start grow w-full max-w-5xl gap-4 p-2 mx-auto">
	{{ template "busqueda_input" . }}
	
	{{ range .Proyectos -}}
	<article id="{{ .ProyectoID }}"
		hx-get="/proyectos/{{ .ProyectoID }}"
		hx-push-url="true"
		hx-trigger="none"
		class="relative flex items-center w-full bg-cyan-950 rounded-md shadow-lg">

		<div class="p-2 rounded-md">
			<a href="/proyectos/{{ .ProyectoID }}" hx-boost="true" hx-push-url="true">
				<img src="{{ if .Imagen }}/imagenes/{{ .Imagen }}{{ else }}/assets/img/Elegantthemes-Softies-Tools.256.png{{ end }}" alt="Portada del proyecto" class="w-32 transition-opacity rounded-md hover:opacity-75">
			</a>
		</div>

		<div class="w-full p-2">
			<h4 class="mb-2 text-2xl font-medium flex items-center gap-2">
				<a
					href="/proyectos/{{ .Proyecto.ProyectoID }}/doc"
					title="Documentación"
					class="rounded-md opacity-75 hover:opacity-100 text-lg">
					<i class="fa-solid fa-book"></i>
				</a>
				<a href="/proyectos/{{ .ProyectoID }}" class="transition-opacity hover:opacity-75 w-full mr-10">
					{{ .Titulo }}
				</a>
			</h4>
			<p class="mb-2 text-sm opacity-75 line-clamp-3"><a href="/proyectos/{{ .ProyectoID }}">
				{{- enfatizar .Descripcion -}}
			</a></p>
			<ul class="flex flex-wrap pl-4 mb-2 list-disc gap-x-6 gap-y-1">
				{{ range .Personas -}}
				<li class="text-sm">
					<a href="/personas/{{ .PersonaID}}" class="transition-opacity opacity-75 hover:opacity-100">
						{{ .Nombre }}
					</a>
				</li>
				{{ end }}
			</ul>
		</div>

		<button 
			type="button"
			onclick="showProyectoForm(this.closest('article').id)"
			title="Editar proyecto"
			class="absolute top-0 right-0 px-1 transition-opacity bg-cyan-900 opacity-75 hover:opacity-100 rounded-tr-md rounded-bl-md">
			<i class="px-2 py-2 fa fa-pen"></i>
		</button>
	</article>
	{{ end }}

	{{ if not .Proyectos -}}
	<button
		type="button"
		onclick="showProyectoForm('New')"
		class="px-2 py-1 bg-cyan-700 rounded-full">
		Nuevo proyecto <i class="fa-solid fa-plus"></i>
	</button>
	{{ else }}
	<button
		type="button"
		onclick="showProyectoForm('New')"
		class="px-1 bg-cyan-700 rounded-full">
		<i class="fa-solid fa-plus"></i>
	</button>
	{{ end }}
</main>

<footer class="flex flex-wrap justify-between gap-4 p-4">
	<p>
		Hecho con <i class="px-1 text-sm fa-solid fa-heart"></i> por
		<a href="https://github.com/pargomx" target="_blank" class="transition-colors hover:text-cyan-400">PargoMx</a>
	</p>
	<a href="/logout" class="transition-colors hover:text-cyan-400">
		Logout
		<i class="px-1 text-sm fa-solid fa-fish-fins"></i>
	</a>
</footer>

<!--* NUEVO PROYECTO -->
<dialog id="frmPryNew" class="m-auto text-white bg-cyan-900 border-4 border-cyan-800 rounded-md">
	<header class="flex items-center gap-2 p-2 bg-cyan-800">
		<h2 class="grow text-xl">
			Nuevo proyecto
		</h2>
		<button
			type="button"
			onclick="this.closest('dialog').close()"
			title="Cerrar"
			class="inline-block float-right px-2 text-2xl rounded-md hover:opacity-75">
			<i class="fa-solid fa-xmark"></i>
		</button>
	</header>
	<div class="p-2 pb-0 text-right">
		<button
			type="button"
			onclick="frmPryNew.close(); importProyecto.showModal()"
			class="italic font-semibold text-cyan-500 underline transition-colors rounded-sm hover:text-cyan-400 whitespace-nowrap">
			Importar JSON...
		</button>
	</div>
	<form class="flex flex-col gap-2 p-2" hx-post="/proyectos">
		<label>
			Título
			<input
				name="titulo"
				type="text"
				required
				onchange="newPryClave.value=normalizar(this.value.replaceAll(' ',''))"
				class="form-control">
		</label>
		<label>
			Clave
			<input id="newPryClave"
				name="clave"
				type="text"
				required
				class="form-control">
		</label>
		<label>
			Descripción
			<textarea
				name="descripcion"
				rows="2"
				class="form-control"></textarea>
		</label>
		<label>
			Color
			<input
				name="color"
				type="text"
				class="form-control">
		</label>
		<button 
			type="submit"
			onclick="this.closest('dialog').close()"
			class="grow p-2 text-lg font-semibold transition-colors bg-cyan-700 rounded-sm shadow-md hover:bg-cyan-600">
			Guardar
		</button>
	</form>
</dialog>

<!--* IMPORTAR -->
<dialog id="importProyecto" class="m-auto text-white bg-cyan-900 border-4 border-cyan-800 rounded-md">
	<header class="flex items-center gap-2 p-2 bg-cyan-800">
		<h2 class="grow text-xl">
			Importar proyecto
		</h2>
		<button
			type="button"
			onclick="this.closest('dialog').close()"
			title="Cerrar"
			class="inline-block float-right px-2 text-2xl rounded-md hover:opacity-75">
			<i class="fa-solid fa-xmark"></i>
		</button>
	</header>
	<form class="flex flex-col gap-2 p-2">
		<div class="py-2">
			<label for="importProyectoFile">JSON del proyecto</label>
			<input id="importProyectoFile" type="file" name="proyecto" accept="application/json" required class="form-control">
		</div>
		<button 
			type="button"
			hx-post="/proyectos/importar"
			hx-encoding="multipart/form-data"
			onclick="this.closest('dialog').close()"
			class="grow p-2 text-lg font-semibold transition-colors bg-cyan-700 rounded-sm shadow-md hover:bg-cyan-600">
			Importar
		</button>
	</form>
</dialog>

{{ define "proyecto_form" }}
<dialog id="frmPry{{ .ProyectoID }}" class="m-auto {{ if gt (len .Descripcion) 500 }}w-full {{ end }}text-white bg-cyan-900 border-4 border-cyan-800 rounded-md">
	<header class="flex items-center gap-2 p-2 bg-cyan-800">
		<h2 class="grow text-xl">
			Modificar proyecto
		</h2>
		<button
			type="button"
			onclick="this.closest('dialog').close()"
			title="Cerrar"
			class="inline-block float-right px-2 text-2xl rounded-md hover:opacity-75">
			<i class="fa-solid fa-xmark"></i>
		</button>
	</header>
	<div class="flex flex-wrap justify-end p-2 pb-0 gap-x-4 gap-y-2">
		<a 
			href="/proyectos/{{ .ProyectoID}}/exportar.json"
			target="_blank"
			class="italic font-semibold text-cyan-500 underline transition-colors rounded-sm hover:text-cyan-400 whitespace-nowrap">
			Exportar JSON
		</a>
		<a 
			href="/proyectos/{{ .ProyectoID}}/exportar.md"
			target="_blank"
			class="italic font-semibold text-cyan-500 underline transition-colors rounded-sm hover:text-cyan-400 whitespace-nowrap">
			Exportar Markdown
		</a>
	</div>
	<form
		hx-put="/proyectos/{{ .ProyectoID }}"
		hx-encoding="multipart/form-data"
		class="flex flex-col gap-2 p-2">
		<label>
			Título
			<input
				name="titulo"
				value="{{ .Titulo }}"
				type="text"
				required
				class="form-control">
		</label>
		<label>
			Clave
			<input
				name="clave"
				value="{{ .ProyectoID }}"
				type="text"
				required
				class="form-control">
		</label>
		<label>
			Descripción
			<textarea
				name="descripcion"
				rows="1"
				class="form-control">
				{{- .Descripcion -}}
			</textarea>
		</label>
		<div>
			<img tipo="img_preview" src="" class="hidden object-cover mx-auto mb-2 rounded-md shadow-lg aspect-square w-60">
		</div>
		<label>
			Imagen
			<input
				type="file"
				name="imagen" accept="image/png, image/jpeg, image/gif" onchange="showImagen(this)" class="form-control">
		</label>
		<label>
			Color
			<input
				name="color"
				value="{{ .Color }}"
				type="text"
				class="form-control">
		</label>
		<label>
			Posición
			<input
				name="posicion"
				value="{{ .Posicion }}"
				type="number"
				class="form-control">
		</label>
		<div class="flex flex-row-reverse pt-4 gap-x-4 gap-y-2">
			<button
				type="submit"
				onclick="this.closest('dialog').close()"
				class="grow p-2 text-lg font-semibold transition-colors bg-cyan-700 rounded-sm shadow-md hover:bg-cyan-600">
				Guardar
			</button>
			<button
				type="button"
				hx-delete="/proyectos/{{ .ProyectoID}}/definitivo"
				hx-confirm="Se sugiere exportar JSON antes de continuar. ¿Eliminar proyecto {{ .Titulo }} junto con todo lo que contiene?"
				hx-prompt="Escribe 'eliminar_{{ .ProyectoID}}' para confirmar"
				onclick="this.closest('dialog').close()"
				class="p-2 transition-opacity bg-red-800 rounded-sm shadow-md opacity-75 hover:opacity-100 focus:opacity-100">
				Eliminar
			</button>
		</div>
	</form>
</dialog>
{{ end 	}}

<div hx-askfor="/proyectos">
{{ range .Proyectos }}
	{{ template "proyecto_form" . }}
{{ end }}
</div>

<script>
	function showProyectoForm(proyectoID) {
		let form = document.getElementById(`frmPry${proyectoID}`);
		form.showModal();
		let input = form.querySelector("input");
		input.focus();
		input.setSelectionRange(input.value.length, input.value.length);
	}

	function showImagen(input) {
		const [file] = input.files
		if (file) {
			let img = input.closest("form").querySelector("img[tipo=img_preview]")
			img.classList.remove("hidden")
			img.classList.add("block")
			img.src = URL.createObjectURL(file)
		}
	}
</script>