<header class="relative flex items-center w-full mb-2 bg-cyan-950 shadow-lg">
	<div class="p-1">
		<img
			data-proyecto-id="{{ .Proyecto.ProyectoID }}"
			src="{{ if .Proyecto.Imagen }}/imagenes/{{ .Proyecto.Imagen }}{{ else }}/assets/img/Elegantthemes-Softies-Tools.256.png{{ end }}"
			alt="Portada del proyecto"
			class="w-24 rounded-md">
	</div>
	<div class="w-full p-2">
		<h2 class="text-2xl font-medium">
			{{ .Proyecto.Titulo }}
		</h2>
		<p class="text-sm opacity-75 line-clamp-2">
			{{ enfatizar .Proyecto.Descripcion }}
		</p>
	</div>
	<span class="absolute right-2 top-2">
		<a
			href="/proyectos/{{ .Proyecto.ProyectoID }}/doc"
			title="Documentación"
			class="px-2 py-1 mr-2 rounded-md opacity-75 hover:opacity-100">
			<i class="fa-solid fa-book"></i>
		</a>
		<button
			type="button"
			onclick="document.getElementById('frmPry{{ .Proyecto.ProyectoID }}').showModal()"
			class="px-2 py-1 mr-2 rounded-md opacity-75 hover:opacity-100">
			<i class="fa fa-pen"></i>
		</button>
		<a 
			href="/"
			tipo="ancestro_directo"
			class="px-2 py-1 bg-red-800 rounded-md opacity-75 hover:opacity-100">
			<i class="fa-solid fa-xmark"></i>
		</a>
	</span>
</header>

{{ if .TareasEnCurso -}}
<div class="flex flex-col gap-1 px-2">
	<h3 class="text-xl text-cyan-600">Tareas en curso</h3>
	{{ range .TareasEnCurso -}}
	<a href="/historias/{{ .HistoriaID }}#{{ .TareaID }}" class="flex gap-2 transition-colors hover:text-cyan-200">
		<span class="inline-block w-6 text-center">
			<i class="text-slate-400 fa-solid fa-list-check"></i>
		</span>
		<span class="truncate">
			{{ .Descripcion }}
		</span>
		<span class="px-2 opacity-50">
			<img src="/assets/img/spinner.svg" alt="En progreso" class="inline-block w-8">
		</span>
	</a>
	{{ end }}
</div>
{{ end -}}

{{ with .Proyecto }}
{{ template "proyecto_form" . }}
{{ end }}

<!--* QUICK EDIT -->
<!-- <div class="p-2">
	<div>
		<textarea
			hx-patch="/proyectos/{{ .Proyecto.ProyectoID }}/titulo"
			hx-swap="none" 
			hx-trigger="change, keyup changed delay:2s"
			name="value"
			rows="1"
			class="w-full px-2 py-1 text-2xl font-medium text-white bg-transparent border-b border-cyan-800 outline-hidden focus:border-blue-400">
			{{- .Proyecto.Titulo -}}
		</textarea>
	</div>
	<div>
		<textarea
			hx-patch="/proyectos/{{ .Proyecto.ProyectoID }}/descripcion"
			hx-swap="none" 
			hx-trigger="change, keyup changed delay:2s"
			name="value"
			rows="1"
			placeholder="Descripción del proyecto..." 
			class="w-full px-2 py-1 text-base font-medium bg-transparent border-b border-cyan-800 outline-hidden focus:border-blue-400 placeholder:text-slate-600">
			{{- .Proyecto.Descripcion -}}
		</textarea>
	</div>
</div> -->

<main tipo="sort_personas" class="flex flex-col items-center justify-center grow gap-4 p-2">
	{{ range .Personas -}}
	<article tipo="sort_persona" id="{{ .PersonaID }}" class="relative flex items-center justify-center w-full max-w-2xl gap-4 px-4 py-2 bg-cyan-950 rounded-md shadow-lg">
		<div>
			<span tipo="sort_handle" class="text-4xl cursor-pointer" title="Mover persona">
				<i class="fa-solid fa-person"></i>
				<form tipo="sort_form" hx-post="/reordenar-persona" hx-trigger="reordenarEnd">
					<input type="hidden" name="persona_id" value="{{ .PersonaID }}">
					<input type="hidden" name="old_pos" value="{{ .Posicion }}">
					<input type="hidden" name="new_pos">
				</form>
			</span>
		</div>
		<a href="/personas/{{ .PersonaID }}" class="block w-full" title="{{ .Nombre }}">
			<h4 class="inline-block text-lg font-medium">
				{{- .Nombre -}}
			</h4>
			<p class="text-sm opacity-75">
				{{- .Descripcion -}}
			</p>
		</a>
		<button 
			type="button"
			onclick="showPersonaForm(this.closest('article').id)"
			title="Editar personaje"
			class="absolute top-0 right-0 px-1 transition-opacity bg-cyan-900 opacity-75 hover:opacity-100 rounded-tr-md rounded-bl-md">
			<i class="px-2 py-2 fa fa-pen"></i>
		</button>
	</article>
	{{ end }}

	<!-- Agregar persona -->
	{{ if .Personas -}}
	<button 
		type="button"
		onclick="showPersonaForm('Nueva')"
		title="Agregar personaje"
		class="px-1 bg-cyan-700 rounded-full">
		<i class="fa-solid fa-plus"></i>
	</button>
	{{ else -}}
	<button
		type="button"
		onclick="showPersonaForm('Nueva')"
		class="px-2 py-1 bg-cyan-700 rounded-full">
		Agregar personaje <i class="fa-solid fa-plus"></i>
	</button>
	{{ end }}


	{{ if .Historias -}}
	<div class="">
		{{ range .Historias -}}
		<a href="/historias/{{ .HistoriaID }}" class="block">
			{{ .Nivel }}.{{ .Posicion }}:
			{{ .Titulo }}
			<!-- PersonaID -->
			<!-- Prioridad -->
			<!-- Completada -->
		</a>
		{{ end }}
	</div>
	{{ end }}
</main>

<footer class="p-4 opacity-75">
	<small></small>
</footer>

<!--* NUEVA PERSONA -->
<dialog id="frmPerNueva" class="m-auto text-white bg-cyan-900 border-4 border-cyan-800 rounded-md">
	<header class="flex items-center gap-2 p-2 bg-cyan-800">
		<h2 class="grow text-xl">
			Agregar personaje
		</h2>
		<button 
			type="button"
			onclick="this.closest('dialog').close()"
			title="Cerrar"
			class="inline-block float-right px-2 text-2xl rounded-md hover:opacity-75">
			<i class="fa-solid fa-xmark"></i>
		</button>
	</header>
	<form class="flex flex-col gap-2 p-2" hx-post="/personas">
		<div>
			<label for="newPers_00">Proyecto</label>
			<select id="newPers_00" name="proyecto_id" class="form-control">
				{{ range $.Proyectos -}}
				<option value="{{ .ProyectoID }}" {{ if eq $.Proyecto.ProyectoID .ProyectoID }}selected{{ end }}>{{ .Titulo }}</option>
				{{ end }}
			</select>
		</div>
		<div>
			<label for="newPers_01">Nombre</label>
			<input id="newPers_01" name="nombre" value="" type="text" class="form-control">
		</div>
		<div>
			<label for="newPers_02">Descripción</label>
			<textarea id="newPers_02" name="descripcion" rows="1" class="form-control"></textarea>
		</div>
		<button
			type="submit"
			onclick="this.closest('dialog').close()"
			class="grow p-2 text-lg font-semibold transition-colors bg-cyan-700 rounded-sm shadow-md hover:bg-cyan-600">
			Guardar
		</button>
	</form>
</dialog>

<!--* EDITAR PERSONA -->
{{ range .Personas }}{{ $persona := . }}
<dialog id="frmPer{{ .PersonaID }}" class="m-auto text-white bg-cyan-900 border-4 border-cyan-800 rounded-md">
	<header class="flex items-center gap-2 p-2 bg-cyan-800">
		<h2 class="grow text-xl">
			Modificar persona
		</h2>
		<button
			type="button"
			onclick="this.closest('dialog').close()" 
			title="Cerrar"
			class="inline-block float-right px-2 text-2xl rounded-md hover:opacity-75">
			<i class="fa-solid fa-xmark"></i>
		</button>
	</header>
	<form hx-put="/personas/{{ .PersonaID }}" class="flex flex-col gap-2 p-2">
		<div>
			<label for="newPers_00">Proyecto</label>
			<select id="newPers_00" name="proyecto_id" class="form-control">
				{{ range $.Proyectos -}}
				<option value="{{ .ProyectoID }}" {{ if eq $persona.ProyectoID .ProyectoID }}selected{{ end }}>{{ .Titulo }}</option>
				{{ end }}
			</select>
		</div>
		<div>
			<label for="{{ .PersonaID }}_01">Nombre</label>
			<input id="{{ .PersonaID }}_01" name="nombre" value="{{ .Nombre }}" type="text" class="form-control">
		</div>
		<div>
			<label for="{{ .PersonaID }}_02">Descripción</label>
			<textarea id="{{ .PersonaID }}_02" name="descripcion" rows="1" class="form-control">
				{{- .Descripcion -}}
			</textarea>
		</div>
		<div class="flex flex-row-reverse pt-4 gap-x-4 gap-y-2">
			<button
				type="submit"
				onclick="this.closest('dialog').close()"
				class="grow p-2 text-lg font-semibold transition-colors bg-cyan-700 rounded-sm shadow-md hover:bg-cyan-600">
				Guardar
			</button>
			<button
				type="button"
				hx-delete="/personas/{{ .PersonaID}}"
				hx-confirm="¿Eliminar persona {{ .Nombre }}? Se perderá el tiempo de gestión contabilizado."
				onclick="this.closest('dialog').close()"
				class="p-2 transition-opacity bg-red-800 rounded-sm shadow-md opacity-75 hover:opacity-100 focus:opacity-100">
				Eliminar
			</button>
		</div>
	</form>
</dialog>
{{ end 	}}

<script>
	function showPersonaForm(personaID) {
		let form = document.getElementById(`frmPer${personaID}`);
		form.showModal();
		let input = form.querySelector("input");
		input.focus();
		input.selectionEnd = input.value.length;
	}

	// ================================================================ //
	// ========== Reordenar =========================================== //

	function handleResponse(response) {
		response.text().then((msg) => {
			if (response.status >= 200 && response.status < 300) {
				console.log(msg)
			} else {
				alert(msg)
			}
		})
	}
	
	var sortablePersonas = new Sortable(document.querySelector("[tipo='sort_personas']"), {
		animation: 150, swapThreshold: 0.50,
		draggable: "[tipo='sort_persona']",
		handle: "[tipo='sort_handle']",
		ghostClass: "opacity-50",
		onEnd: function (event) {
			if (event.oldIndex == event.newIndex){ return }
			event.item.querySelector("input[name='new_pos']").value = event.newIndex + 1;
			event.item.querySelector("form[tipo='sort_form']").dispatchEvent(new Event("reordenarEnd"));
		},
	});

</script>