<header aria-label="Encabezado" class="flex justify-between items-start">
	<a class="pt-4 p-3 text-sm transition-colors hover:text-cyan-400"
		href="/metricas"
		>
		<i class="fa-solid fa-chart-line"></i>
		Métricas
	</a>
	<h2 class="p-3 text-3xl text-center">
		Pargo 🐟
	</h2>
	<a class="pt-4 p-3 text-sm transition-colors hover:text-cyan-400"
		href="/tareas"
		>
		<i class="fa-solid fa-list-check"></i>
		Tareas
	</a>
</header>

{{ if .TareasEnCurso -}}
<div class="flex flex-col gap-1 px-4 mb-4">
	<h3 class="text-lg text-cyan-600">
		Tareas en curso
	</h3>
	{{ range .TareasEnCurso -}}
	<a class="flex gap-2 transition-colors hover:text-cyan-200"
		href="{{ if eq .HistoriaID 1 }}/tareas{{ else }}/h/{{ .HistoriaID }}#{{ .TareaID }}{{ end }}"
		>
		<span class="inline-block w-6 text-center">
			<i class="text-slate-400 fa-solid fa-list-check"></i>
		</span>
		<span class="truncate">
			{{ .Descripcion }}
		</span>
		<span class="px-2 opacity-50">
			<img class="inline-block w-8"
				alt="En progreso"
				src="/assets/img/spinner.svg"
				>
		</span>
	</a>
	{{ end }}
</div>
{{ end -}}
{{ if .Bugs -}}
<div class="px-4 mb-4">
	<details>
		<summary class="text-cyan-600 cursor-pointer">
			Bugs pendientes ({{ len .Bugs }})
		</summary>
		<div class="flex flex-col gap-1">
			{{ range .Bugs -}}
			<a class="flex w-full gap-2 transition-opacity opacity-75 hover:opacity-100"
				href="/h/{{ .HistoriaID }}#{{ .TareaID }}"
				>
				<span class="px-1">
					{{- if .Finalizada }}
					<i class="text-green-600 fa-regular fa-square-check"></i>
					{{ else if .EnCurso }}
					<i class="text-cyan-600 fa-solid fa-bug"></i>
					{{ else if .EnPausa }}
					<i class="text-orange-600 fa-solid fa-bug"></i>
					{{ else }}
					<i class="text-slate-400 fa-solid fa-bug"></i>
					{{ end -}}
				</span>
				<span class="grow truncate">
					{{ .Descripcion }}
				</span>
			</a>
			{{ end }}
		</div>
	</details>
</div>
{{ end }}

<main class="flex flex-col justify-start grow w-full max-w-5xl gap-4 p-2 mx-auto">
	{{ template "busqueda_input" . }}
	
	{{ range .Raiz.Grupos -}}
	<div class="w-full">
		<h4 class="mb-2 text-2xl font-medium flex items-center gap-2">
			<a class="transition-opacity hover:opacity-75 w-full mr-10"
				href="/h/{{ .GrupoID }}"
				>
				{{ .Nombre }}
			</a>
		</h4>
		<hr>
	</div>

	{{ range .Proyectos -}}
	<article id="{{ .ProyectoID }}" class="relative flex items-center w-full bg-cyan-950 rounded-md shadow-lg"
		hx-get="/h/{{ .ProyectoID }}"
		hx-push-url="true"
		hx-trigger="none"
		>

		<div class="p-2 rounded-md">
			<a
				hx-boost="true"
				hx-push-url="true"
				href="/h/{{ .ProyectoID }}"
				>
				<img class="w-32 transition-opacity rounded-md hover:opacity-75"
					alt="Portada del proyecto"
					src="{{ if .Imagen }}/imagenes/{{ .Imagen }}{{ else }}/assets/img/Elegantthemes-Softies-Tools.256.png{{ end }}"
					>
			</a>
		</div>

		<div class="w-full p-2">
			<h4 class="mb-2 text-2xl font-medium flex items-center gap-2">
				<a class="rounded-md opacity-75 hover:opacity-100 text-lg"
					href="/h/{{ .ProyectoID }}/doc"
					title="Documentación"
					>
					<i class="fa-solid fa-book"></i>
				</a>
				<a class="transition-opacity hover:opacity-75 w-full mr-10"
					href="/h/{{ .ProyectoID }}"
					>
					{{ .Titulo }}
				</a>
			</h4>
			<p class="mb-2 text-sm opacity-75 line-clamp-3">
				<a href="/h/{{ .ProyectoID }}">
					{{- enfatizar .Descripcion -}}
				</a>
			</p>
			<ul class="flex flex-wrap pl-4 mb-2 list-disc gap-x-6 gap-y-1">
				{{ range .Personas -}}
				<li class="text-sm">
					<a class="transition-opacity opacity-75 hover:opacity-100"
						href="/h/{{ .PersonaID}}"
						>
						{{ .Nombre }}
					</a>
				</li>
				{{ end }}
			</ul>
		</div>

		<button class="absolute top-0 right-0 px-1 transition-opacity bg-cyan-900 opacity-75 hover:opacity-100 rounded-tr-md rounded-bl-md"
			type="button"
			onclick="showProyectoForm(this.closest('article').id)"
			title="Editar proyecto"
			>
			<i class="px-2 py-2 fa fa-pen"></i>
		</button>
	</article>
	{{ end }}

	{{ end }}


	{{ if not .Proyectos -}}
	<button class="px-2 py-1 bg-cyan-700 rounded-full"
		type="button"
		onclick="showProyectoForm('New')"
		>
		Nuevo proyecto
		<i class="fa-solid fa-plus"></i>
	</button>
	{{ else }}
	<button class="px-1 bg-cyan-700 rounded-full"
		type="button"
		onclick="showProyectoForm('New')"
		>
		<i class="fa-solid fa-plus"></i>
	</button>
	{{ end }}
</main>

<footer class="flex flex-wrap justify-between gap-4 p-4">
	<p>
		Hecho con
		<i class="px-1 text-sm fa-solid fa-heart"></i>
		por
		<a class="transition-colors hover:text-cyan-400"
			href="https://github.com/pargomx"
			target="_blank"
			>
			PargoMx
		</a>
	</p>
	<a class="transition-colors hover:text-cyan-400"
		href="/offline"
		>
		PWA
		<i class="px-1 text-sm fa-solid fa-gear"></i>
	</a>
	<a class="transition-colors hover:text-cyan-400"
		href="/logout"
		>
		Logout
		<i class="px-1 text-sm fa-solid fa-fish-fins"></i>
	</a>
</footer>

<!--* NUEVO PROYECTO -->
<dialog id="frmPryNew" class="m-auto text-white bg-cyan-900 border-4 border-cyan-800 rounded-md">
	<header class="flex items-center gap-2 p-2 bg-cyan-800">
		<h2 class="grow text-xl">
			Nuevo proyecto
		</h2>
		<button class="inline-block float-right px-2 text-2xl rounded-md hover:opacity-75"
			type="button"
			onclick="this.closest('dialog').close()"
			title="Cerrar"
			>
			<i class="fa-solid fa-xmark"></i>
		</button>
	</header>
	<div class="p-2 pb-0 text-right">
		<button class="italic font-semibold text-cyan-500 underline transition-colors rounded-sm hover:text-cyan-400 whitespace-nowrap"
			type="button"
			onclick="frmPryNew.close(); importProyecto.showModal()"
			>
			Importar JSON...
		</button>
	</div>
	<form class="flex flex-col gap-2 p-2"
		hx-post="/proyectos"
		>
		<label>
			Título
			<input class="form-control"
				type="text"
				name="titulo"
				onchange="newPryClave.value=normalizar(this.value.replaceAll(' ',''))"
				required
				>
		</label>
		<label>
			Clave
			<input id="newPryClave" class="form-control"
				type="text"
				name="clave"
				required
				>
		</label>
		<label>
			Descripción
			<textarea class="form-control"
				name="descripcion"
				rows="2"
				></textarea>
		</label>
		<label>
			Color
			<input class="form-control"
				type="text"
				name="color"
				>
		</label>
		<button class="grow p-2 text-lg font-semibold transition-colors bg-cyan-700 rounded-sm shadow-md hover:bg-cyan-600"
			type="submit"
			onclick="this.closest('dialog').close()"
			>
			Guardar
		</button>
	</form>
</dialog>

<!--* IMPORTAR -->
<dialog id="importProyecto" class="m-auto text-white bg-cyan-900 border-4 border-cyan-800 rounded-md">
	<header class="flex items-center gap-2 p-2 bg-cyan-800">
		<h2 class="grow text-xl">
			Importar proyecto
		</h2>
		<button class="inline-block float-right px-2 text-2xl rounded-md hover:opacity-75"
			type="button"
			onclick="this.closest('dialog').close()"
			title="Cerrar"
			>
			<i class="fa-solid fa-xmark"></i>
		</button>
	</header>
	<form class="flex flex-col gap-2 p-2">
		<div class="py-2">
			<label for="importProyectoFile">
				JSON del proyecto
			</label>
			<input id="importProyectoFile" class="form-control"
				type="file"
				accept="application/json"
				name="proyecto"
				required
				>
		</div>
		<button class="grow p-2 text-lg font-semibold transition-colors bg-cyan-700 rounded-sm shadow-md hover:bg-cyan-600"
			hx-encoding="multipart/form-data"
			hx-post="/proyectos/importar"
			type="button"
			onclick="this.closest('dialog').close()"
			>
			Importar
		</button>
	</form>
</dialog>

{{ define "proyecto_form" }}
<dialog id="frmPry{{ .ProyectoID }}" class="m-auto {{ if gt (len .Descripcion) 500 }}w-full {{ end }}text-white bg-cyan-900 border-4 border-cyan-800 rounded-md">
	<header class="flex items-center gap-2 p-2 bg-cyan-800">
		<h2 class="grow text-xl">
			Modificar proyecto
		</h2>
		<button class="inline-block float-right px-2 text-2xl rounded-md hover:opacity-75"
			type="button"
			onclick="this.closest('dialog').close()"
			title="Cerrar"
			>
			<i class="fa-solid fa-xmark"></i>
		</button>
	</header>
	<div class="flex flex-wrap justify-end p-2 pb-0 gap-x-4 gap-y-2">
		<a class="italic font-semibold text-cyan-500 underline transition-colors rounded-sm hover:text-cyan-400 whitespace-nowrap"
			href="/h/{{ .ProyectoID}}/exportar.json"
			target="_blank"
			>
			Exportar JSON
		</a>
		<a class="italic font-semibold text-cyan-500 underline transition-colors rounded-sm hover:text-cyan-400 whitespace-nowrap"
			href="/h/{{ .ProyectoID}}/exportar.md"
			target="_blank"
			>
			Exportar Markdown
		</a>
	</div>
	<form class="flex flex-col gap-2 p-2"
		hx-encoding="multipart/form-data"
		hx-put="/proyectos/{{ .ProyectoID }}"
		>
		<label>
			Título
			<input class="form-control"
				type="text"
				name="titulo"
				required
				value="{{ .Titulo }}"
				>
		</label>
		<label>
			Clave
			<input class="form-control"
				type="text"
				name="clave"
				required
				value="{{ .ProyectoID }}"
				>
		</label>
		<label>
			Descripción
			<textarea class="form-control"
				name="descripcion"
				rows="1"
				>
				{{- .Descripcion -}}
			</textarea>
		</label>
		<div>
			<img tipo="img_preview" class="hidden object-cover mx-auto mb-2 rounded-md shadow-lg aspect-square w-60"
				src=""
				>
		</div>
		<label>
			Imagen
			<input class="form-control"
				type="file"
				accept="image/png, image/jpeg, image/gif"
				name="imagen"
				onchange="showImagen(this)"
				>
		</label>
		<label>
			Color
			<input class="form-control"
				type="text"
				name="color"
				value="{{ .Color }}"
				>
		</label>
		<label>
			Posición
			<input class="form-control"
				type="number"
				name="posicion"
				value="{{ .Posicion }}"
				>
		</label>
		<div class="flex flex-row-reverse pt-4 gap-x-4 gap-y-2">
			<button class="grow p-2 text-lg font-semibold transition-colors bg-cyan-700 rounded-sm shadow-md hover:bg-cyan-600"
				type="submit"
				onclick="this.closest('dialog').close()"
				>
				Guardar
			</button>
			<button class="p-2 transition-opacity bg-red-800 rounded-sm shadow-md opacity-75 hover:opacity-100 focus:opacity-100"
				hx-confirm="Se sugiere exportar JSON antes de continuar. ¿Eliminar proyecto {{ .Titulo }} junto con todo lo que contiene?"
				hx-delete="/proyectos/{{ .ProyectoID}}/definitivo"
				hx-prompt="Escribe 'eliminar_{{ .ProyectoID}}' para confirmar"
				type="button"
				onclick="this.closest('dialog').close()"
				>
				Eliminar
			</button>
		</div>
	</form>
</dialog>
{{ end 	}}

<div hx-askfor="/h">
	{{ range .Proyectos }}
	{{ template "proyecto_form" . }}
	{{ end }}
</div>

<script>
	function showProyectoForm(proyectoID) {
		let form = document.getElementById(`frmPry${proyectoID}`);
		form.showModal();
		let input = form.querySelector("input");
		input.focus();
		input.setSelectionRange(input.value.length, input.value.length);
	}

	function showImagen(input) {
		const [file] = input.files
		if (file) {
			let img = input.closest("form").querySelector("img[tipo=img_preview]")
			img.classList.remove("hidden")
			img.classList.add("block")
			img.src = URL.createObjectURL(file)
		}
	}
</script>
