<header class="relative flex items-center w-full bg-cyan-950 shadow-lg">
	<div class="p-1">
		<img src="{{ if .Proyecto.Imagen }}/imagenes/{{ .Proyecto.Imagen }}{{ else }}/assets/img/Elegantthemes-Softies-Tools.256.png{{ end }}" alt="Portada del proyecto" class="w-24 rounded-md">
	</div>
	<div class="w-full p-2">
		<h2 class="text-2xl font-medium">
			{{ .Proyecto.Titulo }}
		</h2>
		<p class="text-sm opacity-75">
			{{ .Proyecto.Descripcion }}
		</p>
	</div>
	<span class="absolute right-2 top-2">
		<a href="/" class="px-2 py-1 bg-red-800 rounded-md opacity-75 hover:opacity-100">
			<i class="fa-solid fa-xmark"></i>
		</a>
	</span>
</header>

<main tipo="sort_personas" class="flex flex-wrap items-center justify-center flex-grow gap-4 pt-4 pb-2 overflow-x-auto">
	{{ range .Personas -}}
	<article tipo="sort_persona" id="{{ .PersonaID }}" class="relative flex flex-col items-center justify-center p-4 bg-cyan-950 rounded-md shadow-lg min-w-64 max-w-96 min-h-32">
		<a href="/personas/{{ .PersonaID }}" class="text-4xl" tabindex="-1">
			<i class="fa-solid fa-person"></i>
		</a>
		<a href="/personas/{{ .PersonaID }}" class="text-lg font-medium">
			{{- .Nombre -}}
		</a>
		<p class="pt-2 text-sm opacity-75">
			{{- .Descripcion -}}
		</p>
		<span class="absolute top-0 left-0 px-1 opacity-75 cursor-pointer rounded-br-md rounded-tl-md" tipo="sort_handle">
			<i class="px-2 py-2 fa-solid fa-grip"></i>
		</span>
		<span class="absolute top-0 right-0 px-1 opacity-75 rounded-tr-md rounded-bl-md">
			<button type="button" onclick="showPersonaForm(this.parentNode.parentNode.id)">
				<i class="px-2 py-2 fa fa-pen"></i>
			</button>
		</span>
	</article>
	{{ end }}

	<!-- Agregar persona -->
	{{ if .Personas }}
	<button class="px-1 bg-cyan-700 rounded-full" type="button" onclick="showPersonaForm('Nueva')">
		<i class="fa-solid fa-plus"></i>
	</button>
	{{ else }}
	<button class="px-2 py-1 bg-cyan-700 rounded-full" type="button" onclick="showPersonaForm('Nueva')">
		Agregar personaje <i class="fa-solid fa-plus"></i>
	</button>
	{{ end }}
</main>

<dialog id="frmPerNueva" class="p-3 rounded-lg">
	<header class="flex flex-wrap items-center gap-3 pb-2">
		<h2 class="flex-grow w-full text-xl text-center sm:w-auto sm:text-left">Agregar persona</h2>
		<button type="button" class="w-10 py-1 text-xl text-slate-200 bg-slate-600 rounded-lg" onclick="this.closest('dialog').close()" title="Cerrar"><i class="fa-solid fa-xmark"></i></button>
	</header>
	<form class="flex flex-col gap-4" hx-post="/personas">
		<div>
			<label for="newPers_00">Proyecto</label>
			<select id="newPers_00" name="proyecto_id" class="form-control">
				{{ range $.Proyectos -}}
				<option value="{{ .ProyectoID }}" {{ if eq $.Proyecto.ProyectoID .ProyectoID }}selected{{ end }}>{{ .Titulo }}</option>
				{{ end }}
			</select>
		</div>
		<div>
			<label for="newPers_01">Nombre</label>
			<input id="newPers_01" name="nombre" value="" type="text" class="form-control">
		</div>
		<div>
			<label for="newPers_02">Descripción</label>
			<textarea id="newPers_02" name="descripcion" rows="1" class="form-control"></textarea>
		</div>
		<button 
			type="submit"
			onclick="this.closest('dialog').close()"
			class="w-full p-2 mt-2 text-lg font-medium text-white transition-colors bg-cyan-900 rounded shadow-md hover:bg-cyan-800">
			Guardar
		</button>
	</form>
</dialog>

{{ range .Personas }}{{ $persona := . }}
<dialog id="frmPer{{ .PersonaID }}" class="p-3 rounded-lg">
	<header class="flex flex-wrap items-center gap-3 pb-2">
		<h2 class="flex-grow w-full text-xl text-center sm:w-auto sm:text-left">Modificar</h2>
		<button type="button" class="w-10 py-1 text-xl text-slate-200 bg-slate-600 rounded-lg" onclick="this.closest('dialog').close()" title="Cerrar"><i class="fa-solid fa-xmark"></i></button>
	</header>
	<form class="flex flex-col gap-4" hx-patch="/personas/{{ .PersonaID }}">
		<div>
			<label for="newPers_00">Proyecto</label>
			<select id="newPers_00" name="proyecto_id" class="form-control">
				{{ range $.Proyectos -}}
				<option value="{{ .ProyectoID }}" {{ if eq $persona.ProyectoID .ProyectoID }}selected{{ end }}>{{ .Titulo }}</option>
				{{ end }}
			</select>
		</div>
		<div>
			<label for="{{ .PersonaID }}_01">Nombre</label>
			<input id="{{ .PersonaID }}_01" name="nombre" value="{{ .Nombre }}" type="text" class="form-control">
		</div>
		<div>
			<label for="{{ .PersonaID }}_02">Descripción</label>
			<textarea id="{{ .PersonaID }}_02" name="descripcion" rows="1" class="form-control">
				{{- .Descripcion -}}
			</textarea>
		</div>
		<button
			type="button"
			hx-delete="/personas/{{ .PersonaID}}"
			hx-confirm="¿Eliminar persona {{ .Nombre }}?"
			onclick="this.closest('dialog').close()"
			class="w-full p-2 text-lg font-medium text-white transition-colors bg-red-900 rounded shadow-md hover:bg-red-800">
			Eliminar
		</button>
		<button
			type="submit"
			onclick="this.closest('dialog').close()"
			class="w-full p-2 text-lg font-medium text-white transition-colors bg-cyan-900 rounded shadow-md hover:bg-cyan-800">
			Guardar
		</button>
	</form>
</dialog>
{{ end 	}}

<script>
	function showPersonaForm(personaID) {
		let form = document.getElementById(`frmPer${personaID}`);
		form.showModal();
		let input = form.querySelector("input");
		input.focus();
		input.selectionEnd = input.value.length;
	}

	// ================================================================ //
	// ========== Reordenar =========================================== //

	function reordenarPersona(personaID, newPosicion) {
		console.debug(`reordenarPersona(id:${personaID}, pos:${newPosicion})`)
		if (personaID == null) {
			return console.error("No se puede reordenar persona sin ID")
		}
		let formData = new FormData();
		formData.append("newPosicion", newPosicion);
		fetch(`/nodos/${personaID}/reordenar`, { method: 'POST', body: formData }).then(response => handleResponse(response));
	}

	function handleResponse(response) {
		response.text().then((msg) => {
			if (response.status >= 200 && response.status < 300) {
				console.log(msg)
			} else {
				alert(msg)
			}
		})
	}
	
	var sortablePersonas = new Sortable(document.querySelector("[tipo='sort_personas']"), {
		animation: 150, swapThreshold: 0.50,
		draggable: "[tipo='sort_persona']",
		handle: "[tipo='sort_handle']",
		ghostClass: "opacity-50",
		onEnd: function(event) {
			let personaID = event.item.id
			if (personaID == null) { 
				return console.error("personaID null") 
			}
			if (event.oldIndex != event.newIndex){
				return reordenarPersona(personaID, event.newIndex + 1)
			}
		},
	});

</script>