<dialog id="edit{{ .TareaID }}" class="m-auto text-white bg-cyan-900 border-4 border-cyan-800 rounded-md">
	<header class="flex items-center gap-2 p-2 bg-cyan-800">
		<h2 class="grow text-xl">
			Tarea
			<span class="text-xs opacity-50">
				{{ .TareaID }}
			</span>
		</h2>
		<button class="inline-block float-right px-2 text-2xl rounded-md hover:opacity-75"
			type="button"
			onclick="this.closest('dialog').close()"
			title="Cerrar"
			>
			<i class="fa-solid fa-xmark"></i>
		</button>
	</header>
	<form class="flex flex-col gap-2 p-2"
		hx-patch="/h/{{ .TareaID }}"
		>
		<div class="pt-2">
			{{ if .NoIniciada -}}
			<button class="inline-block w-full px-4 py-2 text-lg text-slate-100 transition-colors rounded-sm shadow-md bg-cyan-700/70 hover:bg-cyan-700"
				hx-post="/h/{{ .TareaID }}/iniciar"
				type="button"
				onclick="this.closest('dialog').close()"
				title="Iniciar tarea"
				>
				<i class="mr-1 fa-solid fa-play"></i>
				Iniciar
			</button>
			{{ else if .EnCurso -}}
			<div class="grid grid-cols-1 gap-3 md:grid-cols-2">
				<button class="inline-block w-full px-4 py-2 text-lg text-slate-100 transition-colors rounded-sm shadow-md bg-cyan-700/70 hover:bg-cyan-700"
					hx-post="/h/{{ .TareaID }}/pausar"
					type="button"
					onclick="this.closest('dialog').close()"
					title="Pausar tarea"
					>
					<i class="mr-1 fa-solid fa-pause"></i>
					Pausar
				</button>
				<button class="inline-block w-full px-4 py-2 text-lg text-slate-100 transition-colors rounded-sm shadow-md bg-cyan-700/70 hover:bg-cyan-700"
					hx-post="/h/{{ .TareaID }}/terminar"
					type="button"
					onclick="this.closest('dialog').close()"
					title="Marcar como finalizada"
					>
					<i class="mr-1 fa-solid fa-square-check"></i>
					Finalizar
				</button>
			</div>
			{{ else if .EnPausa -}}
			<div class="grid grid-cols-1 gap-3 md:grid-cols-2">
				<button class="inline-block w-full px-4 py-2 text-lg text-slate-100 transition-colors rounded-sm shadow-md bg-cyan-700/70 hover:bg-cyan-700"
					hx-post="/h/{{ .TareaID }}/iniciar"
					type="button"
					onclick="this.closest('dialog').close()"
					title="Iniciar tarea"
					>
					<i class="mr-1 fa-solid fa-play"></i>
					Continuar
				</button>
				<button class="inline-block w-full px-4 py-2 text-lg text-slate-100 transition-colors rounded-sm shadow-md bg-cyan-700/70 hover:bg-cyan-700"
					hx-post="/h/{{ .TareaID }}/terminar"
					type="button"
					onclick="this.closest('dialog').close()"
					title="Marcar como finalizada"
					>
					<i class="mr-1 fa-solid fa-square-check"></i>
					Finalizar
				</button>
			</div>
			{{ else if .Finalizada -}}
			<button class="inline-block w-full px-4 py-2 text-lg text-slate-100 transition-colors rounded-sm shadow-md bg-cyan-700/70 hover:bg-cyan-700"
				hx-post="/h/{{ .TareaID }}/iniciar"
				type="button"
				onclick="this.closest('dialog').close()"
				title="Iniciar tarea"
				>
				<i class="mr-1 fa-solid fa-play"></i>
				Volver a iniciar
			</button>
			{{ end }}
		</div>

		<label>
			Descripción
			<textarea class="form-control"
				name="descripcion"
				onkeyup="if (event.key == 'Enter' && !event.shiftKey) { clickSubmit(this.form) }"
				placeholder="La tarea consiste en..."
				rows="2"
				>
				{{- .Descripcion -}}
			</textarea>
		</label>

		<label>
			Tipo de tarea
			<select class="form-control"
				name="tipo"
				>
				{{ $tipo := .Tipo }}
				{{ range .Tipo.Posibilidades -}}
				<option value="{{ .String }}" {{ if eq $tipo.String .String }}selected{{ end }}>
					{{ .Etiqueta }}
				</option>
				{{ end }}
			</select>
		</label>

		<label>
			Impedimentos
			<textarea class="form-control"
				name="impedimentos"
				onkeyup="if (event.key == 'Enter' && !event.shiftKey) { clickSubmit(this.form) }"
				placeholder="Consideraciones o detalles por resolver"
				>
				{{- .Impedimentos -}}
			</textarea>
		</label>

		<label>
			Tiempo estimado (min)
			<input class="form-control"
				type="text"
				name="segundos_estimado"
				placeholder="mm ó hh:mm"
				value="{{ if .SegundosEstimado }}{{ div .SegundosEstimado 60 }}{{ end }}"
				>
		</label>

		<label>
			Importancia
			<select class="form-control"
				name="importancia"
				>
				<option value="IDEA" {{ if .Importancia.EsIdea }}selected{{ end }}>
					Idea
				</option>
				<option value="MEJORA" {{ if .Importancia.EsMejora }}selected{{ end }}>
					Mejora
				</option>
				<option value="NECESARIA" {{ if .Importancia.EsNecesaria }}selected{{ end }}>
					Necesaria
				</option>
			</select>
		</label>

		<input
			type="hidden"
			name="tarea_id"
			value="{{ .TareaID }}"
			>
		<input
			type="hidden"
			name="historia_id"
			value="{{ .HistoriaID }}"
			>
		<div class="pt-2">
			<button class="inline-block w-full px-6 py-2 font-medium text-slate-100 transition-colors bg-blue-700 rounded-sm shadow-md hover:bg-blue-600"
				type="submit"
				onclick="this.closest('dialog').close()"
				>
				Guardar cambios
			</button>
		</div>
		<div class="grid grid-cols-1 gap-3 pt-2 md:grid-cols-2">
			<button class="inline-block w-full px-6 py-2 font-medium text-red-500 transition-colors border-2 border-red-500 rounded-sm shadow-md hover:text-slate-100 hover:bg-red-800 hover:border-transparent"
				hx-delete="/h/{{ .TareaID }}"
				type="button"
				onclick="this.closest('dialog').close()"
				>
				Eliminar
			</button>
			<button class="inline-block w-full px-6 py-2 font-medium text-cyan-400 transition-colors border-2 border-cyan-600 rounded-sm shadow-md hover:text-slate-100 hover:bg-cyan-700 hover:border-transparent"
				type="button"
				onclick="this.closest('dialog').close(); showMoverTarea('{{ .TareaID }}', '{{ .Descripcion }}')"
				>
				Mover
			</button>
		</div>

	</form>
</dialog>

