<!DOCTYPE html>
<html lang="es_MX">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ if $.Titulo }}{{ $.Titulo }}{{ else }}Pargo{{ end }}</title>
		<link rel="shortcut icon" href="/assets/img/pargo_32.png" type="image/png">
		<link rel="stylesheet" type="text/css" href="/assets/css/estilo.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/fontawesome.min.css">

		<script>
			// Debug performance
			let tInicio = performance.now()
			let tAnterior = performance.now()
			function getTiempoTotal() {
				let tTotal = performance.now() - tInicio
				tTotal = Math.round(tTotal * 100) / 100
				return tTotal
			}
			function getTiempoParcial() {
				let tParcial = performance.now() - tAnterior
				tParcial = Math.round(tParcial * 100) / 100
				return tParcial
			}
			function logTimeSince(msg) {
				// console.log(`${msg} at ${getTiempoTotal()}ms`)
				// tAnterior = performance.now()
			}
			function logTimeTotal(msg, elm) {
				// if (elm){
				// 	console.log(`${msg} at ${getTiempoTotal()}ms`, elm)
				// } else {
				// 	console.log(`${msg} at ${getTiempoTotal()}ms`)
				// }
			}
			function logTimeHasta(msg, elm) {
				// if (elm){
				// 	console.log(`${msg} in ${getTiempoParcial()}ms`, elm)
				// } else {
				// 	console.log(`${msg} in ${getTiempoParcial()}ms`)
				// }
			}
		</script>

		<link rel="preload" href="/assets/js/main.js?v=03" as="script">
		{{ if $.ScriptsHistoria -}}
		<link rel="preload" href="/assets/js/historia.js" as="script">
		<link rel="preload" href="/assets/js/chart.js" as="script">
		{{- end }}
		<link rel="preload" href="/assets/js/htmx.js" as="script">

		<script defer src="/assets/js/main.js?v=03"></script>
		{{ if $.ScriptsHistoria -}}
		<script defer src="/assets/js/historia.js"></script>
		<script defer src="/assets/js/chart.js"></script>
		{{- end }}
		<script defer src="/assets/js/htmx.js"></script>
		<script defer src="/assets/js/gecko.js"></script>
		<script defer src="/assets/js/Sortable.min.js"></script>
	</head>
	
	<body class="h-full text-white bg-[#091a20]" hx-ext="gecko">
		
		<!-- Loading Bar Indicator -->
		<style>
			@keyframes loadingBarAnim {
				0% {
					transform: translateX(-100%);
				}
				100% {
					transform: translateX(100%);
				}
			}
			.loading-bar-animation {
				animation: loadingBarAnim 1s cubic-bezier(0.1,0.5,0.9,0.5) infinite;
			}
			.loading-bar{
				width: 100%;
				height: 4px;
				pointer-events: none;
			}
		</style>
		<div id="loadingBarDiv" class="fixed top-0 left-0 right-0 loading-bar">
			<div class="h-full w-full flex loading-bar-animation">
				<div class="h-full w-full bg-gradient-to-bl from-blue-500 from-10% to-transparent to-50%"></div>
				<div class="h-full w-8 bg-gradient-to-b from-blue-500 from-10% to-transparent"></div>
				<div class="h-full w-full bg-gradient-to-br from-blue-500 from-10% to-transparent to-50%"></div>
			</div>
		</div>
		<script>
			class LoadingBar {
				constructor(element) {
					this.element = element;
					this.counter = 0;
					this.showTimeout = null;
				}
				show() {
					this.counter++;
					document.getElementById('contenido').classList.add('opacity-50');
					// console.log("LoadingBar requests++", this.counter)
					if (this.showTimeout) {
						return // ya se va a mostrar
					}
					if (this.counter > 1) {
						return // ya se mostró
					}
					// console.log("LoadingBar will show...")
					this.showTimeout = setTimeout(() => {
						// console.log("LoadingBar shown")
						this.element.classList.remove('hidden');
						this.showTimeout = null;
					}, 400);
				}
				hide() {
					if (this.counter > 0) {
						this.counter--;
					}
					if (this.counter < 0) {
						this.counter = 0; // por si se llama demasiado a hide().
					}
					// console.log("LoadingBar requests--", this.counter)
					if (this.counter !== 0) {
						return // no ocultar si aún hay alguien que no ha llamado hide().
					}
					document.getElementById('contenido').classList.remove('opacity-50');
					if (this.showTimeout) { // cancelar show aún no se ha terminado el timeout para mostrarlo.
						// console.log("LoadingBar cancel show")
						clearTimeout(this.showTimeout);
						this.showTimeout = null;
						return
					}
					// console.log("LoadingBar will hide...")
					// Ocultar después de ciclo de animación
					this.element.addEventListener('animationiteration', () => {
						// console.log("LoadingBar hidden")
						this.element.classList.add('hidden');
					}, { once: true });
				}
			}
			const loadingBar = new LoadingBar(document.getElementById('loadingBarDiv'));
			window.addEventListener("load", (event) => {
				loadingBar.hide()
			});
			window.addEventListener("beforeunload", (event) => {
				loadingBar.show()
			});
			document.body.addEventListener('htmx:beforeRequest', (event) => {
				loadingBar.show()
			});
			document.body.addEventListener('htmx:afterRequest', (event) => {
				loadingBar.hide()
			});

		</script>

		<!-- CONTENIDO PRINCIPAL -->
		<div id="contenido" class="flex flex-col overflow-y-auto h-dvh opacity-50 pointer-events-none transition-opacity"
			hx-target="#contenido"
			hx-swap="innerHTML show:no-scroll"
			hx-push-url="false"
			hx-history="false"
			>
			{{ with $.Contenido }}{{ . }}{{ else }}No content{{ end }}
		</div>

	<!-- Toast -->
	<template id="toastTemplate">
		<div class="relative bg-white/75 rounded-md shadow-md px-3 py-2 pointer-events-auto after:content-['\00D7'] after:absolute after:top-2 after:right-2 hover:cursor-pointer hover:bg-gray-300">
			<span class="toast-message text-sm"></span>
		</div>
	</template>
	<dialog id="toastDialog" class="fixed mx-auto top-0 right-0 bg-transparent pointer-events-none">
		<div id="toastContainer" class="flex flex-col gap-2 w-64 text-black pt-4"></div>
	</dialog>
	<style>
		@keyframes fade-out {
			100% { opacity: 0; }
			0%   { opacity: 1; }
		}
	</style>
	<script>
		const toastDialog = document.getElementById('toastDialog');
		const toastContainer = document.getElementById('toastContainer');
		const fadeOutAnimation = 'fade-out 6000ms forwards'
		function removeToast(toast) {
			if (toastContainer.contains(toast)) {
				toastContainer.removeChild(toast);
			}
			if (toastContainer.children.length === 0) {
				toastDialog.close();
			}
		}
		function showToast(msg) {
			if (!toastDialog.open) {
				toastDialog.show() // No hay manera de mostrar encima de otro dialog.showModal()? D:
			}
			toastDialog.blur() // se enfoca cuando aparece antes de alguna interacción en la página.
			const toastTemplate = document.getElementById('toastTemplate').content.cloneNode(true)
			const toast = toastTemplate.querySelector('div')
			toast.querySelector('.toast-message').textContent = msg
			toastContainer.insertBefore(toast, toastContainer.firstChild)

			toast.addEventListener('click', () => { removeToast(toast) })
			let rmTimout = setTimeout(() => { removeToast(toast) }, 5000)
			toast.style.animation = fadeOutAnimation

			toast.addEventListener('mouseenter', () => {
				clearTimeout(rmTimout)
				toast.style.animation = ''
			})

			toast.addEventListener('mouseleave', () => {
				rmTimout = setTimeout(() => { removeToast(toast) }, 5000)
				toast.style.animation = fadeOutAnimation
			})
		}
	</script>

	<script>
		logTimeTotal("document parsed")
	</script>
	</body>
</html>