@import 'tailwindcss';

@theme {
  --cursor-edit: url('/assets/img/pen.svg'), pointer;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  code {
    @apply bg-slate-700 text-white p-1 rounded-md;
  }

  table > tbody > tr > td {
    @apply px-2 py-1
  }
  table > thead > tr > th {
    @apply px-2 py-1
  }

  select option {
    @apply text-black bg-cyan-100/50
  }

  select optgroup {
    @apply text-white bg-cyan-950/70
  }

}

@utility form-control {
  @apply w-full px-2 py-1 text-base font-medium text-white border rounded-md outline-hidden bg-cyan-950/50 border-cyan-700/50 focus:border-blue-400 focus:shadow-md;
}

@utility form-control-white {
  @apply w-full px-2 py-1 text-base font-medium text-gray-800 bg-white border border-slate-300 rounded-md outline-hidden focus:border-blue-800 focus:shadow-md;
}

/* Orden de tablas por columnas. Ver JS. */
.th-sort-asc::after {
	content: "\25b4";
	margin-left: 5px;
}
.th-sort-desc::after {
	content: "\25be";
	margin-left: 5px;
}

/* Scrollbar agradable */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #61616473;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #ffffff92;
    border-radius: 10px;
}

.scrollbar-stable {
	scrollbar-gutter: stable both-edges;
}
